%table#rubric-results-table
  %thead
    %tr
      %td.criterion.heading
        Criterion:&nbsp;Max&nbsp;points

      %td.level.heading(colspan="#{presenter.rubric.max_level_count}")
        Level: Points Awarded
      %td.comments.heading
        Comments


  %tbody
    - comments_by_criterion_id = presenter.comments_by_criterion_id(current_student)
    - presenter.criteria.ordered.each do |criterion|
      %tr
        %td.criterion
          .criterion-heading
            .criterion-name= criterion.wrapped_name(28).html_safe
            .criterion-points= "#{points criterion.max_points} Points"
            .clear
          .criterion-description= criterion.wrapped_description(40).html_safe

        - criterion.levels.order("points ASC").each do |level|
          %td.level.level-level
            .level-heading
              .level-name= level.wrapped_name(25).html_safe
              .clear
              .level-points= "#{points level.points} Points"
            .clear
            .level-description= level.description

            .row.badge-row
              - level.level_badges.each_with_index do |badge, index|
                - if index < 2
                  %span.level-badge-image
                    %img{:src => badge.badge.icon, width: "30px", height: "30px" }
              .clear

            - if current_user_is_staff? && presenter.viewable_rubric_level_earned?(current_student.id, level.id)
              .earned_level #{current_student.first_name} earned this level
            - elsif current_user_is_student? && presenter.rubric_level_earned?(current_student.id, level.id)
              .earned_level I earned this level

            - if !presenter.hide_analytics?
              - unless level.criterion_grades(current_user).empty?
                .students-padding
                .graded-students= "#{pluralize(level.criterion_grades(current_user).size, 'student')} earned this level"
        - if criterion.levels.size < presenter.rubric.max_level_count
          %td.filler(colspan="#{presenter.rubric.max_level_count - criterion.levels.size}")
        %td.level.level-comments.comments-box
          - unless comments_by_criterion_id.empty?
            = raw comments_by_criterion_id[criterion.id]
