- if presenter.grades_available_for?(current_student) || current_user_is_staff?

  = render "grades/components/title", grade: grade if current_user_is_staff?

  = render "grades/components/students_in_group", grade: grade

  = render "grades/components/score", grade: grade

  = render "grades/components/points_adjustment", grade: grade if grade.adjustment_points != 0

  = render "grades/components/attachments", grade: grade if grade.grade_files.present?

  = render "grades/components/feedback", grade: grade if grade.feedback.present?

  = render "grades/components/badges", grade: grade if grade.earned_badges.present?

  .rubric-container= render partial: 'grades/components/criterion_grade_results', locals: { presenter: presenter } if presenter.rubric_designed?

  = render partial: "grades/components/request_feedback", locals: { grade: grade, assignment: presenter.assignment } if current_user_is_student?

