- if presenter.grades_available_for?(current_student) || current_user_is_staff?
  - if current_user_is_staff?
    %h4.sr-only #{current_student.first_name}'s Grade
    %p.bold
      #{current_student.first_name}'s Grade
      %span
        %a{:href => "#{edit_assignment_grade_path(presenter.assignment)}?student_id=#{current_student.id}", :class => 'button'  }
          Edit
          %span.sr-only #{current_student.first_name}'s Grade

  - grade = presenter.grade_for(current_student)
  - if grade
    %p
      - if grade.pass_fail_status
        %span You
        %span.bold= "#{term_for(grade.pass_fail_status)}"
        %span= "the #{term_for :assignment}."
      - elsif grade.score.present?
        %span You earned
        %span.bold= "#{points grade.raw_score }"
        %span=" out of #{points presenter.assignment.point_total } possible points."

    - if presenter.assignment.release_necessary? && current_user_is_staff?
      %p
        %span.small_uppercase Status:
        %span.bold= grade.status
    - if grade.feedback.present?
      %span.small_uppercase Your Feedback:
      %p= raw grade.feedback
    - if grade.grade_files.present?
      %hr
      %h4.uppercase Attachments from Grader
      %ul#uploaded_files
        - grade.grade_files.each do |gf|
          %li
            = link_to gf.filename, gf.url, :target => "_blank"

  - if presenter.rubric_designed?
    .rubric-container= render partial: 'grades/rubric_grade_results', locals: { presenter: presenter }

  .right
    %br
    = render partial: "grades/request_feedback", locals: { grade: grade, assignment: presenter.assignment }
