.pageContent
  #rubric-grader(ng-app="gradecraft" ng-controller="GradeRubricCtrl" ng-init="init(#{@rubric[:id]}, #{@assignment[:id]}, #{params[:student_id]}, #{@criterion_grades}, \"#{@grade.status if @grade}\", #{@assignment.release_necessary?}, '#{@return_path}')")
    .row
      #rubric-heading.columns
        %h3.text-right
          Grade Assignment by Rubric
        %h4.text-right (click to select the level earned for each criterion)
        %br

      #points-overview-floating(ng-cloak ng-hide="angular.element('#points-overview').isOnscreen()")
        %h4#points-legend
          %span.points-assigned(ng-class="{'points-missing': pointsMissing(), 'points-satisfied': pointsSatisfied(), 'points-overage': pointsOverage()}") {{pointsGiven() | number:0}}
          \/{{pointsPossible | number:0}} Points Allocated
        %h4.notice(ng-hide="pointsSatisfied() || pointsMissing()") You have not yet allocated any points
        %h4.notice(ng-show="pointsMissing()") {{pointsRemaining() | number:0}} point{{pointsRemaining() > 1 ? "s" : ""}} have not been assigned
        %h4.notice(ng-show="pointsSatisfied()") You have allocated all possible points

      .clear

    #grade-status(ng-cloak)

    #rubric-grader-splash.columns.text-center(ng-cloak)
      Loading assignment...
      %br
      %br

    %table#grade-rubric-table.edit(ng-cloak)
      %thead
        %tr
          %td.criterion.heading
            %label.larger
              <strong>Criterion</strong>:&nbsp;Max&nbsp;points

          %td.level.heading(colspan="#{@rubric.max_level_count}")
            %label.larger
              %strong Level:
              Points Awarded
          %td.comments.heading(ng-show="levelsSelected().length > 0")
            %label.larger
              Comments

      %tbody
        %tr(ng-repeat="criterion in criteria")
          %td.criterion
            .criterion-heading
              .criterion-name {{criterion.name.replace(' ','&nbsp;')}}
              .criterion-points
                {{(criterion.max_points || 0) | number:0}}&nbsp;Points
            .criterion-description {{criterion.description}}

          %td.level.level-level(ng-repeat="level in criterion.levels" ng-click="criterion.gradeWithLevel(level)" ng-class="{selected: criterion.isUsingLevel(level)}")
            .level-heading
              .level-name {{level.name.replace(' ','&nbsp;')}}
              .level-points
                {{level.points | number:0}}&nbsp;Points
                %input(class="level-select" type='radio' name="criterion_level_{{criterion.id}}" ng-checked="criterion.isUsingLevel(level)")
            .clear
            .level-description
              {{level.description}}
            .row.badge-row
              .level-badge-image(ng-repeat="(levelBadgeId, levelBadge) in level.badges")
                %img(ng-src="{{levelBadge.badge.icon}}" height="50px")
              .clear
          %td.filler(ng-show="criterion.levels.length < #{@rubric.max_level_count}" colspan="{{#{@rubric.max_level_count} - criterion.levels.length}}")
          %td.comments-box
            %textarea(ng-model="criterion.comments")

    %br
    .right
      .points-given
        .points-overview.bottom(ng-cloak)
          %h4.points-legend
            %span.points-assigned(ng-class="{'points-missing': pointsMissing(), 'points-satisfied': pointsSatisfied(), 'points-overage': pointsOverage()}") {{pointsGiven() | number:0}}
            \/{{pointsPossible | number:0}} Points Allocated
          %h4.notice(ng-hide="pointsSatisfied() || pointsMissing()") You have not yet allocated any points
          %h4.notice(ng-show="pointsMissing()") {{pointsRemaining() | number:0}} point{{pointsRemaining() > 1 ? "s" : ""}} have not been assigned
          %h4.notice(ng-show="pointsSatisfied()") You have allocated all possible points
    .clear


    - if @assignment.release_necessary?
      .right

        .row
          - if current_user_is_gsi?
            %select(ng-model="gradeStatus" ng-options="status for status in gsiGradeStatuses")
              %option(value="" disabled) Select grade status for this submission...
            .form_label Is this grade ready to be reviewed?
          - else
            %select(ng-model="gradeStatus" ng-options="status for status in professorGradeStatuses")
              %option(value="" disabled) Select grade status for this submission...
            .align-right.form_label Can the student see this grade?

    .clear
    .right
      %button#submit-grade(ng-click="submitGrade()" ng-disabled="selectedLevels().length == 0") Submit Grade
