%table#rubric-results-table
  %thead
    %tr
      %td.metric.heading
        Criterion:&nbsp;Max&nbsp;points

      %td.tier.heading(colspan="#{presenter.rubric.max_tier_count}")
        Level: Points Awarded
      %td.comments.heading(ng-show="tiersSelected().length > 0")
        Comments


  %tbody
    - comments_by_metric_id = presenter.comments_by_metric_id(current_user)
    - presenter.metrics.ordered.each do |metric|
      %tr
        %td.metric
          .metric-heading
            .metric-name= metric.wrapped_name(28).html_safe
            .metric-points= "#{points metric.max_points} Points"
            .clear
          .metric-description= metric.wrapped_description(40).html_safe

        - metric.tiers.order("points ASC").each do |tier|
          %td.tier.tier-level
            .tier-heading
              .tier-name= tier.wrapped_name(25).html_safe
              .clear
              .tier-points= "#{points tier.points} Points"
            .clear
            .tier-description= tier.description

            .row.badge-row
              - tier.tier_badges.each_with_index do |badge, index|
                - if index < 2
                  %span.tier-badge-image
                    %img{:src => badge.badge.icon, width: "30px", height: "30px" }
              .clear

            - if current_user_is_staff? && presenter.viewable_rubric_tier_earned?(current_student.id, tier.id)
              .earned_tier #{current_student.first_name} earned this level
            - elsif current_user_is_student? && presenter.rubric_tier_earned?(current_student.id, tier.id)
              .earned_tier I earned this level

            - if !presenter.hide_analytics?
              - unless tier.rubric_grades(current_user).empty?
                .students-padding
                .graded-students= "#{pluralize(tier.rubric_grades(current_user).size, 'student')} earned this level"
        - if metric.tiers.size < presenter.rubric.max_tier_count
          %td.filler(colspan="#{presenter.rubric.max_tier_count - metric.tiers.size}")
        %td.tier.tier-comments.comments-box
          - unless comments_by_metric_id.empty?
            = comments_by_metric_id[metric.id]
