.pageContent
  #rubric-grader(ng-app="gradecraft" ng-controller="GradeRubricCtrl" ng-init="init(#{rubric.assignment_id}, '#{recipient_type}', #{recipient_id})")
    .row
      #rubric-heading.columns
        %h3.text-right Grade Assignment by Rubric
        %h4.text-right (click to select the level earned for each criterion)
        %br

      #points-overview-floating(ng-cloak ng-hide="angular.element('#points-overview').isOnscreen()")
        %h4#points-legend
          %span.points-assigned(ng-class="{'points-missing': pointsMissing(), 'points-satisfied': pointsSatisfied(), 'points-overage': pointsOverage()}") {{ finalPoints() | number:0 }} Points
        %h4.notice(ng-hide="!pointsSatisfied() && !pointsMissing()") {{ pointsAllocated() | number:0 }} / {{ pointsPossible() | number:0 }} Points Allocated
        %h4.notice(ng-hide="pointsSatisfied() || pointsMissing()") You have not yet allocated any points
        %h4.notice(ng-show="pointsMissing()") {{ pointsRemaining() | number:0 }} point{{ pointsRemaining() > 1 ? "s" : "" }} have not been assigned
        %h4.notice(ng-show="pointsSatisfied()") You have allocated all possible points
        %h4.notice(ng-show="isBelowThreshold()") {{ pointsBelowThreshold() | number:0 }} points below the threshold
        %h4.notice.adjustment(ng-class="{'positive-adjustment' : adjustmentPoints() > 0}" ng-show="pointsAdjusted()") You have adjusted the total by {{adjustmentPoints()}} points


    #grade-status(ng-cloak)

    #rubric-grader-splash.columns.text-center(ng-cloak)
      Loading assignment...
      %br
      %br

    #rubric-grade-edit.rubric.edit(ng-cloak)
      .criterion(ng-repeat="criterion in criteria")
        .criterion-heading
          %h4.criterion-name {{criterion.name.replace(" ","&nbsp;")}} {{(criterion.max_points || 0) | number:0}}&nbsp;Points
          %p.criterion-description {{criterion.description}}

        %ul.level-tabs
          %li.level-tab(ng-repeat="level in criterion.levels" ng-click="criterion.gradeWithLevel(level)" ng-class="{selected: criterion.isUsingLevel(level), 'meets-expectations': level.pointsMeetExpectations()}")
            .level-heading
              .level-details
                %span.check-mark= glyph("check")
                .level-name {{level.name.replace(" ","&nbsp;")}}
                .level-points
                  {{level.points | number:0}}&nbsp;Points
              %ul.badge-row.design-view
                %li.level-badge-image(ng-repeat="(levelBadgeId, levelBadge) in level.badges")
                  %img(ng-src="{{levelBadge.badge.icon}}")

            .level-description
              .level-meets-expectations(ng-show="level.pointsMeetExpectations()") Meets Expectations
              {{level.description}}

        .comments-box
          %textarea(ng-model="criterion.comments" ng-model-options="{debounce: 1000}" ng-change="updateCriterion(criterion, 'comments')" froala="froalaOptions")

    %br
    .right
      .points-given
        .points-overview.bottom(ng-cloak)
          %h4.points-legend
            %span.points-assigned(ng-class="{'points-missing': pointsMissing(), 'points-satisfied': pointsSatisfied(), 'points-overage': pointsOverage()}") {{pointsAllocated() | number:0}}
            \/{{pointsPossible() | number:0}} Points Allocated
          %h4.notice(ng-hide="pointsSatisfied() || pointsMissing()") You have not yet allocated any points
          %h4.notice(ng-show="pointsMissing()") {{pointsRemaining() | number:0}} point{{pointsRemaining() > 1 ? "s" : ""}} have not been assigned
          %h4.notice(ng-show="pointsSatisfied()") You have allocated all possible points
          %h4.notice(ng-show="isBelowThreshold()") {{ pointsBelowThreshold() | number:0 }} points below the threshold
      %br
      .points-adjustment(ng-cloak)
        %h4 Points Adjustment
        %input(type="text" placeholder="Enter points adjustment to calculated total" smart-number="" ng-model="grade.adjustment_points")
      %br
      .total-points(ng-cloak)
        %h3 {{finalPoints() | number:0}} Total Points


    .right
      .points-adjustment-feedback(ng-if="grade.adjustment_points != 0" ng-cloak)
        %h4.text-right Points Adjustment Feedback
        %textarea(ng-model="grade.adjustment_points_feedback" froala="froalaOptions")
    .clear

    - if recipient_type == "student"
      %file-uploader

    %br

    .summary_feedback
      %h3.text-right Overall Feedback
      %textarea(ng-model="grade.feedback" ng-model-options="{debounce: 1000}" ng-change="updateGrade()" froala="froalaSummaryOptions")
    .clear
    %br

    .right
      .row
        %select(ng-model="grade.status" ng-options="status for status in gradeStatusOptions")
          %option(value="" disabled) Select grade status for this submission...
        .align-right.form_label Can the student see this grade?

    .clear
    %br

    .right
      %button#submit-grade(ng-click="submitGrade('#{return_path}')" ng-class='{"disabled" : !grade.status}') Submit Grade
      - if recipient_type == "student"
        %button#submit-grade(ng-click="submitGrade('#{grade_next_path}')" ng-class='{"disabled" : !grade.status}') Submit and Grade Next

    - if recipient_type == "student" && current_course.has_badges?
      %h3= "Award #{ @grade.student.name } #{term_for :badges} for #{ @grade.assignment.name }:"
      %award-earned-badges(student-id="#{grade.student_id}" grade-id="#{grade.id}")
