.pageContent
  = render partial: "layouts/alerts", locals: { model: @grade }

  = render partial: "submissions/assignment_guidelines", locals: { assignment: @grade.assignment }

  - if @grade.assignment.accepts_submissions? && @submission.present?
    %hr.dotted

    %section

      %h4.uppercase= "#{@grade.student.first_name}'s Submission"
      = render partial: "submissions/submission_content",
        locals: { presenter: Submissions::ShowPresenter.new(id: @submission.id,
            assignment_id: @grade.assignment.id, course: current_course) }
    %hr.dotted

  - if @grade.assignment.grade_with_rubric?
    = render partial: "rubric_edit", locals: { rubric: @grade.assignment.rubric, recipient_type: "student", recipient_id: @grade.student.id, grade: @grade, return_path: URI(request.referer || "").path,  grade_next_path: @grade_next_path }
  - else
    = render partial: "standard_edit", locals: { grade: @grade, badges: @badges, submission: @submission, recipient_type: "student", recipient_id: @grade.student.id }
