= content_nav_for @assignment, "Edit Grade"

%h3.pagetitle= @title

.pageContent
  = render partial: "layouts/alerts", locals: { model: @grade, display_flash: false }

  = render partial: "submissions/assignment_guidelines", locals: { assignment: @assignment }

  - if @assignment.accepts_submissions? && @student.submission_for_assignment(@assignment).present?
    %section

      %h4.uppercase= "#{@student.first_name}'s Submission"
      = render partial: "submissions/submission_content",
          locals: { presenter: Submissions::ShowPresenter.new(id: @submission.id,
            assignment_id: @assignment.id, course: current_course) }

  - if @assignment.grade_with_rubric?
    = render "rubric_edit"
  - else
    = render "standard_edit"
