= content_nav_for @assignment, "See Grade"

%h3.pagetitle= @title

.pageContent
  = render "layouts/alerts"
  - if @assignment.is_individual?
    = render partial: "individual_show", locals: { presenter: presenter }
  - else
    = render partial: "group_show", locals: { presenter: presenter }