= content_nav_for @assignment, "See Grade"

%h3.pagetitle= @title

.pageContent
  = render 'layouts/alerts'
  
  - if @assignment.is_individual?
    = render "individual_show"

  - else
    = render "group_show"