= content_nav_for @grade.assignment, "See Grade"

%h3.pagetitle= @title

.pageContent
  = render "layouts/alerts"

  / render "grade_content", presenter: presenter
  = render partial: "grades/components/edit_button", locals: { grade: @grade }
  - if @grade.excluded_from_course_score?
    = render partial: "grades/components/excluded", locals: { grade: @grade }
  - unless @grade.group.nil?
    = render partial: "grades/components/students_in_group", locals: { grade: @grade }
  - if @grade.assignment.threshold_points
    = render partial: "grades/components/threshold", locals: { grade: @grade }
