= content_nav_for @assignment, "See Grade"

%h3.pagetitle= @title

- if @assignment.is_individual?
  = render "individual_show"

<<<<<<< HEAD
- else
  = render "group_show"
=======
  - if @assignment.is_individual?
    = render "individual_show"

  - else
    = render "group_show"
>>>>>>> Removed extra foundation styles, fixed arrows on collapse
