.card-header
  %h3 Upcoming Events
.card-body
  %i#events-loading-spinner.fa.fa-spinner.fa-spin.fa-fw
  .slide-container
    - @events.each do |event|
      .event-slide
        .slide-header
          %h4.event-name= link_to event.name, event
        - if event.open_at || event.due_at?
          %p.event-date= glyph(:calendar) + "#{event.open_at} - #{event.due_at}"
        .slide-body
          .event-image
            %img{:src => event.media }
          .event-description
            %p
              = (truncate event.description, :length => 200, :omission => "...", :escape => false)
              = link_to "Read More", event_path(event)
