.text-center
  %h3 Points Distribution
  %hr
  %h4.not_bold.italic= "You've earned #{points current_student.cached_score_for_course(current_course)} points"
  #student_grade_distro{"data-scores"=> current_student.scores_for_course(current_course).to_json}
  #gradeDistro
  .italic= "Class Average: #{points current_course.average_course_score} points"
  .italic= "Low Score: #{points current_course.minimum_course_score} points"
  .italic= "High Score: #{points current_course.maximum_course_score} points"
  .italic.small= link_to "How do I read this chart?", "http://www.youtube.com/watch?v=7UK2DK7rblw&feature=youtu.be", :target => "_blank"
