.text-center
  %h3= term_for :badges
  %hr
  %ul.block-grid
    - current_student.unique_student_earned_badges(current_course).each do |badge|
      %li
        - if badge.point_total.present? && badge.point_total > 0
          - if badge.is_unlockable?
            - if badge.is_unlocked_for_student?(current_student)
              .icon
                .icon-tooltip
                  %i.fa.fa-unlock-alt= "#{badge.name}, #{badge.point_total} points"
                %img{:src => badge.icon, :alt => "You've earned the #{badge.name} badge", :class => "earned"}
            - else
              .icon
                .icon-tooltip
                  %i.fa.fa-lock= "#{badge.name}, #{badge.point_total} points"
                %img{:src => badge.icon, :alt => "You've earned the #{badge.name} badge", :class => "earned"}
          - else
            .icon
              .icon-tooltip
                ="#{badge.name}, #{badge.point_total} points"
              %img{:src => badge.icon, :alt => "You've earned the #{badge.name} badge", :class => "earned"}
        - else
          .icon
            .icon-tooltip
              = "#{badge.name}"
            %img{:src => badge.icon, :alt => "You've earned the #{badge.name} badge", :class => "earned"}
    - current_student.student_visible_unearned_badges(current_course).each do |badge|
      %li
        .icon
          .icon-tooltip
            = "Not yet earned: #{badge.name}"
          %img{:src => badge.try(:icon), :alt => "#{badge.try(:name)}", :class => "unearned"}
    - if current_student.earned_badge_score > 0
      .italic.small= "You've earned #{points current_student.earned_badge_score} points through #{(term_for :badges).titleize}."
