= content_nav_for @assignment, "Update Grade Status"

%h3.pagetitle= @title

.pageContent
  = render "layouts/alerts"

  %table.dynatable
    %thead
      %tr
        %th= term_for :student
        %th Score
        %th Current Status
    %tbody
      - for grade in @grades
        %tr
          %td= grade.student.name
          %td= points grade.final_points
          %td= grade.status

  = simple_form_for :grade, :url => update_status_assignment_grades_path(@assignment), :html => { :method => :put} do |f|
    - for grade in @grades
      = hidden_field_tag "grade_ids[]", grade.id
    .right= f.input :status, :label => "Update Status to:", as: :select, :collection => Grade::STATUSES
    .clear
    .submit-buttons
      %ul
        %li= f.button :submit, "Update Statuses"
        %li= link_to glyph("times-circle") + "Cancel", assignment_path(@assignment), class: "button"
