= content_nav_for @assignment, "Import Results"

%h3.pagetitle Import Results

.pageContent
  = render "layouts/alerts"

  - unless @result.unsuccessful.empty?
    %h4.subtitle
      = "#{@result.unsuccessful.count} #{"Grade".pluralize(@result.unsuccessful.count)} Not Imported"
    %table.dynatable
      %thead
        %tr
          %th Data
          %th Error(s)
      %tbody
        - @result.unsuccessful.each do |row|
          %tr
            %td= row[:data]
            %td= row[:errors]

  %h4.subtitle
    = "#{@result.successful.count} #{"Grade".pluralize(@result.successful.count)} Imported Successfully"
  = render partial: "assignments/grades/import_results_table", locals: { grades: @result.successful }

  - unless @result.unchanged.empty?
    %h4.subtitle
      = "#{@result.unchanged.count} #{"Grade".pluralize(@result.unchanged.count)} Not Imported (already existed)"
    = render partial: "assignments/grades/import_results_table", locals: { grades: @result.unchanged }
