.pageContent
  = render "layouts/alerts"

  %team-selector.right.select-menu{"course-id"=>"#{current_course.id}",
                       "team-term"=>"#{term_for :team}"}

  %mass_edit_form{"assignment-id"=>"#{@assignment.id}",
                  "form-action"=>"#{mass_update_assignment_grades_path(@assignment.id)}",
                  "form-cancel-route"=>"#{assignment_path(@assignment)}",
                  "authenticity-token"=>"#{form_authenticity_token}"}
