.pageContent
  = render "layouts/alerts"

  = team_filter(current_course.teams) if current_course.has_teams? && @assignment.is_individual?

  #massGrade
    = simple_form_for @assignment, method: :put, :url => mass_update_assignment_grades_path(@assignment) do |f|
      - if @team.present?
        = hidden_field_tag :team_id, @team.id

      %table
        %thead
          %tr
            - if @assignment.has_groups?
              = render partial: "assignments/grades/components/group_table_head", locals: { presenter: presenter }
            - else
              = render partial: "assignments/grades/components/individual_table_head", locals: { model: @assignment }
        - if @assignment.has_groups?
          = render partial: "assignments/grades/components/group_table_body", locals: { presenter: presenter, f: f }
        - else
          = render partial: "assignments/grades/components/individual_table_body", locals: { model: @assignment, f: f }

      .submit-buttons
        %ul
          %li= f.button :submit, "Submit Grades"
          %li= link_to glyph("times-circle") + "Cancel", assignments_path, class: "button"
