= simple_form_for @team do |f|
  %section
    %h4 Basic Info
    .form-item
      = f.label :name, "#{current_course.team_term} Name"
      = f.text_field :name
    .form-item
      %label Banner
      = f.file_field :banner
      .form_label= "Upload a banner for this #{term_for :team}"

    .form-item
      = f.association :students, :collection => current_course.students, as: :select

    .form-item
      = f.association :leaders, as: :check_boxes, :collection => current_course.staff

  %section
    %h4 Leaderboard Settings
    .form-item
      = f.label :teams_leaderboard, "#{term_for :team} Leaderboard Display"
      = f.check_box :teams_leaderboard
      .form_label= "#{term_for :students} in this #{term_for :team} will be able to see the overall #{term_for :team} rankings and scores"

    .form-item
      = f.label :in_team_leaderboard, "In-#{term_for :team} Leaderboard Display"
      = f.check_box :in_team_leaderboard
      .form_label= "#{term_for :students} in this #{term_for :team} will be able to see the in-#{term_for :team} rankings, with #{term_for :students}'s listed by their chosen screenname, and accompanying scores"

  .submit-buttons
    %ul
      %li= f.submit "#{@team.persisted? ? 'Update' : 'Create'} #{ term_for :team }", class: "button"
      %li= link_to glyph("times-circle") + "Cancel", teams_path, class: "button"
