= simple_form_for @team do |f|
  %section.form-section
    %h2.form-title Basic Info
    .form-item
      = f.input :name, label: "#{current_course.team_term} Name"
    .form-item
      %label Banner
      = f.file_field :banner, {class: "media-image-upload"}
      .form-hint= "Upload a banner for this #{term_for :team}"
      .preview-wrapper{ class: @team.banner.present? ? "" : "hidden"}
        .icon-preview.banner-preview
          .img-cropper.banner-crop
            %img{src: @team.banner, width: 40, alt: "Team Banner" }
          %span.xaxis-label 600px
          %span.yaxis-label 150px
        = f.check_box :remove_banner
        Remove Image

    .form-item
      = f.association :students, :collection => current_course.students, as: :select

    .form-item
      = f.association :leaders, as: :check_boxes, :collection => current_course.staff

  .main-buttons
    = f.submit "#{@team.persisted? ? 'Update' : 'Create'} #{ term_for :team }", class: "button action"
    = link_to glyph("times-circle") + "Cancel", teams_path, class: "button secondary"
