%table.dynatable
  %caption.sr-only= "#{term_for :teams}"
  %thead
    %tr
      %th Rank
      %th Name
      %th{ "data-dynatable-column" => "averageScore"} Mean Student Score
      - if current_course.has_team_challenges?
        %th{ "data-dynatable-column" => "score" } #{term_for :challenge} Score
      %th{ "data-dynatable-column" => "students" } #{term_for :students}
      %th #{term_for :team_leaders}
      - if current_user_is_staff? && current_course.has_badges?
        %th{ "data-dynatable-column" => "badges"} #{term_for :badges} Earned
      %th.options{"data-dynatable-no-sort": "true"} Options
  %tbody
    - @teams.each_with_index do |team, index|
      %tr
        %td= team.rank
        %td= link_to team.name, team
        %td= points team.average_score
        - if current_course.has_team_challenges?
          %td= points team.challenge_grade_score
        %td= team.active_members.count
        %td
          - team.leaders.each do |leader|
            = leader.try(:name)
        - if current_user_is_staff? && current_course.has_badges?
          %td= points team.badge_count
        %td
          .button-container.dropdown.right
            %button.button-edit.button-options{role: "button", type: "button", "aria-label": "Additional Options"}= decorative_glyph(:cog) + decorative_glyph("caret-down")
            %ul.options-menu.dropdown-content
              = active_course_link_to decorative_glyph(:edit) + "Edit #{term_for :team}", edit_team_path(team)
              = active_course_link_to decorative_glyph(:trash) + "Delete #{term_for :team}", team_path(team), data: { confirm: "Are you sure you want to delete #{term_for :team} #{team.name}?" }, :method => :delete
