%table.dynatable
  %thead
    %tr
      %th Rank
      %th Name
      %th{ "data-dynatable-column" => "averageScore"} Mean Student Score
      - if current_course.team_challenges?
        %th{ "data-dynatable-column" => "score" } #{term_for :challenge} Score
      %th{ "data-dynatable-column" => "students" } #{term_for :students}
      %th #{term_for :team_leaders}
      - if current_user_is_staff? && current_course.has_badges?
        %th{ "data-dynatable-column" => "badges"} #{term_for :badges} Earned
      %th{:style => "min-width: 260px"}
  %tbody
    - @teams.each_with_index do |team, index|
      %tr
        %td= index + 1
        %td= link_to team.name, team
        %td= points team.average_points
        - if current_course.team_challenges?
          %td= points team.challenge_grade_score
        %td= team.member_count
        %td
          - team.leaders.each do |leader|
            = leader.try(:name)
        - if current_user_is_staff? && current_course.has_badges?
          %td= points team.badge_count
        %td
          .right
            %ul.button-bar
              %li= link_to glyph(:dashboard) + "See #{term_for :team}", team, class: "button"
              %li= link_to glyph(:edit) + "Edit #{term_for :team}", edit_team_path(team), class: "button"
              %li= link_to glyph(:trash) + "Delete #{term_for :team}", team_path(team), class: "button", data: { confirm: "Are you sure?" }, :method => :delete
