%table.nofeatures_default_score_dynatable
  %thead
    %tr
      %th Rank
      %th Name
      %th{ "data-dynatable-column" => "score"} Mean Student Score
      - if current_course.team_challenges?
        %th{ "data-dynatable-column" => "challengeScore"} #{term_for :challenge} Score
      %th{ "data-dynatable-column" => "students"} #{term_for :students}
      %th #{term_for :team_leaders}
      - if current_user_is_staff? && current_course.has_badges?
        %th{ "data-dynatable-column" => "badges"} #{term_for :badges} Earned
      %th{:style => "min-width: 200px"}
  %tbody
    - @teams.order_by_high_score.each_with_index do |team, index|
      - cache ["v1", team] do
        %tr
          %td= index + 1
          %td= link_to team.name, team
          %td= team.average_points
          - if current_course.team_challenges?
            %td= team.challenge_grade_score
          %td= team.member_count
          %td
            - team.leaders.each do |leader|
              = leader.try(:name)
          - if current_user_is_staff? && current_course.has_badges?
            %td= points team.badge_count
          %td
            .right
              %ul
                %li= link_to raw("<i class='fa fa-dashboard fa-fw'> </i> See"), team, :class => 'button'
                %li= link_to raw("<i class='fa fa-edit fa-fw'> </i> Edit"), edit_team_path(team), :class => 'button'
                %li= link_to raw("<i class='fa fa-trash fa-fw'> </i> Delete"), team_path(team), :class => 'button', :data => { confirm: 'Are you sure?' }, :method => :delete