%h2.pagetitle= @title

.pageContent
  = render "layouts/alerts"

  - if @team.present?
    %h3.subtitle Your #{term_for :team} (#{@team.name}) has earned #{points @team.challenge_grade_score } points
    - if @team.banner.present?
      %img.clear{:src => @team.banner, :height => 200 }

  = render partial: "teams/leaderboard" if current_course.teams_visible?

  - if @team.present? && current_course.has_in_team_leaderboards?
    = render partial: "teams/in_team_rankings", locals: { team: @team }

  = render partial: "challenges/student_index" if current_course.challenges.present?
