= content_nav_for @team, "Edit #{term_for :team}"

%h3.pagetitle= @title

.button-bar.context_menu
  %ul.button-group
    %li
      %a.button{:href => team_path(@team) }
        %i.fa.fa-list
        See #{term_for :team}

= render 'form'