= content_nav_for Team

%h3.pagetitle= @title

.context_menu
  %ul
    %li
      %a{:href => new_team_path }
        %i.fa.fa-plus
        New #{(term_for :team).titleize}

.pageContent
  = render 'layouts/alerts'
  
  = render "leaderboard"
  = render "stats"