= content_nav_for Team

%h3.pagetitle= @title

.button-bar.context_menu
  %ul.button-group
    %li
      %a.button{:href => new_team_path }
        %i.fa.fa-plus
        New #{(term_for :team).titleize}

= render "leaderboard"
= render "stats"