= content_nav_for @team

%h3.pagetitle= @title

= render "buttons"

.pageContent
  = render 'layouts/alerts'

  - if @team.banner.present?
    %img{:src => @team.banner, :height => 200 }

  %h4.subtitle= "#{term_for :student} Roster"

  %table.dynatable
    %thead
      %tr
        %th First Name
        %th Last Name
        %th Email
        - if current_course.team_roles?
          %th Role
        %th{ "data-dynatable-sorts" => "numericScore" } Score
        %th Level
        - if current_course.has_badges?
          %th{scope: "col", "data-dynatable-sorts" => "badgeCount", :width => "20%" }= "#{term_for :badges} Earned"
          %th{:style => "display: none"} Badge Count
        %th{:width => "20%"}
    %tbody
      - @students.each do |student|
        %tr
          %td= link_to student.first_name, student_path(student)
          %td= link_to student.last_name, student_path(student)
          %td= mail_to student.email, student.email
          - if current_course.team_roles?
            %td= student.team_role
          %td= points student.cached_score_for_course(current_course) if student.respond_to?(:grades)
          %td= student.grade_for_course(current_course).try(:name)
          - if current_course.has_badges?
            %td
              - student.earned_badges_for_course(current_course).each do |badge|
                %a
                  %img{:src => badge.try(:icon), :alt => badge.try(:name), :width => "20", :title => badge.name }
                .display_on_hover.hover-style
                  = badge.try(:name)

            %th{:style => "display: none"}= student.earned_badges_for_course(current_course).count
          %td
            .right
              %ul.button-bar
                %li= link_to glyph(:dashboard) + "Dashboard", student_path(student), class: "button"
                %li= link_to glyph(:edit) + "Edit", edit_user_path(student), class: "button"

  %h4.subtitle #{term_for :challenge } Grades

  %table.dynatable
    %thead
      %tr
        %th Name
        %th{ "data-dynatable-sorts" => "numericScore" } Score
        %th{:width => "80px"}

    %tbody
      - @challenges.each do |challenge|
        %tr
          %td
            - if challenge.challenge_grades.present?
              = link_to challenge.name, challenge
            - else
              = challenge.name
          %td= points challenge.challenge_grade_for_team(@team).try(:score)
          %td
            .right
              %ul.button-bar
                - if challenge.challenge_grade_for_team(@team).present?
                  %li= link_to glyph(:edit) + "Edit Grade", edit_challenge_challenge_grade_path(challenge_id: challenge, id: challenge.challenge_grade_for_team(@team).id), class: "button"
                  %li= link_to glyph(:trash) + "Delete Grade", challenge_challenge_grade_path(challenge.id, challenge.challenge_grade_for_team(@team).id, team_id: @team.id), class: "button", data: { confirm: "Are you sure?", method: :delete }
                - else
                  %li= link_to glyph(:check) + "Grade", new_challenge_challenge_grade_path(challenge_id: challenge, team_id: @team.id), class: "button"
