- if @announcement.errors.any?
  .alert-box.alert.radius
    .italic= "#{pluralize(@announcement.errors.count, "error")} prohibited this announcement from being saved:"
    %ul
      - @announcement.errors.full_messages.each do |msg|
        %li= msg

= simple_form_for(@announcement) do |f|
  %section
    %h4 Basics
    .form-item
      = f.input :title

  %section
    %h4 Body
    .form-item
      = f.text_area :body

  .submit-buttons
    %ul
      %li= f.button :submit, "Send Announcement"
      %li= link_to 'Cancel', announcements_path, :class => 'button'
