= render partial: "layouts/alerts", locals: { model: @announcement }

= simple_form_for(@announcement) do |f|
  %section.form-section
    .form-item
      = f.input :title, "aria-required": "true"

    = f.label :body, "Message"
    = f.text_area :body, class: "froala"

  .main-buttons
    = f.button :submit, "Send Announcement", class: "action"
    = link_to glyph("times-circle") + "Cancel", announcements_path, class: "button secondary"
