= render partial: "layouts/alerts", locals: { model: @announcement }

= simple_form_for(@announcement) do |f|
  %section
    %h4 Basics
    .form-item
      = f.input :title

  %section
    %h4 Body
    = f.text_area :body, class: "froala"

  .submit-buttons
    %ul
      %li= f.button :submit, "Send Announcement"
      %li= link_to glyph("times-circle") + "Cancel", announcements_path, class: "button"
