- if current_user_is_staff?
  = content_nav_for Announcement

%h3.pagetitle= @title

- if current_user.can_create?(Announcement.new(course_id: current_course.id))
  .context_menu
    %ul
      %li= link_to_unless_current raw('<i class="fa fa-plus fa-fw"></i> New Announcement'), new_announcement_path

.pageContent
  = render 'layouts/alerts'
  
  = render "list"
