- if current_user_is_staff?
  = content_nav_for Announcement

%h3.pagetitle= @title

- if can? :create, Announcement.new(course_id: current_course.id)
  .context_menu
    %ul
      %li= link_to_unless_current glyph(:plus) + "New Announcement", new_announcement_path

.pageContent
  = render "layouts/alerts"

  = render "list"
