- if current_user_is_staff?
  = content_nav_for Announcement, @title

%h3.pagetitle= @title

- if can? :create, Announcement.new(course_id: current_course.id)
  .context_menu
    %ul
      %li= link_to_unless_current glyph(:plus) + 'New Announcement', new_announcement_path

.pageContent
  = render "layouts/alerts"

  %p
    %strong Course:
    = @announcement.course.name

  %p
    %strong Sent:
    = @announcement.created_at.strftime("%A, %B %d, %Y, at %l:%M%p")

  %p
    %strong Subject:
    = @announcement.title

  %hr

  %p= @announcement.body.html_safe
