- if can? :create, Announcement.new(course_id: current_course.id)
  - content_for :context_menu do
    .context-menu
      %ul
        %li= link_to decorative_glyph(:plus) + 'New Announcement', new_announcement_path, class: "button button-edit"

.pageContent
  = render partial: "layouts/alerts"

  %p
    %strong Sent:
    = l @announcement.created_at.in_time_zone(current_user.time_zone)

  %p
    %strong Subject:
    = @announcement.title

  %p
    %strong Message:
    = @announcement.body.html_safe

  - if current_user_is_staff?
    = render partial: "state_table"
