.pageContent
  = render "layouts/alerts"

  #massGrade
    = simple_form_for presenter.assignment, method: :put, :url => mass_update_assignment_groups_grades_path(presenter.assignment) do |f|

      %table
        %thead
          %tr
            = render partial: "assignments/groups/grades/components/group_table_head", locals: { presenter: presenter }
        = render partial: "assignments/groups/grades/components/group_table_body", locals: { presenter: presenter, f: f }

      .submit-buttons
        %ul
          %li= f.button :submit, "Submit Grades"
          %li= link_to glyph("times-circle") + "Cancel", assignments_path, class: "button"
