- content_for :context_menu do
  .context_menu
    %ul
      - if !@assignment_type.present?
        %li= link_to decorative_glyph(:plus) + "New #{term_for :assignment_type}", new_assignment_type_path, class: "button button-edit"
      - if @assignment_type.present? && @assignment_type.persisted?
        %li= link_to decorative_glyph(:edit) + "Edit", edit_assignment_type_path(@assignment_type), class: "button button-edit"
        %li= link_to decorative_glyph(:heartbeat) + "#{@assignment_type.name} Performance", all_grades_assignment_type_path(@assignment_type), class: "button button-edit"
