/ Using Simple Form to create an assignment type
- if @assignment_type.errors.any?
  .alert-box.alert.radius
    .italic= "#{pluralize(@assignment_type.errors.count, "error")} prohibited this #{(term_for :assignment_type).downcase} from being saved:"
    %ul
      - @assignment_type.errors.full_messages.each do |msg|
        %li= msg

= simple_form_for(@assignment_type) do |f|
  / First section should cover the simple stuff we need to know about every assignment type

  %section
    %h4.uppercase Basic Settings

    .form-item
      / Assignment Type name, this will appear as the category heading for both students and staff
      = f.label :name
      = f.text_field :name

    .form-item
      / What's the maximum number of points a student may earn in this category? This cap needs to be finished
      = f.label :max_value, :label => "Maximum Points"
      = f.text_field :max_value#, data: {autonumeric: true, "m-dec" => "0"}
      .form_label{:id => "txtMaxPoints"} Is there a cap on how many points students can earn through this category (Leave blank if not)? If you fill this in, students will not be able to earn more than this amount.

    .form-item
      = f.label :student_weightable, "Student Weighted"
      = f.check_box :student_weightable, {"aria-describedby" => "txtStudentWeighted"}
      .form_label{:id => "txtStudentWeighted"} Do students decide how much this #{term_for :assignment} type will count towards their grade?

  %section
    %h4.uppercase Description
    .form-item
      %label
        .sr-only Description
        = f.text_area :predictor_description, :label => "Description"
      .form_label How would you like to describe this #{term_for :assignment} type on the student dashboard? Are there hints that you can give students that will help them understand how to succeed?

  .submit-buttons
    %ul
      %li= f.button :submit, "#{@assignment_type.persisted? ? 'Update' : 'Create'} #{term_for :assignment_type}"
      %li= link_to 'Cancel', assignment_types_path, :class => "button"
