= render partial: "layouts/alerts", locals: { model: @assignment_type, term: term_for(:assignment_type) }

= simple_form_for(@assignment_type) do |f|
  / First section should cover the simple stuff we need to know about every
  / assignment type

  %section.form-section
    %h2.form-title Basic Settings

    .form-item
      / Assignment Type name, this will appear as the category heading for
      / both students and staff
      = f.label :name
      = f.text_field :name

    .form-item.form-item-with-options
      / What's the max number of points a student may earn in this category?
      = f.check_box :has_max_points, {class: "has-conditional-options"}
      = f.label :has_max_points, :label => "Maximum Points?"
      = tooltip("max-points-hint", "info-circle", placement: "right") do
        Is there a cap on how many points students can earn through this category?

    .form-item.conditional-options{"class"=>("visually-hidden" if !f.object.has_max_points?)}
      / What's the max number of points a student may earn in this category?
      = f.label :max_points, :label => "Maximum Points Possible"
      = tooltip("points-possible-hint", "info-circle", placement: "right") do
        If you fill this in, students will not be able to earn more than this amount.
      = f.text_field :max_points, data: {autonumeric: true, "m-dec" => "0"}

    -# .form-item
    -#   / Do only X number of highest grades count?
    -#   = f.label :top_grades_counted, :label => "Count Highest Grades"
    -#   -# .form-hint{id: "assignment_type_top_grades_counted"}
    -#   = tooltip("count-highest-hint", "info-circle", placement: "right") do
    -#     Do you want to only count the highest grades from this category towards a student's grade? Specify the number of grades to count here.
    -#   = f.input :top_grades_counted, input_html: { data: { autonumeric: true, "m-dec" => "0" }, type: "text" }, label: false

    - if current_course.has_multipliers?
      .form-item
        = f.check_box :student_weightable
        = f.label :student_weightable, "#{term_for :weight} Weighted"
        = tooltip("student-weighted-hint", "info-circle", placement: "right") do
          Do students decide how much this #{term_for :assignment} type will count towards their grade?

    .form-item
      = f.check_box :attendance
      = f.label :attendance, "Attendance"
      = tooltip("attendance-hint", "info-circle", placement: "right") do
        Are #{term_for :assignments} used for checking attendance?

  %section.form-section
    %h2.form-title Description
    .form-item
      .textarea
        .form-hint How would you like to describe this #{term_for :assignment} type on the student dashboard? Are there hints that you can give students that will help them understand how to succeed?
        = f.text_area :description, :label => "Description", class: "froala"

  .submit-buttons
    %ul
      %li= f.button :submit, "#{@assignment_type.persisted? ? 'Update' : 'Create'} #{term_for :assignment_type}"
      %li= link_to glyph("times-circle") + "Cancel", assignments_path, class: "button"
