= render partial: "layouts/alerts", locals: { model: @assignment_type, term: term_for(:assignment_type) }

= simple_form_for(@assignment_type) do |f|
  / First section should cover the simple stuff we need to know about every
  / assignment type

  %section
    %h4.uppercase Basic Settings

    .form-item
      / Assignment Type name, this will appear as the category heading for
      / both students and staff
      = f.label :name
      = f.text_field :name

    .form-item
      / What's the max number of points a student may earn in this category?
      = f.label :max_points, :label => "Maximum Points"
      = f.text_field :max_points, data: {autonumeric: true, "m-dec" => "0"}
      .form_label{id: "txtMaxPoints"} Is there a cap on how many points students can earn through this category (Leave blank if not)? If you fill this in, students will not be able to earn more than this amount.

    .form-item
      = f.label :student_weightable, "Student Weighted"
      = f.check_box :student_weightable, {"aria-describedby" => "txtStudentWeighted"}
      .form_label{id: "txtStudentWeighted"} Do students decide how much this #{term_for :assignment} type will count towards their grade?

  %section
    %h4.uppercase Description
    .form-item
      .textarea
        .form_label How would you like to describe this #{term_for :assignment} type on the student dashboard? Are there hints that you can give students that will help them understand how to succeed?
        = f.text_area :description, :label => "Description", class: "froala"

  .submit-buttons
    %ul
      %li= f.button :submit, "#{@assignment_type.persisted? ? 'Update' : 'Create'} #{term_for :assignment_type}"
      %li= link_to glyph("times-circle") + "Cancel", assignment_types_path, class: "button"
