= content_nav_for @assignment_type, "Grade Patterns"

%h3.pagetitle= @title

= render "buttons"

.pageContent
  = render "layouts/alerts"

  - if @teams.present?
    .team-filter
      = form_tag all_grades_assignment_type_path(@assignment_type), name: "see_team", :onchange => ("javascript: document.see_team.submit();"), :method => :get do
        %label
          .sr-only Select #{term_for :team}
        = select_tag :team_id, options_for_select(@teams.map { |t| [t.name, t.id] }, @team.try(:id)), :prompt => "– Select #{(term_for :team).titleize} –"

  %table
    %tr
      %th
        %i.fa.fa-heart.complete
        Full Points
      %th
        %i.fa.fa-heart-o.partial
        Partial Points
      %th
        %i.fa.fa-times.absent
        Zero Points
      %th
        No Grade
  .italic
    Numbers reflect streaks - how many times in a row a #{(term_for :student).downcase} has earned the maximum number of points on an #{term_for :assignment}

  / Gradebook Pattern Table
  #gradebook
    %table
      %thead
        %tr
          %th Student
          - chronological_assignments = @assignment_type.assignments.chronological
          - for assignment in chronological_assignments.alphabetical
            %th.sortable{"data-sort" => "int"}= assignment.name
      %tbody
        - @students.each do |student|
          %tr
            %td= link_to student.name, student_path(student)
            - i = 0
            - chronological_assignments = @assignment_type.assignments.chronological
            - for assignment in chronological_assignments.alphabetical
              - if assignment.point_total > 0
                - assignment.grade_for_student(student).tap do |grade|

                  - if grade && grade.score == assignment.point_total
                    - i += 1
                    // Displaying td's colored green if the student earned all
                    // points possible on the assignment
                    %td
                      %i.fa.fa-heart.complete
                        = i
                  - elsif grade && grade.score == 0
                    // Displaying td's colored red if the student earned no
                    // points on the assignment (but HAS a grade)
                    - i = 0
                    %td
                      %i.fa.fa-times.absent
                  - elsif grade && grade.score < assignment.point_total
                    // Displaying td's colored yellow if the student earned
                    // some points on the assignment
                    - i = 0
                    %td
                      %i.fa.fa-heart-o.partial
                  - else
                    // Displaying td's colored white if the student has no grade
                    - i = 0
                    %td
