= content_nav_for @assignment_type

%h3.pagetitle#pageCaption= @title

= render "buttons"

.pageContent

  = render "layouts/alerts"

  %table.dynatable{"aria-describedby" => "tableCaption"}
    %thead
      %tr
        %th{scope: "col"} Name
        %th{scope: "col", "data-dynatable-sorts" => "convertedDate"}  Open Date
        %th{scope: "col", "data-dynatable-sorts" => "convertedDate"} Due Date
        %th{scope: "col", "data-dynatable-sorts" => "numericScore"} Points
        %th{scope: "col"}
          %span.sr-only Actions
    %tbody
      - @assignment_type.assignments.includes(:assignment_type).alphabetical.chronological.each do |assignment|
        %tr
          %td= link_to assignment.name, assignment
          %td= assignment.try(:open_at)
          %td= assignment.try(:due_at)
          %td= points assignment.point_total
          %td
            .right
              %ul.button-bar
                %li= link_to glyph(:check) + "Quick Grade", mass_edit_assignment_grades_path(assignment), class: "button"
                %li= link_to glyph(:edit) + "Edit", edit_assignment_path(assignment), class: "button"
                %li= link_to glyph(:copy) + "Copy", copy_assignments_path(id: assignment), class: "button", :method => :copy
                %li= link_to glyph(:trash) + "Delete", assignment_path(assignment), data: { confirm: "Are you sure?", method: :delete }, class: "button"
