= simple_form_for([@challenge, @challenge_grade]) do |f|
  %section
    %h4 Score

    = f.hidden_field :team_id, team_id: @team.id

    .form-item
      = f.label :score
      = f.text_field :score, data: {autonumeric: true, "m-dec" => "0"}
      .form_label out of #{points @challenge.point_total} points

    .form-item
      - if @challenge.release_necessary?
        = f.label :status
        = f.select :status, ChallengeGrade::STATUSES
        .form_label= "Can the #{term_for :team} see this grade?"
      - else
        = f.input :status, as: :hidden, :input_html => { :value => "Graded" }

  %section
    %h4 Feedback
    .textarea
      = f.text_area :text_feedback, class: "froala"

  .submit-buttons
    %ul
      %li= f.button :submit, "#{ @challenge_grade.persisted? ? 'Update Grade' : 'Submit Grade'}"
      %li= link_to glyph("times-circle") + "Cancel", challenges_path, class: "button"
