= simple_form_for(@challenge_grade, url: form_path) do |f|
  %section.form-section
    %h2.form-title Score

    = f.hidden_field :team_id, value: @team.id
    = f.hidden_field :challenge_id, value: @challenge.id

    .form-item
      = f.input :raw_points, input_html: { data: { autonumeric: true, "m-dec" => "0" }, type: "text" }
      .form-hint out of #{points @challenge.full_points} points

    .form-item
      = f.label :student_visible, "Visible To Students"
      = f.select :student_visible, ["false", "true"]
      .form-hint= "Can the #{term_for :team} see this grade?"

  %section.form-section
    %h2.form-title Feedback
    .textarea
      = f.text_area :feedback, class: "froala"

  %section.form-section
    .right
      %h2.text-right Points Adjustment
      = f.text_field :adjustment_points, label: false, data: {autonumeric: true, "m-dec" => "0"}
      %p
      %h4.text-right Points Adjustment Feedback
      = f.text_area :adjustment_points_feedback

    .clear

  .main-buttons
    = active_course_submit_tag "#{ @challenge_grade.persisted? ? 'Update Grade' : 'Submit Grade'}", class: "button action"
    = link_to glyph("times-circle") + "Cancel", challenges_path, class: "button secondary"
