= content_nav_for @challenge, "Edit #{term_for :challenge} Grade"

%h2.pagetitle= @title

.pageContent
  = render partial: "layouts/alerts"

  = render partial: "challenge_grades/form", locals: { form_path: challenge_grade_path(@challenge_grade) }
