= content_nav_for @challenge, "Edit #{term_for :challenge} Grade Status"

%h3.pagetitle= @title

.pageContent
  = render "layouts/alerts"

  %table.dynatable
    %thead
      %tr
        %th= term_for :team
        %th{ "data-dynatable-sorts" => "numericScore" } Score
        %th Current Status
    %tbody
      - for challenge_grade in @challenge_grades
        %tr
          %td= challenge_grade.team.name
          %td= points challenge_grade.score
          %td= challenge_grade.status

  = simple_form_for :challenge_grade, :url => update_status_challenge_challenge_grades_path(@challenge), :html => { :method => :put} do |f|
    - for challenge_grade in @challenge_grades
      = hidden_field_tag "challenge_grade_ids[]", challenge_grade.id
    %br
    %hr
    .right= f.input :status, :label => "Update Status to:", as: :select, :collection => ChallengeGrade::STATUSES
    .clear
    %br
    .right= f.button :submit, "Update Statuses", class: "button"
