%h2{:align => "center"}
  %strong Dear #{@owner.first_name},

%h3{:align => "center"} Your requested analytics export for course #{@course.course_number} - #{@course.name} was successfully created.

%p
%p{:align => "center"}
  You can download the completed ZIP archive
  = succeed ". This link will expire after one week." do
    %a{ :href => secure_download_url(@secure_token) } here

%p{:align => "center"}
  Alternatively the analytics export can be download from the downloads page
  = succeed "." do
    %a{:href => "#{ downloads_url }"} here
%hr/

%p Sincerely,
%p The GradeCraft Team
