%span
  - if assignment.has_groups?
    %a
      %i.fa.fa-group.fa-fw
    .display_on_hover.hover-style
      This #{term_for :assignment} is completed by #{term_for :students} in #{term_for :groups}
  - if assignment.required?
    %a
      %i.fa.fa-exclamation-circle.fa-fw
    .display_on_hover.hover-style
      This #{term_for :assignment} is required!
  - if assignment.is_unlockable?
    - if ! assignment.is_unlocked_for_student?(presenter.student)
      %a
        %i.fa.fa-lock
      .display_on_hover.hover-style
        %h3 This #{term_for :assignment} is Locked
        .small.italic In order to unlock it you must:
        %ol
          - assignment.unlock_conditions.each do |condition|
            %li= condition.requirements_description_sentence
    - else
      %a
        %i.fa.fa-unlock
      .display_on_hover.hover-style
        %h3 You have unlocked this #{term_for :assignment}
        .small.italic To achieve this you:
        %ol
          - assignment.unlock_conditions.each do |condition|
            %li= condition.requirements_completed_sentence
  - if assignment.is_a_condition?
    %a
      %i.fa.fa-key
    .display_on_hover.hover-style
      %h3 This #{term_for :assignment} is a Key
      %ol
        - assignment.unlock_keys.each do |key|
          %li= key.key_description_sentence
  - if ! assignment.name_visible_for_student?(presenter.student) && current_user_is_staff?
    = glyph("eye-slash")
