.panel
  .columns
    = f.input :name, :label => "Score Name"
  .columns
    = f.label :value
    = f.text_field :value
    = f.hidden_field :id
  .right
    = f.hidden_field :_destroy, class: 'destroy'
    = link_to 'Remove Level', '#', class: 'remove-assignment-score-level button radius right'