- content_for :context_menu do
  .context-menu
    %ul
      - if !presenter.new_assignment?
        = active_course_link_to decorative_glyph(:edit) + "Edit", edit_assignment_path(presenter.assignment), class: "button button-edit"

        %li.dropdown
          %button.button-edit.button-options{role: "button", type: "button"}= decorative_glyph(:cog) + "Options" + decorative_glyph("caret-down")
          %ul.options-menu.dropdown-content
            - if presenter.assignment.grades.present?
              %li= link_to decorative_glyph(:"check-square") + "Review Grades", grades_review_assignment_path(id: presenter.assignment)
            = active_course_link_to decorative_glyph(:copy) + "Copy", copy_assignments_path(id: presenter.assignment), method: :copy
            - if presenter.assignment.has_groups?
              %li= link_to decorative_glyph(:users) + "Create #{term_for :group}", new_group_path

            - if !presenter.grade_with_rubric?
              - if presenter.for_team?
                = active_course_link_to decorative_glyph(:check) + "Quick Grade", mass_edit_assignment_grades_path(presenter.assignment, team: presenter.team)
              - else
                = active_course_link_to decorative_glyph(:check) + "Quick Grade", mass_edit_assignment_grades_path(presenter.assignment)

            - if presenter.assignment.accepts_submissions?
              = render partial: "assignments/buttons/submissions_exports",
                locals: { assignment: presenter.assignment, team: presenter.team }

            - unless presenter.assignment.imported_assignment.nil?
              = active_course_link_to assignments_importer_refresh_assignment_path(presenter.assignment.imported_assignment.provider, presenter.assignment), { method: :post }, nil, "hide-for-small" do
                = decorative_glyph(:refresh)
                = "Update Assignment from #{presenter.assignment.imported_assignment.provider.capitalize}"

              = active_course_link_to assignments_importer_update_assignment_path(presenter.assignment.imported_assignment.provider, presenter.assignment), { method: :post }, nil, "hide-for-small" do
                = decorative_glyph(:refresh)
                = "Update #{presenter.assignment.imported_assignment.provider.capitalize} with Assignment"

            = active_course_link_to decorative_glyph(:download) + "Import Grades", assignment_grades_importers_path(presenter.assignment), nil, "hide-for-small"

            - if presenter.course.institution.try(:has_google_access)
              = active_course_link_to decorative_glyph(:calendar) + "Add to Google Calendar",
                add_assignment_google_calendars_assignments_path(presenter.assignment), :target => "_parent",  method: :post
