.context_menu(ng-app="gradecraft" ng-controller="AssignmentCtrl" ng-init="init(#{presenter.assignment.id}, #{presenter.assignment.use_rubric})")
  %ul
    - if !presenter.new_assignment?
      %li
        %a{:href => new_assignment_path }
          %i.fa.fa-plus.fa-fw
          New #{(term_for :assignment).titleize}
      %li= link_to raw('<i class="fa fa-edit fa-fw"> </i> Edit'), edit_assignment_path(presenter.assignment)
      %li= link_to raw('<i class="fa fa-copy fa-fw"> </i> Copy'), copy_assignments_path(id: presenter.assignment), method: :copy
      - if presenter.assignment.has_groups?
        %li= link_to raw("<i class='fa fa-users fa-fw'> </i> Create #{term_for :group}"), new_group_path
      - if presenter.for_team? && !presenter.rubric_available? && !presenter.use_rubric?
        %li= link_to raw('<i class="fa fa-check fa-fw"> </i> Quick Grade'), mass_grade_assignment_path(presenter.assignment, team: presenter.team)
      - elsif !presenter.rubric_available? && !presenter.use_rubric?
        %li= link_to raw('<i class="fa fa-check fa-fw"> </i> Quick Grade'), mass_grade_assignment_path(presenter.assignment)
      / - if presenter.assignment.submissions.present?
      /   %li
      /     %a{:href => export_submissions_assignment_path(presenter.assignment, :team_id => presenter.team, format: 'zip') }
      /       %i.fa.fa-zip-o.fa-fw
      /       Download Submissions
      %li
        %a{:href => import_grades_assignment_path(presenter.assignment) }
          %i.fa.fa-upload.fa-fw
          Import Grades
      %li
        %a{:href => export_grades_assignment_path(presenter.assignment, format: 'csv') }
          %i.fa.fa-download.fa-fw
          Download Grades
      %li
        %a{:href => design_assignment_rubric_path(presenter.assignment) }
          %i.fa.fa-sliders.fa-fw
          - if presenter.rubric_available?
            Edit Rubric
          - else
            Create Rubric

      - if presenter.rubric_available?
        - if presenter.has_reviewable_grades?
          %li
            %a{:href => rubric_grades_review_assignment_path(presenter.assignment) }
              Review Grades
        %li.on(ng-cloak ng-show="useRubric")
          %a(ng-click="rubricsOff()")
            %i.fa.fa-power-off.fa-fw
            Rubric is On
        %li.off(ng-cloak ng-hide="useRubric")
          %a(ng-click="rubricsOn()")
            %i.fa.fa-power-off.fa-fw
            Rubric is Off
