.context_menu(ng-app="gradecraft" ng-controller="AssignmentCtrl" ng-init="init(#{presenter.assignment.id}, #{presenter.assignment.use_rubric})")
  %ul
    - if !presenter.new_assignment?
      %li= link_to glyph(:edit) + "Edit", edit_assignment_path(presenter.assignment)
      %li= link_to glyph(:copy) + "Copy", copy_assignments_path(id: presenter.assignment), method: :copy
      - if presenter.assignment.has_groups?
        %li= link_to glyph(:users) + "Create #{term_for :group}", new_group_path
      - if !presenter.grade_with_rubric?
        - if presenter.for_team?
          %li= link_to glyph(:check) + "Quick Grade", mass_edit_assignment_grades_path(presenter.assignment, team: presenter.team)
        - else
          %li= link_to glyph(:check) + "Quick Grade", mass_edit_assignment_grades_path(presenter.assignment)

      - if presenter.assignment.accepts_submissions?
        - if presenter.team
          %li= link_to glyph("file-zip-o") + "Download Team Submissions", submissions_exports_path(assignment_id: presenter.assignment.id, team_id: presenter.team.id), method: :post
        - else
          %li.hide-for-small= link_to glyph("file-zip-o") + "Download All Submissions", submissions_exports_path(assignment_id: presenter.assignment.id), method: :post

      - unless presenter.assignment.imported_assignment.nil?
        %li.hide-for-small
          = link_to assignments_importer_refresh_assignment_path(presenter.assignment.imported_assignment.provider, presenter.assignment), method: :post do
            = glyph(:refresh)
            = "Update Assignment from #{presenter.assignment.imported_assignment.provider.capitalize}"
        %li.hide-for-small
          = link_to assignments_importer_update_assignment_path(presenter.assignment.imported_assignment.provider, presenter.assignment), method: :post do
            = glyph(:refresh)
            = "Update #{presenter.assignment.imported_assignment.provider.capitalize} with Assignment"
      %li.hide-for-small
        %a{:href => assignment_grades_importers_path(presenter.assignment) }
          = glyph(:upload)
          Import Grades
      - if presenter.grade_with_rubric?
        %li.hide-for-small
          %a{:href => design_assignment_rubrics_path(presenter.assignment) }
            = glyph(:sliders)
            Edit Rubric
      - else
        %li.hide-for-small
          %a{:href => design_assignment_rubrics_path(presenter.assignment) }
            = glyph(:sliders)
            Create Rubric
        %li.hide-for-small
          %a{:href => index_for_copy_assignment_rubrics_path(presenter.assignment) }
            = glyph(:sliders)
            = "Copy Rubric from Another #{ term_for :assignment }"
