.context_menu(ng-app="gradecraft" ng-controller="AssignmentCtrl" ng-init="init(#{@assignment[:id]}, #{@assignment.use_rubric})")
  %ul
    %li
      %a{:href => settings_assignments_path }
        %i.fa.fa-dashboard.fa-fw
        Review #{(term_for :assignment).titleize} Settings
    - if @assignment.persisted?
      %li= link_to raw('<i class="fa fa-edit fa-fw"> </i> Edit'), edit_assignment_path(@assignment)
      - if @team.present? && ! ( @assignment.rubric and @assignment.rubric.designed? and @assignment.use_rubric? )
        %li= link_to raw('<i class="fa fa-check fa-fw"> </i> Quick Grade'), mass_grade_assignment_path(@assignment, :team => @team)
      - elsif ! ( @assignment.rubric and @assignment.rubric.designed? and @assignment.use_rubric? )
        %li= link_to raw('<i class="fa fa-check fa-fw"> </i> Quick Grade'), mass_grade_assignment_path(@assignment)
      - if @assignment.submissions.present?
        %li
          %a{:href => export_submissions_assignment_path(@assignment, :team_id => @team, format: 'zip') }
            %i.fa.fa-zip-o.fa-fw
            Download Submissions
      %li
        %a{:href => import_grades_assignment_path(@assignment) }
          %i.fa.fa-upload.fa-fw
          Import Grades
      %li
        %a{:href => export_grades_assignment_path(@assignment, format: 'csv') }
          %i.fa.fa-download.fa-fw
          Download Grades
      %li
        %a{:href => design_assignment_rubric_path(@assignment) }
          %i.fa.fa-sliders.fa-fw
          - if @assignment.rubric and @assignment.rubric.designed?
            Edit Rubric
          - else
            Create Rubric

      - if @assignment.rubric and @assignment.rubric.designed?
        - if @assignment.grades.instructor_modified.present?
          %li
            %a{:href => rubric_grades_review_assignment_path(@assignment) }
              Review Grades
        %li.loading(ng-cloak ng-hide="window.angular")
          %a(ng-click="")
            %i.fa.fa-table.fa-fw
            Rubrics
        %li.on(ng-cloak ng-show="useRubric")
          %a(ng-click="rubricsOff()")
            %i.fa.fa-power-off.fa-fw
            Rubrics On
        %li.off(ng-cloak ng-hide="useRubric")
          %a(ng-click="rubricsOn()")
            %i.fa.fa-power-off.fa-fw
            Rubrics Off
