= render partial: "layouts/alerts", locals: { model: presenter.assignment, term: term_for(:assignment) }

= simple_form_for(presenter.assignment, :html => { :novalidate => true }) do |f|
  %section
    %h4 Basic Info
    .form-item
      = f.association :assignment_type, :collection => current_course.assignment_types

    .form-item
      = f.label :name
      = f.text_field :name

    .form-item
      .pass-fail-toggle
        .switch
          = f.label :pass_fail, "Pass/Fail"
          = f.check_box :pass_fail

    .form-item
      - if f.object.pass_fail?
        .pass-fail-contingent.hidden
          = f.label :point_total, "Total Points Possible"
          = f.text_field :point_total
      - else
        .pass-fail-contingent
          = f.label :point_total, "Total Points Possible"
          = f.text_field :point_total

    .form-item
      - if f.object.pass_fail?
        .pass-fail-contingent.hidden
          = f.label :threshold_points, "Points Threshold"
          = f.text_field :threshold_points
          .form_label If you set a points threshold above zero, any student earning fewer points will receive no points for the assignment.
      - else
        .pass-fail-contingent
          = f.label :threshold_points, "Points Threshold"
          = f.text_field :threshold_points
          .form_label If you set a points threshold above zero, any student earning fewer points will receive no points for the assignment.

    .form-item
      = f.input :open_at, as: :string, :include_blank => true, :input_html => { class: "datetimepicker" }

    .form-item
      = f.input :due_at, as: :string, :include_blank => true, :input_html => { class: "datetimepicker" }

    .form-item
      = f.input :accepts_submissions_until, as: :string, :include_blank => true, :input_html => { class: "datetimepicker" }, :label => "Accept until"
      .form_label If you set a due date but no accept-until date, submissions and self-logged grades will be marked as late but always accepted.

    .form-item
      = f.label :grade_scope, "Individual or Group?"
      = f.select :grade_scope, [["Individual"], ["Group"]]
      .form_label Do students do this individually or as a group?

    .form-item
      = f.label :mass_grade_type, "Quick Grade Style"
      = f.select :mass_grade_type, [[],["Checkbox"], ["Select List"], ["Radio Buttons"], ["Text"]]
      .form_label How should this assignment appear in Quick Grade?

    .form-item
      = f.label :points_predictor_display, "Grade Predictor Style"
      = f.select :points_predictor_display, [[], ["Checkbox", "Fixed"], ["Slider"], ]
      .form_label How should this assignment appear in the Grade Predictor?

  %section
    %h4 Assignment Description
    .textarea
      .form_label This will be shown to students on their dashboard, and when they submit their assignment.
      = f.text_area :description, class: "froala"

  %section
    %h4 Assignment Purpose
    .textarea
      .form_label This will be shown to students on their dashboard, and when they submit their assignment.
      = f.text_area :purpose, class: "froala"

  %section
    %h4= "Advanced Settings"

    .form-item
      = f.label :visible, "Visible to students"
      = f.check_box :visible
      .form_label Can #{term_for :students} see this #{term_for :assignment} in their dashboard?

    .form-item
      = f.label :required
      = f.check_box :required
      .form_label Are ALL #{term_for :students} expected to complete this #{term_for :assignment} to pass the course?

    - if current_course.accepts_submissions?
      .form-item
        .assignment_options
          = f.label :accepts_submissions #{term_for :assignment} Submissions
          = f.check_box :accepts_submissions
          .form_label Will you be using GradeCraft to accept submissions for this #{term_for :assignment}?

        %br

        %ul.submit.accepts_submission_types
          %li.submit
            .checkbox
              = f.label :accepts_links, :label => "Accept Links"
              = f.check_box :accepts_links
          %li.submit
            .checkbox
              = f.label :accepts_attachments, :label => "Accept Uploads/Attachments"
              = f.check_box :accepts_attachments
          %li.submit
            .checkbox
              = f.label :accepts_text, :label => "Accept raw text"
              = f.check_box :accepts_text

      .form-item
        = f.label :resubmissions_allowed #{term_for :assignment} Resubmissions
        = f.check_box :resubmissions_allowed
        .form_label Can #{term_for :students} resubmit this #{term_for :assignment}?

    .form-item
      = f.label :release_necessary
      = f.check_box :release_necessary
      .form_label Do you want to release all grades at once? This is particularly useful for situations where extensive feedback is important.

    .form-item
      = f.label :notify_released, "Notify by email?"
      = f.check_box :notify_released
      .form_label Do you want to notify students by email when a grade is awarded? If grade release is necessary, this email will not be sent out until the grade is officially released.

    .form-item
      = f.label :include_in_timeline, "Timeline"
      = f.check_box :include_in_timeline, {"aria-describedby" => "txtIncludeInTimeline"}
      .form_label{id: "txtIncludeInTimeline"} Can #{term_for :students} see this #{term_for :assignment} in the course timeline? Note that #{term_for :assignments} without open or due dates will be excluded automatically.

    .form-item
      = f.label :include_in_predictor, "Predictor"
      = f.check_box :include_in_predictor
      .form_label Can #{term_for :students} see this #{term_for :assignment} in the grade predictor?

    .form-item
      = f.label :include_in_to_do, "Due this Week"
      = f.check_box :include_in_to_do
      .form_label Can #{term_for :students} see this #{term_for :assignment} in the "Due this Week" panel?

    - if ! current_course.hide_analytics?
      .form-item
        = f.label :hide_analytics, "Hide Analytics?"
        = f.check_box :hide_analytics, {"aria-describedby" => "hideAnalytics"}
        .form_label{id: "hideAnalytics"}  Do you want to hide assignment analytics from students?

    .form-item
      = f.label :student_logged
      = f.check_box :student_logged
      .form_label Do #{term_for :students} self-report their grade for this #{term_for :assignment}? If you add grade levels below, they'll be able to select their self-assessed score from the list during the open time period. If you don't, they'll be able to select that they did the work and earn full points.

  %section
    %h4 Timeline

    = render partial: "layouts/thumbnail_image_form_item", locals: { f: f, model: presenter.assignment }
    = render partial: "layouts/media_image_form_item", locals: { f: f, model: presenter.assignment }

  %section
    %h4 Unlocks

    .locked-visibility-options
      = f.label :visible_when_locked, :label => "Visible when Locked"
      = f.check_box :visible_when_locked

    %ul.locked-display.visible_elements
      %li.locked-display
        .checkbox
          = f.label :show_name_when_locked, :label => "Show Name when Locked"
          = f.check_box :show_name_when_locked
      %li.locked-display
        .checkbox
          = f.label :show_points_when_locked, :label => "Show Points when Locked"
          = f.check_box :show_points_when_locked
      %li.locked-display
        .checkbox
          = f.label :show_description_when_locked, :label => "Show Description when Locked"
          = f.check_box :show_description_when_locked
      %li.locked-display
        .checkbox
          = f.label :show_purpose_when_locked, :label => "Show Purpose when Locked"
          = f.check_box :show_purpose_when_locked

    .unlock-conditions
      %p.hint Unlocks allow you to direct the sequence of content in your course. What do students need to do in order to unlock this assignment?
      %script(id="unlock-condition-template" type="text/x-template")
        %fieldset.unlock-condition
          = f.simple_fields_for :unlock_conditions, UnlockCondition.new, class: "form-inline", child_index: "child_index" do |ucf|
            = render "layouts/unlock_condition_fields", f: ucf
      - presenter.assignment.unlock_conditions.each do |condition|
        %fieldset.unlock-condition
          = f.simple_fields_for :unlock_conditions, condition, class: "form-inline" do |ucf|
            = render "layouts/unlock_condition_fields", f: ucf
    = link_to "Add a Condition", "#", class: "add-unlock-condition button"

  %section
    %h4 Grade Levels
    .assignment-score-levels
      %p.hint Example: You could create three levels to produce a quick grading scheme for just this #{term_for :assignment} - Complete (5000 points), Finalist (7000 points), and Winner (10,000 points). These levels will then show in the quick grade, and when students are setting goals in the grade predictor.
      %script(id="assignment-score-level-template" type="text/x-template")
        %fieldset.assignment-score-level
          = f.simple_fields_for :assignment_score_levels, AssignmentScoreLevel.new, class: "form-inline", child_index: "child_index" do |slf|
            = render "assignment_score_level_fields", f: slf
      - presenter.assignment.assignment_score_levels.order_by_value.each do |assignment_score_level|
        %fieldset.assignment-score-level
          = f.simple_fields_for :assignment_score_levels, assignment_score_level, class: "form-inline" do |slf|
            = render "assignment_score_level_fields", f: slf
    = link_to "Add a Level", "#", class: "add-assignment-score-level button"

  %section
    %h4.uppercase Attachments
    = f.simple_fields_for :assignment_files, presenter.assignment.assignment_files.new do |af|
      = af.file_field :file, :multiple => true
    - if presenter.assignment.assignment_files.exists?
      %h5.bold Uploaded files
      %ul.uploaded-files
        - presenter.assignment.assignment_files.each do |af|
          - next if af.new_record?
          %li
            - if af.file_processing
              = "#{af.filename}"
              %a
                %i.fa.fa-spinner.fa-fw= "(upload in progress)"
              .display-on-hover.hover-style
                Refresh page to confirm upload has completed
            - else
              = link_to af.filename, af.url, :target => "_blank"
              = link_to "(Remove)", remove_uploads_path({ :model => "AssignmentFile", assignment_id: presenter.assignment.id, :upload_id => af.id } )
  .submit-buttons
    %ul
      %li= f.button :submit, "#{presenter.assignment.persisted? ? 'Update' : 'Create'} #{term_for :assignment}"
      %li= link_to glyph("times-circle") + "Cancel", assignments_path, class: "button"
