.pageContent
  = render partial: "layouts/alerts"

  .assignment-index-container{role: "tablist"}
    - (presenter.assignment_types || @assignment_types).each do |assignment_type|
      .assignment_type.student{id: "assignment-type-#{assignment_type.id}" }
        .assignment-type-bar.collapse{role: "tab"}
          %h2.assignment-type-name= glyph('chevron-circle-right') + "#{assignment_type.try(:name)}"
          .points-summary
            %span.assignment-type-points #{points assignment_type.total_points} points
        .assignment-type-container{role: "tabpanel"}
          - if assignment_type.description? || assignment_type.is_capped? || assignment_type.count_only_top_grades?
            .assignment-type-message
              - if assignment_type.description?
                %h3 #{assignment_type.name} Guidelines
                %p.description= raw assignment_type.description
              - if assignment_type.is_capped?
                .italic This #{ (term_for :assignment_type).downcase } is capped at #{ points assignment_type.max_points } points.
              - if assignment_type.count_only_top_grades?
                .italic #{ term_for :students} top #{ assignment_type.top_grades_counted } grades in this category count towards their course score

          // Display the assignments for each assignment type
          .student-assignment-list
            - assignment_type.assignments.each do |assignment|
              .assignment-container
                .assignment-info.assignment-indicator-icon
                  - if assignment.required?
                    = tooltip("required-assignment-tip_#{assignment.id}", :asterisk, placement: "right") do
                      This #{term_for :assignment} is required!

                .assignment-name
                  = link_to assignment.name, assignment_path(assignment)
                  = render partial: "assignments/index_icons", locals: { assignment: assignment }
                .assignment-info.assignment-due-date
                  = render partial: "assignments/index_student/components/due_at", locals: { assignment: assignment }

                - if assignment.pass_fail?
                  .assignment-info.assignment-pass-fail= "#{term_for :pass}/#{term_for :fail}"
                - else
                  // Checking to see if this assignment type is student weightable
                  .assignment-info.assignment-points= "#{points assignment.full_points} points possible"
