- content_for :context_menu do
  .context_menu
    %ul
      %li= link_to glyph(:plus) + "New #{term_for :assignment}", new_assignment_path, class: "button button-edit"
      %li= link_to glyph(:download) + "Import #{term_for :assignments}", assignments_importers_path, class: "button button-edit"

.pageContent
  = render partial: "layouts/alerts"

  .assignments
    - @assignment_types.each do |assignment_type|
      .assignment_type{id: "assignment-type-#{assignment_type.id}" }
        .collapse
          %a
            %i.fa.fa-angle-double-right.fa-fw
          .assignment-type-name #{assignment_type.name} – #{points assignment_type.total_points} points
        .collapse-hidden
          = link_to "[ Edit ]", edit_assignment_type_path(assignment_type)
          = link_to "[ Delete ]", assignment_type_path(assignment_type), data: { confirm: "Are you sure?", method: :delete }
          %table.instructor-assignments.second-row-header{"aria-describedby" => "assignment-type-#{assignment_type.id}"}
            %thead
              %tr
                %th.draggable
                %th{scope: "col", :width => "20%"} Name
                %th
                %th Due
                %th{:style => "display: none"} Due Date
                %th{scope: "col", :width => "10%"}  Max Points
                %th Rubric?
                %th{ :style => "min-width: 200px" }
            %tbody.sort-assignments
              - assignments = assignment_type.assignments.ordered.includes(:rubric, :assignment_type)
              - assignments.each do |assignment|
                %tr{id: "assignment-#{assignment.id}"}
                  %td.draggable
                    %i.fa.fa-arrows-v
                  %td= link_to assignment.name, assignment
                  %td= render partial: "index_icons", locals: { assignment: assignment }
                  %td= assignment.try(:due_at) || "Ongoing"
                  %td{:style => "display: none"}
                    - if assignment.due_at.present?
                      = assignment.try(:due_at).to_formatted_s(:db)
                  - if assignment.pass_fail?
                    %td.foobers= "#{term_for :pass}/#{term_for :fail}"
                  - else
                    %td.doobers= points assignment.full_points
                  %td= "Yes" if assignment.grade_with_rubric?
                  %td
                    .right
                      %ul.button-bar
                        - if ! assignment.grade_with_rubric?
                          %li= link_to glyph(:check) + "Quick Grade", mass_edit_assignment_grades_path(assignment), class: "button"
                        %li= link_to glyph(:edit) + "Edit", edit_assignment_path(assignment), class: "button"
                        %li= link_to glyph(:copy) + "Copy", copy_assignments_path(id: assignment), class: "button", :method => :copy
                        %li= link_to glyph(:trash) + "Delete", assignment_path(assignment), data: { confirm: "Are you sure?", method: :delete }, class: "button"
          .box{ style: "width: 95%; margin: 1em auto;"}
            .center
              = link_to glyph(:plus) + "Add a New #{term_for :assignment}", new_assignment_path(assignment_type_id: assignment_type.id)

  .box
    .center
      = link_to glyph(:plus) + "Add a New #{term_for :assignment} Type", new_assignment_type_path
