- if current_course.has_teams? && @assignment.is_individual?
  .team-filter
    = form_tag assignment_path(@assignment), :name => "see_team", :onchange => ("javascript: document.see_team.submit();"), :method => :get do
      %label.sr-only{:for => "team_id"}
        Select #{term_for :team} –
      = select_tag :team_id, options_for_select(@teams.map { |t| [t.name, t.id] }, @team.try(:id)), :prompt => "– Select #{(term_for :team).titleize} –"

= form_tag edit_status_grades_assignment_path @assignment do
  %table.responsive.nofeatures_default_last_name_dynatable
    %thead= render "assignments/individual/table_head"
    %tbody= render "assignments/individual/table_body"

  - if @assignment.release_necessary? && @assignment.grades.present?
    .small-12.columns
      .right.form_buttons
        = submit_tag "Update Selected Grade Statuses", :class => "button radius"
