.tab-container
  %table#grade-rubric-table.preview
    %thead
      %tr
        %td.metric.heading
          %label.larger
            <strong>Criterion</strong>:&nbsp;Max&nbsp;points

        %td.tier.heading(colspan="#{presenter.rubric.max_tier_count}")
          %label.larger
            %strong Level:
            Points Awarded

    %tbody
      - presenter.metrics.each do |metric|
        %tr
          %td.metric
            .metric-heading
              .metric-name= metric.wrapped_name(28).html_safe
              .metric-points= "#{points metric.max_points} Points"
            .metric-description= metric.wrapped_description(40).html_safe
          - metric.tiers.sorted.each do |tier|
            %td.tier.tier-level
              .tier-heading
                .tier-name= tier.wrapped_name(25).html_safe
                .tier-points= "#{points tier.points} Points"
              .tier-description= tier.description

              .row.badge-row
                - tier.tier_badges.each_with_index do |badge, index|
                  - if index < 2
                    .tier-badge-image
                      %img{:src => badge.badge.icon, :class => "tier_badge" }
          - if metric.tiers.size < presenter.rubric_max_tier_count
            %td.filler(colspan="#{presenter.rubric_max_tier_count - metric.tiers.size}")
