#rubric-results-table.rubric
  - @criteria.each do |criterion|
    - criterion_grade = @criterion_grades.where(student_id: student.id, criterion_id: criterion.id).first
    .criterion
      %ul.rubric-levels
        %li.rubric-level.criterion-level
          .criterion-heading
            %h4.criterion-name= "#{criterion.name}"
            .level-points= "#{points criterion.max_points} Points"

        - criterion.levels.order("points ASC").each do |level|
          %li.rubric-level{class: ("earned selected" if criterion_grade.try(:level_id) == level.id)}
            .level-heading
              .level-details
                - if criterion_grade.try(:level_id) == level.id
                  %span.check-mark= glyph("check")
                .level-name= level.name
                .level-points
                  = "#{ points level.points } Points"
              %ul.badge-row
                - level.level_badges.each_with_index do |level_badge, index|
                  %li.level-badge-image
                    %img{src: level_badge.badge.try(:icon), alt: level_badge.badge.try(:name), title: level_badge.badge.try(:name), class: "level_badge" }

              - if level.meets_expectations? || level.above_expectations?
                .level-description
                  .level-meets-expectations Meets Expectations

        %li.rubric-level.comments-level
          .comments-heading Feedback
          .comments-text= raw criterion_grade.try(:comments)
