.tab-container
  %table#grade-rubric-table.preview
    %thead
      %tr
        %td.criterion.heading
          %label.larger
            <strong>Criterion</strong>:&nbsp;Max&nbsp;points

        %td.level.heading(colspan="#{presenter.rubric.max_level_count}")
          %label.larger
            %strong Level:
            Points Awarded

    %tbody
      - presenter.criteria.each do |criterion|
        %tr
          %td.criterion
            .criterion-heading
              .criterion-name= criterion.wrapped_name(28).html_safe
              .criterion-points= "#{points criterion.max_points} Points"
            .criterion-description= criterion.wrapped_description(40).html_safe
          - criterion.levels.sorted.each do |level|
            %td.level.level-level
              .level-heading
                .level-name= level.wrapped_name(25).html_safe
                .level-points= "#{points level.points} Points"
              .level-description= level.description

              .row.badge-row
                - level.level_badges.each_with_index do |badge, index|
                  - if index < 2
                    .level-badge-image
                      %img{:src => badge.badge.try(:icon), :class => "level_badge" }
          - if criterion.levels.size < presenter.rubric_max_level_count
            %td.filler(colspan="#{presenter.rubric_max_level_count - criterion.levels.size}")
