#rubric-results-table
  - @criteria.each do |criterion|
    - criterion_grade = @criterion_grades.where(student_id: student.id, criterion_id: criterion.id).first
    .criterion
      %ul.level-tabs
        %li.criterion-tab
          .criterion-heading
            %h4.criterion-name= "#{criterion.name}: " "#{points criterion.max_points} Points"

        - criterion.levels.order("points ASC").each do |level|
          %li.level-tab{class: ("earned selected" if criterion_grade.level_id == level.id)}
            .level-heading
              .level-details
                - if criterion_grade.level_id == level.id
                  %span.check-mark= glyph("check")
                .level-name= level.name
                .level-points
                  = "#{ points level.points } Points"
              %ul.badge-row.design-view
                - level.level_badges.each_with_index do |level_badge, index|
                  %li.level-badge-image
                    %img{:src => level_badge.badge.try(:icon), class: "level_badge" }

            .level-description
              .level-meets-expectations Meets Expectations

        %li.comments-tab
          .level-comments.comments-box
            = raw criterion_grade.comments
