.rubric-container
  %table#rubric-results-table
    %thead
      %tr
        %td.criterion.heading
          Criteria

        %td.level.heading(colspan="#{presenter.rubric.max_level_count}")
          Levels
        %td.comments.heading
          Comments


    %tbody
      - @criteria.each do |criterion|
        - criterion_grade = @criterion_grades.where(student_id: student.id, criterion_id: criterion.id).first
        %tr
          %td.criterion
            %h4.criterion-name= "#{criterion.name}: " "#{points criterion.max_points} Points"
          - criterion.levels.order("points ASC").each do |level|
            %td.level{class: ("level-earned" if criterion_grade.level_id == level.id)}
              - if criterion_grade.level_id == level.id
                %span.earned_level= glyph(:check) 
              %span.level-heading= level.name
              .badges
                - level.level_badges.each_with_index do |level_badge, index|
                  - if BadgeProctor.new(level_badge.badge).viewable?(current_user, level: level) && index < 2
                    .level-badge-image
                      %img{:src => level_badge.badge.try(:icon), class: "level_badge", width: 20 }

              

          %td.level.level-comments.comments-box
            = raw criterion_grade.comments
