.conditions
  = f.hidden_field :id
  = "Requirement"
  %span.large-2.columns
    .assignment-or-badge
      = f.input :condition_type, :collection => ["Assignment", "Badge"], :label => "Type"
  %span.large-3.columns
    .assignments-list{:style => 'display: none'}
      = f.input :condition_id, :collection => current_course.assignments.map { |l| [l.name,l.id] }, :include_blank => true, :label => "#{term_for :assignment}"
    .badges-list{:style => 'display: none'}
      = f.input :condition_id, :collection => current_course.badges.sorted.map { |l| [l.name, l.id] }, :include_blank => true, :label => "#{term_for :badge}"
  %span.large-3.columns
    .assignment-condition-state{:style => 'display: none'}
      = f.input :condition_state, :collection => ["Submitted", "Grade Earned", "Feedback Read"], :label => "State Achieved"
    .badges-condition-state{:style => 'display: none'}
      = f.input :condition_state, :collection => ["Earned"], :label => "State Achieved"
  %span.large-2.columns
    .assignment-condition-value{:style => 'display: none'}
      = f.input :condition_value, :label => "Min Points"
    .badges-condition-value{:style => 'display: none'}
      = f.input :condition_value, :label => "Number of Times Earned"
  %span.large-2.columns
    .assignment-condition-done-by{:style => 'display: none'}
      = f.input :condition_date, as: :string, :include_blank => true, :input_html => { :class => 'datetimepicker', :value => f.try(:condition_date) }, :label => "Done By"
    .badge-condition-done-by{:style => 'display: none'}
      = f.input :condition_date, as: :string, :include_blank => true, :input_html => { :class => 'datetimepicker', :value => f.try(:condition_date) }, :label => "Done By"
    
  %span.large-6.columns
    = f.hidden_field :_destroy, class: 'destroy'
    = link_to 'Delete Condition', '#', class: 'remove-unlock-condition button radius right'
