- if @assignment.pass_fail?
  %h3.pagetitle= "#{@title} (#{term_for :pass}/#{term_for :fail})"
- else
  %h3.pagetitle= "#{@title} (#{ points @assignment.point_total } points)"

#tabs.ui-tabs.ui-widget
  %ul.ui-tabs-nav{:role => "tablist"}
    %li 
      %a{ "href" => "#tabt1"} Description & Downloads
    - if @assignment.rubric and @assignment.rubric.designed? && ! current_student.grade_released_for_assignment?(@assignment)
      %li
        %a{ "href" => "#tabt2"} Grading Rubric
    - if @assignment.accepts_submissions? && current_student.submission_for_assignment(@assignment)
      %li
        %a{ :href => "#tabt3"} My Submission
    - if current_student.grade_released_for_assignment?(@assignment)
      %li
        %a{ :href => "#tabt4"} My Results
      - if ! current_course.hide_analytics? && ! @assignment.hide_analytics?
        %li
          %a{ :href => "#tabt5"} Class Analytics

  #tabt1.ui-tabs-panel.ui-widget-content{:role => "tabpanel"}
    = render 'assignments/guidelines'

  - if @assignment.rubric and @assignment.rubric.designed?
    .ui-tabs-panel#tabt2{:role => "tabpanel", "aria-hidden" => false }
      = render 'assignments/rubric_preview'
  - if @assignment.accepts_submissions? && current_student.submission_for_assignment(@assignment)
    .ui-tabs-panel#tabt3{:role => "tabpanel", "aria-hidden" => false }
      = render "submissions/student_show"
  - if current_student.grade_released_for_assignment?(@assignment)
    .ui-tabs-panel#tabt4{:role => "tabpanel", "aria-hidden" => false }
      - if @assignment.has_groups?
        = render "grades/group_show"
      - else
        = render "grades/individual_show"
    - if ! current_course.hide_analytics? && ! @assignment.hide_analytics?
      .content#tabt5{:role => "tabpanel", "aria-hidden" => false }
        - if @assignment.has_groups?
          = render "grades/group_analytics"
        - else
          = render "grades/individual_analytics"
