= content_nav_for presenter.assignment

%h3.pagetitle= presenter.title

.pageContent
  = render 'layouts/alerts'

  #tabs.ui-tabs.ui-widget
    %ul.ui-tabs-nav{:role => "tablist"}
      %li
        %a{ "href" => "#tab1"} Description & Downloads
      - if presenter.rubric_designed? && !presenter.grades_available_for?(current_student) && ( !current_student || presenter.assignment.description_visible_for_student?(current_student) )
        %li
          %a{ "href" => "#tab2"} Grading Rubric
      - if presenter.has_submission_for?(current_student)
        %li
          %a{ :href => "#tab3"} My Submission

      - if presenter.grades_available_for?(current_student)
        %li
          %a{ :href => "#tab4"} My Results
        - if !presenter.hide_analytics?
          %li
            %a{ :href => "#tab5"} Class Analytics

    #tabt1.ui-tabs-panel.ui-widget-content{:role => "tabpanel"}
      #tab1.active
        = render partial: 'assignments/description_and_downloads', locals: { presenter: presenter }
      - if presenter.rubric_designed? && !presenter.grades_available_for?(current_student) && ( !current_student || presenter.assignment.description_visible_for_student?(current_student) )
        #tab2
          = render partial: 'assignments/rubric_preview', locals: { presenter: presenter }
      - if presenter.has_submission_for?(current_student)
        #tab3
          = render partial: "submissions/student_show", locals: { presenter: presenter }
      - if presenter.grades_available_for?(current_student)
        #tab4
          - if presenter.assignment.has_groups?
            = render partial: "grades/group_show", locals: { presenter: presenter }
          - else
            = render partial: "grades/individual_show", locals: { presenter: presenter }
        - if !presenter.hide_analytics?
          #tab5
            - if presenter.assignment.has_groups?
              = render partial: "grades/analytics/group_analytics", locals: { presenter: presenter }
            - else
              = render partial: "grades/analytics/individual_analytics", locals: { presenter: presenter }
