= content_nav_for presenter.assignment

%h3.pagetitle= presenter.title

// Button bar at the top of the page
= render partial: "buttons", locals: { presenter: presenter }

.pageContent
  = render 'layouts/alerts'

  #tabs.ui-tabs.ui-widget
    %ul.ui-tabs-nav{:role => "tablist"}
      %li
        %a{ "href" => "#tab"} Grades
      %li
        %a{ "href" => "#tabt2"} Description & Downloads
      - if presenter.rubric_available?
        %li
          %a{ "href" => "#tabt3"} Grading Rubric
      - if presenter.has_grades?
        %li
          %a{ :href => "#tabt4"} Class Analytics

    #tabt1.ui-tabs-panel.ui-widget-content{:role => "tabpanel"}
      .ui-tabs-panel#tab.active{:role => "tabpanel", "aria-hidden" => false }
        - if presenter.group_assignment?
          = render 'assignments/group_show'
        - else
          = render 'assignments/individual/individual_show'
      .ui-tabs-panel#tabt2{:role => "tabpanel", "aria-hidden" => false }
        = render 'assignments/description_and_downloads'

      - if presenter.rubric_available?
        .content#tabt3{:role => "tabpanel", "aria-hidden" => false }
          %br
          = render 'assignments/rubric_preview'
      - if presenter.has_grades?
        .ui-tabs-panel#tabt4{:role => "tabpanel", "aria-hidden" => false }
          - if presenter.group_assignment?
            = render "grades/group_analytics"
          - else
            = render "grades/instructor_analytics"
