= content_nav_for presenter.assignment, "Edit #{term_for :assignment}"

%h3.pagetitle= @title

= render partial: "buttons", locals: { presenter: presenter }

.pageContent
  = render partial: "form", locals: { presenter: presenter }
