<<<<<<< 2cbc7b4f230cf5040f098163b8ad49b493d0d250
= content_nav_for presenter.assignment, "Edit #{term_for :assignment}"

%h2.pagetitle= @title

=======
= render partial: "buttons", locals: { presenter: presenter }
>>>>>>> Removing titles from views

.pageContent
  = render partial: "form", locals: { presenter: presenter }
