= content_nav_for Assignment

%h3.pagetitle= @title

.pageContent
  = render partial: "layouts/alerts"


  %ul
    - @lms_courses.each do |course|
      -# %li= course['name']
      %li
        =link_to course['name'], "#{import_assignments_path}/canvas/#{course['id']}"
