= content_nav_for Assignment, "New #{term_for :assignment}"

%h2.pagetitle= "New #{term_for :assignment}"

= render partial: "assignments/buttons", locals: { presenter: presenter }

.pageContent
  = render partial: "assignments/form", locals: { presenter: presenter }
