= content_nav_for Assignment, "#{term_for :assignment} Settings"

%h3.pagetitle= @title

.context_menu
  %ul
    %li
      %a{:href => new_assignment_path }
        %i.fa.fa-plus
        New #{(term_for :assignment).titleize}

.pageContent
  = render 'layouts/alerts'

  .assignments
    - @assignments.group_by(&:assignment_type).each do |assignment_type, assignments|
      - assignments.each do |assignment|
        %div
          = assignment.try(:name)
          = assignment.try(:assignment_type_id)
          = assignment.try(:assignment_type)
