- content_for :context_menu do
  .context_menu
    %ul
      %li= link_to glyph(:plus) + "New #{(term_for :assignment).titleize}", new_assignment_path, class: "button button-edit"

.pageContent
  = render partial: "layouts/alerts"

  .total-points-label
    %h2 Total
    %h2= "#{points(current_course.total_points)} points"
  .total-points-graph
    .graph-fill-bar.first-level-points-graph-fill-bar{:style => "width: #{(current_course.grade_scheme_elements.order_by_highest_points[0].lowest_points).to_f / (current_course.total_points.to_f).to_f * 100}%;"}
      .grade-marker= "#{current_course.grade_scheme_elements.order_by_highest_points[0].letter}"
    .graph-fill-bar.second-level-points-graph-fill-bar{:style => "width: #{(current_course.grade_scheme_elements.order_by_highest_points[1].lowest_points).to_f / (current_course.total_points.to_f).to_f * 100}%;"}
      .grade-marker= "#{current_course.grade_scheme_elements.order_by_highest_points[1].letter}"
    .graph-fill-bar.third-level-points-graph-fill-bar{:style => "width: #{(current_course.grade_scheme_elements.order_by_highest_points[2].lowest_points).to_f / (current_course.total_points.to_f).to_f * 100}%;"}
      .grade-marker= "#{current_course.grade_scheme_elements.order_by_highest_points[2].letter}"

  .assignment-index-container
    - @assignment_types.each do |assignment_type|
      .assignment-type-bar.assignment-settings
        %h2.assignment-type-name= "#{assignment_type.try(:name)}"
        .points-ratio #{ points(assignment_type.total_points) }/#{ points(current_course.total_points) }
        .assignment-type-points-graph.assignment-settings
          .points-graph-fill-bar.assignment-settings{:style => "width: #{(assignment_type.total_points).to_f / (current_course.total_points.to_f).to_f * 100}%;"}
        = link_to "Review Settings", "#", class: "button right"
