- content_for :context_menu do
  .context_menu
    %ul
      %li= link_to decorative_glyph(:plus) + "New #{(term_for :assignment).titleize}", new_assignment_path, class: "button button-edit"

.pageContent
  = render partial: "layouts/alerts"

  .assignments
    - @assignment_types.each do |assignment_type|
      %h3{:id => "assignment-settings-table-#{assignment_type.id}"}= "#{assignment_type.try(:name)} – #{points assignment_type.total_points} points"
      %table{"aria-describedby" => "assignment-settings-table-#{assignment_type.id}"}
        %thead
          %tr
            %th{scope: "col"} Name

            %th{scope: "col"}
              = icon_tooltip("visible-setting-tip_#{assignment_type.id}", :eye) do
                Visible to Students

            %th{scope: "col"}
              = icon_tooltip("required-setting-tip_#{assignment_type.id}", :asterisk) do
                Required

            %th{scope: "col"}
              = icon_tooltip("accepts-submissions-tip_#{assignment_type.id}", :paperclip) do
                Accepts Submissions

            %th{scope: "col"}
              = icon_tooltip("shown-timeline-tip_#{assignment_type.id}", :calendar) do
                Shown in Timeline

            %th{scope: "col"}
              = icon_tooltip("shown-predictor-tip_#{assignment_type.id}", :sliders) do
                Shown in Predictor

            %th{scope: "col"}
              = icon_tooltip("due-this-week-tip_#{assignment_type.id}", :list) do
                Shown in Due This Week

            %th{scope: "col"}
              = icon_tooltip("student-logged-tip_#{assignment_type.id}", :pencil) do
                Logged By Students

            %th{scope: "col"}
              = icon_tooltip("release-required-tip_#{assignment_type.id}", "unlock-alt") do
                Release Required

            %th{scope: "col"} Grade Form Preview
            %th{scope: "col"} Points

            %th{scope: "col"} Dates
            %th{scope: "col", :style => "min-width: 110px"}
              %span.sr-only Actions
        %tbody
          - assignments = assignment_type.assignments.ordered
          - assignments.each do |assignment|
            %tr
              %td= link_to assignment.name, assignment
              %td
                - if assignment.visible?
                  = icon_tooltip("visible-setting-tip_#{assignment_type.id}_#{assignment.id}", :eye) do
                    Visible to Students

              %td
                - if assignment.required?
                  = icon_tooltip("required-setting-tip_#{assignment_type.id}_#{assignment.id}", :asterisk) do
                    Required

              %td
                - if assignment.accepts_submissions?
                  = icon_tooltip("accepts-submissions-tip_#{assignment_type.id}_#{assignment.id}", :paperclip) do
                    Accepts Submissions

              %td
                - if assignment.include_in_timeline?
                  = icon_tooltip("shown-timeline-tip_#{assignment_type.id}_#{assignment.id}", :calendar) do
                    Shown in Timeline

              %td
                - if assignment.include_in_predictor?
                  = icon_tooltip("shown-predictor-tip_#{assignment_type.id}_#{assignment.id}", :sliders) do
                    Shown in Predictor

              %td
                - if assignment.include_in_to_do?
                  = icon_tooltip("due-this-week-tip_#{assignment_type.id}_#{assignment.id}", :list) do
                    Shown in Due This Week

              %td
                - if assignment.student_logged?
                  = icon_tooltip("student-logged-tip_#{assignment_type.id}_#{assignment.id}", :pencil) do
                    Logged By Students

              %td
                - if assignment.release_necessary?
                  = icon_tooltip("release-required-tip_#{assignment_type.id}_#{assignment.id}", "unlock-alt") do
                    Release Required

              %td
                - if assignment.grade_select?
                  %label.sr-only{:for => "score_levels"}
                    Score Levels
                  = select_tag(:assignment_score_levels, options_from_collection_for_select(assignment.assignment_score_levels, :points, :name), id: "score_#{assignment.id}")
                - elsif assignment.grade_radio?
                  - assignment.assignment_score_levels.each do |asl|
                    = radio_button_tag(asl.name, asl.points)
                    %span.not_bold= label_tag(asl.name)
                    %br
                - elsif assignment.grade_checkboxes?
                  = check_box_tag "score", "", false, disabled: true, id: "score_#{assignment.id}"
                - else
                  = text_field_tag "score", "", disabled: true, id: "score_#{assignment.id}"
              %td= points assignment.full_points
              %td
                %ul
                  %li
                    Opens:
                    = assignment.try(:opens_at) || "Always Open"
                  %li
                    Due At:
                    = assignment.try(:due_at) || "No Due Date"
                  %li
                    Accepted Until:
                    = assignment.try(:accepts_submissions_until) || "Always Accepted"
              %td
                .right
                  %ul.button-bar
                    %li= link_to decorative_glyph(:edit) + "Edit", edit_assignment_path(assignment), class: "button"
                    %li= link_to decorative_glyph(:trash) + "Delete", assignment_path(assignment), data: { confirm: "Are you sure?", method: :delete },  class: "button"
