- rubric.criteria.ordered.includes(levels: :level_badges).each_with_index do |criterion, cindex|
  .criterion{:id => "criterion-#{cindex}"}
    .criterion-heading
      %h5.criterion-name= "#{criterion.name}: " "#{points criterion.max_points} Points"
      %p.criterion-description= criterion.description

    - criterion.levels.ordered.reverse.each_with_index do |level, lindex|
      .tab-panel.selected{:class => ("meets-expectations-cutoff" if level.meets_expectations)}
        - if level.meets_expectations
          %p.meets-expectations-tag Meets expectations #{glyph('long-arrow-up')}
        = render partial: "rubrics/components/level", locals: { level: level, student: student, include_grade_info: false }
