- rubric.criteria.ordered.includes(levels: :level_badges).each do |criterion|
  .criterion
    .criterion-heading
      %p.criterion-name= "#{criterion.name}: " "#{points criterion.max_points} Points"
      %p.criterion-description= criterion.description
    %ul.level-tabs
      - criterion.levels.ordered.each do |level|
        %li{:class => level.earned_for?(student.id) ? "earned-level level-tab" : "level-tab"}= link_to "#{level.name}", "#"
    - criterion.levels.ordered.each do |level|
      %div{:class => level.earned_for?(student.id) ? "earned-level-panel" : "tab-panel"}
        = render partial: "rubrics/components/level", locals: { level: level, student: student, include_grade_info: include_grade_info }
        - if include_grade_info
          .level.level-comments.comments-box
            = raw criterion.comments_for(student.id)
