- if current_student.present? && include_grade_info && level.earned_for?(student.id)
  %h5.level-name You earned 
%h5.level-name= "#{level.name}: #{points level.points} Points"
- if level.meets_expectations || level.above_expectations?
  .meets-expectations-label
    %span Meets Expectations
    = icon_tooltip("me-tip_#{level.id}", "info-circle", "right") do 
      Earning this level means that you met or surpassed the minimum expectations for this criterion, and will earn the associated points.

.level-description= level.description
