Hello, #{@user.first_name}

Welcome to GradeCraft!

Thank you for signing up for a free trial!
Your trial account will allow you full access to features to build your course.

As you begin to explore and build your course,
we wanted to share some resources to help:

Guide to Getting Started
#{ "http://gamefulpedagogy.com/getting-started/".html_safe }

Frequently Asked Questions
#{ "https://gradecraft.zendesk.com/hc/en-us".html_safe}

Syllabi Examples
#{ "http://gamefulpedagogy.com/example-syllabi/".html_safe}

Your "Go-To" Resource for All Things Gameful
#{ "http://gamefulpedagogy.com/".html_safe}

Once you have had some time to look around,
please feel free to reach out to us at help@gradecraft.com to let us know
if you have questions or need any further information.

When your course is complete and you are ready to add users,
there are several license options available:
#{ "https://gradecraft.com/pricing.html".html_safe}

Happy Exploring!

The GradeCraft Team
