= content_nav_for "Downloads"

%h3.pagetitle= @title

.pageContent
  = render partial: "layouts/alerts"

  .download_type#submissions_exports
    = render partial: "downloads/submissions_exports",
      locals: { presenter: presenter }

  .download_type#course_analytics_exports
    = render partial: "downloads/course_analytics_exports",
      locals: { presenter: presenter }
