= content_nav_for "Downloads"

%h3.pagetitle= @title

.pageContent
  = render partial: "layouts/alerts"

  .download_type
    %h2 Data Downloads
    %table.dynatable
      %thead
        %tr
          %th File Type
      %tbody
        %tr
          %td= link_to glyph("file-excel-o") + "Final Grades", final_grades_path(id: current_course.id, format: "csv")
        %tr
          %td= link_to glyph("file-excel-o") + "Full Gradebook", gradebook_path(id: current_course.id, format: "csv")
        - if current_course.student_weighted?
          %tr
            %td= link_to glyph("file-excel-o") + "Multiplied Gradebook",  multiplied_gradebook_path(id: current_course.id, format: "csv")
        %tr
          %td
            = link_to glyph("file-excel-o") + "#{(term_for :assignment_type).titleize } Summaries", export_all_scores_assignment_types_path(id: current_course.id, format: "csv")
        %tr
          %td= link_to glyph("file-excel-o") + "#{term_for :assignment} Structure", export_structure_assignments_path(id: current_course.id, format: "csv")
        %tr
          %td= link_to glyph("file-excel-o") + "#{term_for :assignment} Submissions", submissions_path(id: current_course.id, format: "csv")
        - if current_course.has_badges?
          %tr
            %td
              = link_to glyph("file-excel-o") + "Awarded #{current_course.badge_term.pluralize}",  export_earned_badges_path(id: current_course.id, format: "csv")
          %tr
            %td= link_to glyph("file-excel-o") + "#{term_for :badges}", export_structure_badges_path(id: current_course.id, format: "csv")
        %tr
          %td= link_to glyph("file-excel-o") + "Grading Scheme", export_structure_grade_scheme_elements_path(id: current_course.id, format: "csv")

  .download_type#submissions_exports
    %h2 Submissions Exports

    = render partial: "downloads/submissions_exports/table",
      locals: { presenter: presenter }

  .download_type#course_analytics_exports
    %h2 Course Analytics Exports

    = render partial: "downloads/course_analytics_exports/table",
      locals: { presenter: presenter }
