.context_menu
  %ul
    %li= link_to_unless_current glyph(:user) + "#{term_for :student} Analytics", analytics_students_path
    %li= link_to_unless_current glyph(:user) + "#{term_for :team_leader} Analytics", analytics_staff_path
    %li= link_to glyph("file-zip-o") + "Download Analytics",  analytics_export_path(format: "zip")
