%select#analytics-switcher
  %option{'data-path' => analytics_students_path, :selected => ('selected' if current_page?(analytics_students_path))}= "#{term_for :student} Analytics"

  %option{'data-path' => analytics_staff_path, :selected => ('selected' if current_page?(analytics_staff_path))}= "#{term_for :team_leader} Analytics"

  %option{'data-path' => per_assign_path, :selected => ('selected' if current_page?(per_assign_path))}= "#{term_for :assignment} Analytics" 

  %option{'data-path' => assignment_types_path, :selected => ('selected' if current_page?(assignment_types_path))}= "#{term_for :assignment} Type Analytics"
