= content_nav_for "#{term_for :student} Analytics"

%h3.pagetitle= @title

= render partial: "analytics/buttons"

.pageContent
  = render partial: "layouts/alerts"

  / Login counts
  #role-logins-chart.analytics-chart{data: {:chart => "timeseries", :url => "/analytics/login_role_events.json", :url_data => "role_group=student", :title => "Logins", :subtitle => "{{granularity}}", :y_axis_label => "Logins {{granularity}}"}}
  
  / Pageviews Total
  #all-pageviews-chart.analytics-chart{data: {:chart => "timeseries", :url => "/analytics/all_role_pageview_events.json?role_group=student", :title => "Pageviews", :subtitle => "{{granularity}}"}}

  / Pageviews per page
  %table#pageviews-chart.analytics-table{data: {:chart => "timeseries-table", :url => "/analytics/role_pageview_events.json?role_group=student", :title => "Pageviews per Page", :subtitle => "{{granularity}}"}}
    %thead
      %tr 
        %th{:"data-dynatable-column" => "name"} Page
        %th{:"data-dynatable-column" => "total"} Pageviews
    %tbody
  
  / Students who have not predicted any grades for this course
  %table.dynatable
    %thead 
      %tr 
        %th #{ term_for :student }
        %th Last Login
    %tbody
      - @nonpredictors.each do |student|
        %tr
          %td= student.name
          %td= student.last_course_login(current_course) || "never logged in"
