.pageContent
  = render partial: "layouts/alerts"

  = render partial: "analytics/in_page_nav"

  / Login counts
  #role-logins-chart.analytics-chart{data: {:chart => "timeseries", :url => "/analytics/login_role_events.json", :url_data => "role_group=student", :title => "Logins", :subtitle => "{{granularity}}", :y_axis_label => "Logins {{granularity}}"}}

  / Pageviews Total
  #all-pageviews-chart.analytics-chart{data: {:chart => "timeseries", :url => "/analytics/all_role_pageview_events.json?role_group=student", :title => "Pageviews", :subtitle => "{{granularity}}"}}

  / Pageviews per page
  -# %table#pageviews-chart.analytics-table{data: {:chart => "timeseries-table", :url => "/analytics/role_pageview_events.json?role_group=student", :title => "Pageviews per Page", :subtitle => "{{granularity}}"}}
  -#   %caption.sr-only= "#{term_for :student} page views per page"
  -#   %thead
  -#     %tr
  -#       %th{:"data-dynatable-column" => "name"} Page
  -#       %th{:"data-dynatable-column" => "total"} Pageviews
  -#   %tbody

  / Students who have not predicted any grades for this course
  %h3.bold Non-predictors
  .italic.small= "#{term_for :students} who have not yet used the #{term_for :grade_predictor}"
  %table.dynatable
    %thead
      %tr
        %th #{ term_for :student }
        %th.hidden Last Login Date
        %th{:"data-dynatable-column" => "lastLoginDate"} Last Login
    %tbody
      - @nonpredictors.each do |student|
        %tr
          %td= link_to student.name, student_path(student)
          %td.hidden= l student.last_course_login(current_course) if student.last_course_login(current_course).present?
          %td= l student.last_course_login(current_course).in_time_zone(current_user.time_zone) if student.last_course_login(current_course).present?
