.flex-col-40
  - if presenter.due_dates?
    .panel.todo.dashboard-module= render partial: "info/dashboard/modules/dashboard_to_do_list", locals: { presenter: presenter }

.flex-col-60
  - if @events.present?
    .panel.dashboard-module= render partial: "info/dashboard/modules/dashboard_course_events", locals: { presenter: Info::DashboardCourseEventsPresenter.new(course: current_course, student: current_student, assignments: presenter.assignments) }

  .flex-column
    - if current_course.grade_scheme_elements.present? && GradeSchemeElement.has_valid_elements_for(current_course)
      .panel.dashboard-module.grading-scheme-module.flex-row= render partial: "info/dashboard/modules/dashboard_grading_scheme"

    .stacked-column
      .panel.dashboard-module.stacked-module= render partial: "info/dashboard/modules/dashboard_grade_distribution"

      .panel.dashboard-module.stacked-module= render partial: "info/dashboard/modules/dashboard_weekly_stats", locals:  { presenter: Info::DashboardWeeklyStatsPresenter.new(course: current_course, student: current_student) }
