.col-40
  - if presenter.due_dates?
    .panel.todo.dashboard-module= render partial: "info/dashboard/modules/dashboard_to_do_list", locals: { presenter: presenter }

.col-60
  - if @events.present?
    .panel.dashboard-module= render partial: "info/dashboard/modules/dashboard_course_events", locals: { presenter: Info::DashboardCourseEventsPresenter.new(course: current_course, student: current_student, assignments: presenter.assignments) }

  .panel.dashboard-module= render partial: "info/dashboard/modules/dashboard_weekly_stats", locals:  { presenter: Info::DashboardWeeklyStatsPresenter.new(course: current_course, student: current_student) }

  - if current_course.grade_scheme_elements.present?
    .panel.dashboard-module= render partial: "info/dashboard/modules/dashboard_grading_scheme"

  - if ! current_course.hide_analytics?
    .panel.dashboard-module= render partial: "info/dashboard/modules/dashboard_grade_distribution"
