= render partial: "info/student_onboarding", locals:  { presenter: Info::DashboardCourseRulesPresenter.new(course: current_course) }

.pageContent

  = render "layouts/alerts"

  .student-dashboard
    .flex-col.col-30.tablet-col
      .panel.todo.dashboard-module= render partial: "info/dashboard/modules/dashboard_to_do_list", locals: { presenter: presenter }

      - if current_course.has_multipliers?
        .panel.dashboard-module= render partial: "info/dashboard/modules/dashboard_assignment_weights"

    .flex-col.col-70.tablet-col
      - if @events.present?
        .panel.dashboard-module= render partial: "info/dashboard/modules/dashboard_course_events", locals: { presenter: Info::DashboardCourseEventsPresenter.new(course: current_course, student: current_student, assignments: presenter.assignments) }

      .flex-column
        - if current_course.grade_scheme_elements.present? && GradeSchemeElement.has_valid_elements_for(current_course)
          .flex-row.panel.dashboard-module.grading-scheme-module.col-50= render partial: "info/dashboard/modules/dashboard_grading_scheme", locals: { presenter: Info::DashboardGradingSchemePresenter.new(course: current_course, student: current_student) }

        .stacked-column.col-50
          .panel.dashboard-module= render partial: "info/dashboard/modules/dashboard_weekly_stats", locals:  { presenter: Info::DashboardWeeklyStatsPresenter.new(course: current_course, student: current_student) }

          - if AnalyticsProctor.new.viewable? current_student, current_course
            .panel.dashboard-module= render partial: "info/dashboard/modules/dashboard_grade_distribution"
