= content_nav_for @course, "#{@provider_name.capitalize} Integration"

%h2.pagetitle Link #{@provider_name.capitalize} Course with #{@course.name}

.pageContent
  = render partial: "layouts/alerts"

  %table.dynatable.no-table-header
    %thead
      %tr
        %th{scope: "col"} Name
        %th{scope: "col"} Description
        %th.button-column{"data-dynatable-no-sort" => "true"}
    %tbody
      - @courses.each do |course|
        %tr
          %td= course["name"]
          %td= course["syllabus_body"]
          %td
            .right
              %ul.button-bar
                %li
                  = form_tag integrations_path, method: :post do
                    = hidden_field_tag :id, course["id"]
                    = button_tag glyph("link") + "Link Course", class: "button"
