.card-header
  %h3 Weekly Stats
.card-body.weekly-stats-module
  - if presenter.has_weekly_stats?
    .module-section
      - if presenter.has_points_this_week?
        %p Total points earned this week:
        %p.week-points= number_with_delimiter(presenter.points_this_week)

    .module-section
      - if presenter.has_grades_this_week?
        %p Grades received this week:
        %ul
          - presenter.grades_this_week.each do |grade|
            %li
              #{link_to grade.assignment.name, grade.assignment}:
              %span #{number_with_delimiter(grade.final_points)} points earned

    .module-section
      - if current_course.has_badges? && presenter.has_badges_this_week?
        %p #{term_for :badges} earned this week:
        %ul
          - presenter.badges_this_week.each do |badge|
            %li
              %img{:src => badge.icon, :width => 25 }
              %span #{badge.name} #{(term_for :badge).downcase} earned
  - else
    .module-section.dashboard-message
      %p You have not earned anything in the last week!