.col-30
  .panel.todo.dashboard-module= render partial: "students/dashboard/dashboard_to_do_list", locals: { presenter: presenter }

  - if current_course.student_weighted?
    .panel.dashboard-module= render partial: "students/dashboard/dashboard_assignment_weights"

.col-40
  - if @events.present?
    .panel.dashboard-module= render partial: "students/dashboard/dashboard_course_events", locals: { presenter: Info::DashboardCourseEventsPresenter.new(course: current_course, student: current_student, assignments: presenter.assignments) }

  .panel.dashboard-module= render partial: "students/dashboard/dashboard_weekly_stats", locals:  { presenter: Students::DashboardWeeklyStatsPresenter.new(course: current_course, student: current_student) }

  - if current_user_is_staff?
    .panel= render partial: "students/dashboard/dashboard_avatar"

.col-30
  .panel.dashboard-module.earned_points= render partial: "students/dashboard/dashboard_earned_points_and_level"

  - if current_course.grade_scheme_elements.present?
    .panel.dashboard-module= render partial: "students/dashboard/dashboard_grading_scheme", locals: { presenter: Students::DashboardGradingSchemePresenter.new(course: current_course, student: current_student) }

  - if current_course.has_badges?
    .panel.dashboard-module= render partial: "students/dashboard/dashboard_badges"

  - if ! current_course.hide_analytics?
    .panel.dashboard-module= render partial: "students/dashboard/dashboard_grade_distribution"