%table.dynatable
  %thead
    %tr
      %th
      %th
      %th First Name
      %th Last Name
      - if current_course.in_team_leaderboard? || current_course.character_names?
        %th Screenname
      - if current_course.has_teams?
        %th #{current_course.team_term}
      - if current_course.team_roles?
        %th Role
      %th{ "data-dynatable-sorts" => "numericScore" } Score
      %th Grade
      %th{ :style => "min-width: 200px" }
  %tbody
    - students.each do |student|
      %tr
        %td
          = div_for student do
            = link_to flagged_user_icon(current_course, current_user, student.id), flag_user_path(student), method: :post, remote: true, class: "flagged-user-icon"
        %td
          - if student.avatar_file_name.present?
            %img.img-rounded{:src => student.avatar_file_name, :width => 30}
        %td= link_to student.first_name, student_path(student)
        %td= link_to student.last_name, student_path(student)
        - if current_course.in_team_leaderboard? || current_course.character_names?
          %td
            = student.display_name
        - if current_course.has_teams?
          %td
            - if student.team_for_course(current_course)
              = link_to student.team_for_course(current_course).name, team_path(id: student.team_for_course(current_course).id)
        - if current_course.team_roles?
          %td= student.try(:team_role)
        %td
          - if student.respond_to?(:grades)
            = points current_course.score_for_student(student)
        %td
          - if student.grade_for_course(current_course).present?
            = student.grade_for_course(current_course).name
        %td
          .right
            %ul.button-bar
              %li= link_to glyph(:edit) + "Edit", edit_user_path(student), class: "button"
              %li= link_to glyph(:trash) + "Delete", student.course_memberships.where(course_id: current_course.id).first, class: "button", data: { confirm: "This will delete #{student.name} from your course - are you sure?" }, :method => :delete
