- if current_user_is_staff?
  .panel= render "students/sidebar/sidebar_avatar"

.panel.earned_points= render "students/sidebar/sidebar_earned_points_and_level"

- if current_course.student_weighted?
  .panel= render "students/sidebar/sidebar_assignment_weights"

.panel.todo= render "students/sidebar/sidebar_to_do_list"

- if ! current_course.hide_analytics?
  .panel= render "students/sidebar/sidebar_grade_distribution"

- if current_course.has_badges?
  .panel= render "students/sidebar/sidebar_badges"
