.table-filter-wrapper
  .filter-container
    %p Filter:
    .filter-buttons
      %button.button-table-action#btn-all-students{role: "button", type: "button", "aria-pressed": "false"}= decorative_glyph(:users) + "All #{term_for :students}"
      %button.button-table-action.selected#btn-leaderboard{role: "button", type: "button", "aria-pressed": "true"}= decorative_glyph('list-ol') + "Leaderboard"
      %button.button-table-action#btn-flagged-students{role: "button", type: "button", "aria-pressed": "false"}= decorative_glyph(:flag) + "Flagged #{term_for :students}"
      %button.button-table-action#btn-top10{role: "button", type: "button", "aria-pressed": "false"}= decorative_glyph('star') + "Top 10"
      %button.button-table-action#btn-bottom10{role: "button", type: "button", "aria-pressed": "false"}= decorative_glyph('star-half-empty') + "Bottom 10"
      %button.button-table-action#btn-auditors{role: "button", type: "button", "aria-pressed": "false"}= decorative_glyph('user-o') + "Auditors"
      %button.button-table-action#btn-deactivated{role: "button", type: "button", "aria-pressed": "false"}= decorative_glyph('user-o') + "Deactivated"
