= content_nav_for User, "Flagged #{term_for :students}"

%h2.pagetitle= @title

.pageContent
  = render "layouts/alerts"
  = render partial: "students/students_table", locals: { course: current_course, :students => @students }
