.pageContent
  = render "layouts/alerts"

  %table.dynatable
    %thead
      %tr
        %th ID
        %th ID | Assignment
        %th Submission
        %th Final Score
        %th{ "data-dynatable-sorts" => "numericScore" } Score With Weights
        %th Predicted Score
        %th Feedback
        %th Status
        %th
        %th
        %th
    %tbody
      - @grades.each do |g|
        %tr
          %td= g.id
          %td= "#{g.assignment_id} • #{g.assignment.try(:name)}"
          %td= g.submission.id if g.submission.present?
          %td= g.final_points
          %td= g.try(:score)
          %td= g.predicted_points
          %td= g.feedback
          %td= g.status
          %td= link_to "Edit Grade", edit_grade_path(g), class: "button"
          %td= link_to "See Grade", grade_path(g), class: "button"
          %td= link_to "Delete Grade", grade_path(g), class: "button", data: { confirm: "Are you sure?" }, :method => :delete
