= render "students/buttons"

.pageContent
  = render "layouts/alerts"

  / Display the table of course students, their leaderboard display, their team affiliation, their score and their grade
  - if @course.has_teams?
    .clear
      %team-selector.right.select-menu{"data-course-id"=>"#{@course.id}"}

  %courses-students-index{"data-course-id"=>"#{@course.id}",
                          "data-links-visible"=>"#{current_user_is_admin? || @course.active?}",
                          "data-is-staff"=>"#{current_user_is_staff?}",
                          "data-is-admin"=>"#{current_user_is_admin?}",
                          "data-is-umich-environment"=>"#{Rails.env.production?}"}
