= content_nav_for User, "#{term_for :students}"

%h2.pagetitle= @title

= render "users/buttons"

.pageContent
  = render "layouts/alerts"

  = team_filter(@teams) if current_course.has_teams?

  / Display the table of course students, their leaderboard display, their team affiation, their score and their grade
  = render partial: "students/students_table", locals: { course: current_course, :students => @students }
