- if current_user_is_staff?
  = content_nav do
    = render "students/student_profile_tabs"

#predictor-main-content

  .predictor-sticky-graph-wrapper
    #predictor-graph-wrapper.predictor-sticky-item
      #predictor-graph-min-points 0
      #predictor-graph
        #predictor-graph-bar-earned{:'data-percent' => "24"}
        #predictor-graph-bar-predicted{:'data-percent' => "50"}
      #predictor-graph-max-points 1,720,000

  .predictor-sticky-item-wrapper
    #predictor-grade-earned.predictor-sticky-item
      .predictor-info-bar-colum
        .predictor-key.grade-earned-key
        .predictor-title-colum
          Earned points:
        .predictor-points-colum.bold #{points current_student.cached_score_for_course(current_course)}
      .predictor-info-bar-colum.medium-visible
        - if current_student.grade_level_for_course(current_course).present?
          Current Level:
          %span.bold= current_student.grade_level_for_course(current_course)

  .predictor-sticky-item-wrapper
    #predictor-grade-predicted.predictor-sticky-item
      .predictor-info-bar-colum
        .predictor-key.grade-predicted-key
        .predictor-title-colum
          Predicted points:
        #predictor-score-display.predictor-points-colum.bold
      .predictor-info-bar-colum.medium-visible
        Predicted level:
        %span.bold#predictor-course-grade{:'data-grade-levels' => "#{@grade_levels_json}"}

  .predictor-sticky-item-wrapper
    #predictor-grade-possible.predictor-sticky-item
      .predictor-key.grade-possible-key
      .predictor-info-bar-colum
        .predictor-title-colum
          Possible points:
        .predictor-points-colum.bold= "#{ points current_course.total_points }"

  .gradePredictor
    #predictorWrapper#studentID{ 'data-student-id' => current_student.id }
    .charts.dashboard-charts
      .chart-wrapper
        .chart-inner
          #prediction
    .clear

  #predictorPage{ 'data-student-name' => current_student.name, 'data-course-total' => current_course.total_points }
    %ul.slides.small-12.colums
      - if current_user_is_staff?
        = render partial: 'students/predictor/instructor_assignments'
      - elsif current_user_is_student?
        = render partial: 'students/predictor/assignments'
      = render 'students/predictor/badges'
      //= render 'students/predictor/challenges'
