.preview-bar
  .right= link_to glyph(:eye) + "Preview GradeCraft as #{presenter.student.first_name}", student_preview_path(presenter.student), class: "button"

.pageContent

  = render "layouts/alerts"

.instructor-dashboard.show-student
  .flex-col.col-50
    .panel.dashboard-module= render partial: "info/dashboard/modules/dashboard_avatar"

    - if current_course.grade_scheme_elements.present? && GradeSchemeElement.has_valid_elements_for(current_course)
      .panel.dashboard-module.grading-scheme-module= render partial: "info/dashboard/modules/dashboard_grading_scheme", locals: { presenter: Info::DashboardGradingSchemePresenter.new(course: current_course, student: current_student) }

  .flex-col.col-50
    - if AnalyticsProctor.new.viewable? current_student, current_course
      .panel.dashboard-module
        %course-distribution-analytics

    .panel.dashboard-module
      %weekly-stats-analytics(student-id="#{current_student.id}")

    - if current_course.student_weighted?
      .panel.dashboard-module= render partial: "info/dashboard/modules/dashboard_assignment_weights"

.pageContent
  = render partial: "students/grade_index", locals: { presenter: presenter }
