%h3.pagetitle= @title

.pageContent
  = render "layouts/alerts"

  %h4.italic.not_bold
    = render "teams/leaderboard"
    - if @team.present?
      - if current_course.in_team_leaderboard? || @team.in_team_leaderboard?
        = render "teams/in_team_rankings", team: @team

      %h4.subtitle Your #{term_for :team} (#{@team.name}) has earned #{points @team.score } points
      - if @team.banner.present?
        %img.clear{:src => @team.banner, :height => 200 }

    - if current_course.challenges.present?
      = render "challenges/student_index"
