= render partial: "layouts/alerts", locals: { model: @earned_badge, term: term_for(:badge) }

= simple_form_for([@badge, @earned_badge]) do |f|
  .italic= "You are awarding the #{@badge.name} #{term_for :badge} to..."

  = f.hidden_field :badge_id, value: @badge.id
  = f.hidden_field :student_visible, value: true

  %section
    = f.select :student_id, options_from_collection_for_select(@students, "id", "name", @earned_badge.try(:student_id)), :prompt => "Select Student"

  %section
    .textarea
      %h4 #{term_for :badge} Feedback
      .form_label Enter a message to the #{term_for :student} regarding their work
      = f.text_area :feedback, class: "froala"

  .submit-buttons
    %ul
      %li= f.button :submit, "#{@earned_badge.persisted? ? 'Update' : 'Award'} #{term_for :badge}"
      %li= link_to glyph("times-circle") + "Cancel", badge_path(@badge), class: "button"
