- content_for :context_menu do
  .context_menu
    %ul
      = active_course_link_to decorative_glyph(:edit) + "Edit", edit_badge_earned_badge_path(id: @earned_badge.id), class: "button button-edit"

.pageContent
  = render partial: "layouts/alerts"

  %img{:src => @earned_badge.badge.try(:icon), :alt => @earned_badge.badge.try(:name), :width => "25", :height => "25"}
  %p
    %b= link_to @earned_badge.name, badge_path(@earned_badge.badge)
    - if @earned_badge.badge.full_points?
      = "(#{@earned_badge.points} points)"

  %p
    %b= "Earned by:"
    = link_to @earned_badge.student.name, student_path(@earned_badge.student)

  %p
    %b= "Earned on:"
    = @earned_badge.created_at

  %p= raw @earned_badge.feedback

  %p
    %b= "Awarded by:"
    - if @earned_badge.awarded_by.nil?
      = "-"
    - else
      = @earned_badge.awarded_by.name
