.pageContent
  = render partial: "layouts/alerts"

  #massGrade
    = simple_form_for @challenge, method: :put, :url => mass_update_challenge_challenge_grades_path(@challenge) do |f|
      %table.dynatable
        - @challenge_grades.each_with_index do |cg, i|
          %tr
            %td
              = link_to cg.team.name, team_path(cg.team)
            %td
              = f.simple_fields_for :challenge_grades, cg do |cgf|
                = cgf.hidden_field :team_id
                = cgf.input :status, as: :hidden, :input_html => { :value => "Graded" }
                - if @challenge.challenge_score_levels.present?
                  = cgf.select :score, options_from_collection_for_select(@challenge.challenge_score_levels, :value, :name, cg.try(:score)), include_blank: true
                - else
                  - if cg.persisted?
                    = cgf.text_field :score, data: {autonumeric: true, "m-dec" => "0"}
                  - else
                    = cgf.text_field :score, :value => nil, data: {autonumeric: true, "m-dec" => "0"}

      .submit-buttons
        %ul
          %li= f.button :submit, "Submit"
          %li= link_to glyph("times-circle") + "Cancel", challenges_path, class: "button"
