= content_nav_for @challenge, "Grade #{term_for :challenge}"

%h2.pagetitle= @title

.pageContent
  = render "layouts/alerts"

  = render partial: "challenge_grades/form", locals: { form_path: challenge_challenge_grades_path(@challenge, @challenge_grade) }
