= content_nav_for @staff

%h3.pagetitle= @staff.name

.pageContent
  = render 'layouts/alerts'
  
  %h4 Courses
  %ul
    - @staff.courses.each do |course|
      %li= link_to course.name, course

  %h4 Recently Graded
  %table.nofeatures_dynatable
    %thead
      %tr
        %th Assignment
        %th Student
        %th Score
        %th Feedback
        %th Created at
        %th Last Updated
        %th
    %tbody
      - @grades.each do |grade|
        %tr
          %td= link_to grade.assignment.name, assignment_path(grade.assignment)
          %td= link_to grade.student.name, student_path(grade.student)
          %td= points grade.score
          %td= raw grade.feedback
          %td= grade.created_at
          %td= grade.updated_at
          %td
            %ul.button-bar
              %li= link_to raw('<i class="fa fa-edit fa-fw"> </i> Edit'), edit_assignment_grade_path(grade.assignment, :student_id => grade.student.id), :class => 'button'
              %li= link_to raw('<i class="fa fa-trash fa-fw"> </i> Delete'), remove_grades_assignment_path(:assignment_id => grade.assignment.id, :id => grade.id), :class => 'button', :data => { confirm: 'Are you sure?' }, :method => :post