= content_nav_for @staff_member

%h3.pagetitle= @staff_member.name

= render "buttons"

.pageContent
  = render "layouts/alerts"

  %h4 Courses
  %ul
    - @staff_member.courses.each do |course|
      %li= link_to course.name, course

  %h4 Recently Graded
  %table.dynatable
    %thead
      %tr
        %th Assignment
        %th Student
        %th Score
        %th Feedback
        %th Created at
        %th Last Updated
        %th{:style => "min-width: 120px"}
    %tbody
      - @grades.each do |grade|
        %tr
          %td= link_to grade.assignment.name, assignment_path(grade.assignment)
          %td= link_to grade.student.name, student_path(grade.student)
          %td= points grade.score
          %td= raw grade.feedback
          %td= grade.created_at
          %td= grade.graded_at
          %td
            %ul.button-bar
              %li= link_to glyph(:edit) + "Edit", edit_assignment_grade_path(grade.assignment, student_id: grade.student.id), class: "button"
              %li= link_to glyph(:trash) + "Delete", remove_grade_path(grade), class: "button", data: { confirm: "Are you sure?" }, :method => :post
