- if current_course.has_team_challenges? && current_course.add_team_score_to_student? && current_student.team_for_course(current_course).present?
  .assignment_type.team-challenge.student{role: "tablist"}

    .collapse{role: "tab"}
      %h3= glyph('chevron-circle-right') + "#{term_for :challenges}"
      .points-summary
        .points-bar-graph
          .points-bar-graph-fill{:style => "width: #{(current_student.team_for_course(current_course).challenge_grade_score).to_f / (current_course.point_total_for_challenges).to_f * 100}%;"}
        %span.assignment-type-points #{ points current_student.team_for_course(current_course).challenge_grade_score }/#{ points current_course.point_total_for_challenges}

    .assignment-type-container{role: "tabpanel"}
      - current_course.challenges.visible.each do |challenge|
        .assignment-container
          .assignment-info.assignment-indicator-icon
            - if current_student.team_for_course(current_course).present? && challenge.challenge_grade_for_team(current_student.team_for_course(current_course)).present?
              %span.checkmark= glyph(:check)
          .assignment-name
            = link_to challenge.name, challenge
          .assignment-info.assignment-due-date
            - if challenge.future?
              = "#{l challenge.due_at.in_time_zone(current_user.time_zone)}"
          .assignment-info.assignment-pass-fail
            - if current_student.team_for_course(current_course).present? && challenge.challenge_grade_for_team(current_student.team_for_course(current_course)).present?
              .bold= "#{points challenge.challenge_grade_for_team(current_student.team_for_course(current_course)).score} / #{points challenge.full_points} points earned"
            - else
              %span.italic= "#{points challenge.full_points} points possible"
