.pageContent
  = render "layouts/alerts"

  = simple_form_for(@course)  do |f|
    #tabs.ui-tabs.ui-widget
      %ul.ui-tabs-nav{role: "tablist"}
        %li
          %a{ "href" => "#tab"} Accepted Badges
        %li
          %a{ "href" => "#tab2"} Proposed Badges
        %li
          %a{ "href" => "#tab3"} Rejected Badges

      #tabt1.ui-tabs-panel
        .ui-tabs-panel#tab.active{role: "tabpanel", "aria-hidden" => false }
          = render partial: "badges/components/badge_table", locals: { title: "accepted", badges: presenter.accepted_badges, presenter: presenter, f: f }
        .ui-tabs-panel#tab2{role: "tabpanel", "aria-hidden" => false }
          = render partial: "badges/components/badge_table", locals: { title: "proposed", badges: presenter.proposed_badges, presenter: presenter, f: f }
        .ui-tabs-panel#tab3{role: "tabpanel", "aria-hidden" => false }
          = render partial: "badges/components/badge_table", locals: { title: "rejected", badges: presenter.rejected_badges, presenter: presenter, f: f }
