.pageContent
  = render partial: "layouts/alerts"

  .badge-show-page
    %a{:href => "/badges"}
      Back to Badges
    %section.pg-header
      .badge-icon-container
        .badge-icon{'ng-class'=>"(badge.earned_badge_count <= 0 ? 'badge-icon unearned' : 'badge-icon')"}
          .img-cropper.med-crop
            = render partial: "badges/components/icon", locals: { badge: presenter.badge, count: presenter.earned_badges.count }
      %h1.badge-title
        = render partial: "badges/components/name", locals: { badge: presenter.badge, title: presenter.badge.name }
    %section.badge-container
      %section.badge-stats
        .badge-stat
          %h3.points
            Point Value
          %span
          - if presenter.badge.full_points.present? && presenter.badge.full_points > 0
            = render partial: "badges/components/points", locals: {badge: presenter.badge, points: presenter.badge.full_points }
          - else
            0
        .badge-stat
          %h3.badge-status
            Status
          %span
            = render partial: "badges/components/state", locals: {badge: presenter.badge, state: presenter.badge.state }
        .badge.stat
          %h3.count
            Times Earned
          %span
            = render partial: "badges/components/count", locals: { badge: presenter.badge, count: presenter.earned_badges.count }
          = render partial: "badges/components/hover_icons", locals: { badge: presenter.badge }
      %section.badge-info
        .badge-info-piece
          %h3 Description
          = render partial: "badges/components/description", locals: { badge: presenter.badge, title: presenter.badge.name }

        .badge-info-piece
          %h3
            Unlock Conditions
          %ul
            %li
              %p
                This is an unlock condition
            %li
              %p
                This is another unlock condition

        .badge-info-piece
          = render partial: "badges/student_earned_badges", locals: { presenter: presenter }

      - if presenter.badge.student_awardable?
        %section.student-awardable
          = link_to glyph(:star) + "Award", new_badge_earned_badge_path(presenter.badge), class: "button"
          You can award this #{(term_for :badge).downcase} to another #{(term_for :student).downcase}.

      - if presenter.badge.badge_files.present?
        %p
          %b Attachments:
          %ul
            - presenter.badge.badge_files.each do |bf|
              %li
                = link_to bf.filename, bf.url
                - if current_user_is_staff?
                  = link_to "(Remove)", remove_uploads_path({ :model => "BadgeFile", :upload_id => bf.id } )
