= content_nav_for @badge, "Edit #{term_for :badge}"

%h2.pagetitle= @title

= render partial: "badges/context_menu", locals: { badge: @badge, actions: [:see, :award, :quick_award]}

.pageContent
  = render partial: "badges/form"
