= content_nav_for Badge if !current_student

%h3.pagetitle= presenter.title

= render partial: "badges/context_menu", locals: {actions: [:new]} if current_user_is_staff? && !presenter.view_student_context?

.pageContent
  = render "layouts/alerts"

  %table.badge-index-table{:class => ("student-index" if presenter.view_student_context?)}
    %thead
      %tr
        %th.sort-column
        %th.lock-icon-column
        %th.icon-column
        %th.earned_column Earned
        %th.description-column Description
        %th.button-column

    %tbody{:class => ("sort-badges" if !presenter.view_student_context?)}
      - presenter.badges.each do |badge|
        - if BadgeProctor.new(badge).viewable?(current_student || current_user)
          %tr{id: "badge-#{badge.id}"}
            - if !presenter.view_student_context?
              %td.center
                %i.fa.fa-arrows-v.draggable
            - else
              %td

            // Lock Condition Icons
            %td
              = render partial: "badges/components/hover_icons", locals: { badge: badge }

            // Badge Icon
            %td
              = render partial: "badges/components/icon", locals: { badge: badge }

            %td
              = render partial: "badges/components/count", locals: { badge: badge, count: presenter.earned_badges_count(badge) }

            // Description
            %td
              - if current_user_is_staff? && presenter.view_student_context?
                = render partial: "badges/components/description",
                  locals: { badge: badge, title: link_to(badge.name, student_badge_show_path(presenter.student, badge)) }
              - else
                = render partial: "badges/components/description",
                  locals: { badge: badge, title: link_to(badge.name, badge_path(badge)) }

            // Buttons
            %td
              - if !presenter.view_student_context?
                = render partial: "badges/buttons", locals: { badge: badge }
