= content_nav_for Badge if !@student

%h3.pagetitle= @title

= render partial: "badges/context_menu", locals: {actions: [:new]} if current_user_is_staff? && !@student

.pageContent
  = render "layouts/alerts"

  %table.badge-index-table{:class => ("student-index" if @student)}
    %thead
      %tr
        %th.sort-column
        %th.lock-icon-column
        %th.icon-column
        %th.earned_column Earned
        %th.description-column Description
        %th.button-column

    %tbody{:class => ("sort-badges" if !@student)}
      - @badges.each do |badge|
        - if BadgeProctor.new(badge).viewable?(@student || current_user)
          %tr{id: "badge-#{badge.id}"}
            - if !@student
              %td.center
                %i.fa.fa-arrows-v.draggable
            - else
              %td

            // Lock Condition Icons
            %td
              = render partial: "badges/components/hover_icons", locals: { badge: badge }

            // Badge Icon
            %td
              = render partial: "badges/components/icon", locals: { badge: badge }

            %td
              - if @student
                = render partial: "badges/components/count", locals: { badge: badge, count: @earned_badge_count[badge.id] }
              - else
                = render partial: "badges/components/count", locals: { badge: badge, count: badge.awarded_count }

            // Description
            %td
              = render partial: "badges/components/description", locals: { badge: badge, link_to_badge: true }

            // Buttons
            %td
              - if !@student
                = render partial: "badges/buttons", locals: { badge: badge }
