= content_nav_for presenter.badge

%h3.pagetitle= presenter.title

= render partial: "badges/context_menu", locals: { badge: presenter.badge, actions: [:new, :edit, :award, :quick_award] } if current_user_is_staff?

.pageContent
  = render "layouts/alerts"

  - if current_course.has_teams? && current_user_is_staff?
    .team-filter
      = form_tag badge_path(presenter.badge), name: "see_team", :onchange => ("javascript: document.see_team.submit();"), :method => :get do
        %label.sr-only{:for => "team_id"}
          Select #{term_for :team}
        = select_tag :team_id, options_for_select(presenter.teams.map { |t| [t.name, t.id] }, presenter.team.try(:id)), :prompt => "– Select #{(term_for :team).titleize} –"

  .badge-container
    .badge-icon
      = render partial: "badges/components/icon", locals: { badge: presenter.badge }
    .badge-description
      = render partial: "badges/components/description", locals: { badge: presenter.badge, title: presenter.badge.name }
      .count
        Times Earned:
        %span
          = render partial: "badges/components/count", locals: { badge: presenter.badge, count: presenter.earned_badges.count }
      = render partial: "badges/components/hover_icons", locals: { badge: presenter.badge }

  - if presenter.badge.badge_files.present?
    %p
      %b Attachments:
      %ul
        - presenter.badge.badge_files.each do |bf|
          %li
            = link_to bf.filename, bf.url
            - if current_user_is_staff?
              = link_to "(Remove)", remove_uploads_path({ :model => "BadgeFile", :upload_id => bf.id } )
  .clear

  - if current_user_is_staff? && ! presenter.view_student_context?
    = render partial: "badges/all_students_earned_badges_table", locals: { presenter: presenter }
  - else
    = render partial: "badges/student_earned_badges", locals: { presenter: presenter }
