%tr
  %td= grade["user"]["name"]
  %td= user["primary_email"]
  %td= lms_user_match?(user["primary_email"], current_course) ? "Yes" : "No"
  %td= grade["score"]
  %td.center
    - if lms_user_match?(user["primary_email"], current_course)
      = check_box_tag "grade_ids[]", grade["id"], false, data: { behavior: "toggle-disable-list-command", commands: "[data-behavior='selected-grades-command']" }
