%tr
  %td= lms_user["primary_email"]
  %td= points lms_grade["score"]
  %td= lms_grade["submission_comments"]
  %td= points grade.raw_points
  %td= h grade.feedback if grade.feedback.present?
  %td= lms_user_match?(lms_user["primary_email"], current_course) ? "Yes" : "No"
  %td.center
    = check_box_tag "grade_ids[]", lms_grade["id"], false, data: { behavior: "toggle-disable-list-command", commands: "[data-behavior='selected-grades-command']" }
