.pageContent
  = render partial: "layouts/alerts"

  %table.dynatable.no-table-header
    %thead
      %tr
        %th{scope: "col"} Name
        %th{scope: "col"} Description
        %th{scope: "col"} Due
        %th{scope: "col"} Points
        %th.button-column{"data-dynatable-no-sort" => "true"}
    %tbody
      - @assignments.each do |assignment|
        %tr
          %td= assignment["name"]
          %td= (assignment["description"] || "").html_safe
          %td= assignment["due_at"]
          %td= assignment["points_possible"]
          %td
            .right
              %ul.button-bar
                %li
                  = link_to assignment_grades_importer_grades_path(@assignment, @provider_name, @course["id"], assignment_ids: assignment["id"]), class: "button" do
                    = decorative_glyph(:download) + "Import Grades for this assignment"
