= content_nav_for Course, ["Import Assignments", assignments_importers_path], @provider.capitalize

%h3.pagetitle= "Assignment Import from #{@provider.capitalize}"

.pageContent
  = render partial: "layouts/alerts"

  = render partial: "importers/assignments_table"
