= content_nav_for @assignment, ["Import Grades", assignment_grades_importers_path(@assignment)], "From Canvas"

%h3.pagetitle= "Import from #{@provider_name.capitalize}"

.pageContent
  = render partial: "layouts/alerts"

  %table.dynatable.no-table-header
    %thead
      %tr
        %th{scope: "col"} Name
        %th{scope: "col"} Description
        %th.button-column{"data-dynatable-no-sort" => "true"}
    %tbody
      - @courses.each do |course|
        %tr
          %td= course["name"]
          %td= course["syllabus_body"]
          %td
            .right
              %ul.button-bar
                %li= link_to glyph("file-text") + "Select Assignments to Import", assignment_grades_importer_assignments_path(@assignment, @provider_name, course["id"]), class: "button"
