= content_nav_for Course, ["Import Grades", assignment_grades_importers_path(@assignment)], @provider_name.capitalize

%h2.pagetitle= "Grade Import from #{@provider_name.capitalize}"

.pageContent
  = render partial: "layouts/alerts"

  - if @grades.empty?
    %div
      %div There are no grades to import for these assignments.
      %div
        You can
        =link_to "modify your assignment selection", assignment_grades_importer_assignments_path(@assignment, @provider_name, params[:id])
        to find grades to import.
  -else
    = form_tag assignment_grades_importer_grades_import_path(@assignment, :canvas, params[:id]) do
      = hidden_field_tag :assignment_ids, params[:assignment_ids]
      %table.dynatable.no-table-header
        %thead
          %tr
            %th{scope: "col"} Course
            %th{scope: "col"} Assignment
            %th{scope: "col"} Student Name
            %th{scope: "col"} Student Email
            %th{scope: "col"} Gradecraft Match?
            %th{scope: "col"} Score
            %th{scope: "col"} Graded At
            %th{"data-dynatable-no-sort" => "true"}
              %button.button.select-all= "Check"
              %button.button.select-none= "Uncheck"
        %tbody
          - @grades.each do |grade|
            = render partial: "grade_row", locals: { grade: grade,
                                                     user: lms_user(@syllabus, grade["user_id"])}
      .submit-buttons
        .right
          %p= submit_tag "Import Selected Grades for #{@assignment.name}", class: "button disabled", disabled: true, data: { behavior: "selected-grades-command" }
