= content_nav_for Course, ["Import Grades", assignment_grades_importers_path(@assignment)], @provider.capitalize

%h3.pagetitle= "Grade Import from #{@provider.capitalize}"

.pageContent
  = render partial: "layouts/alerts"

  %table.dynatable.no-table-header
    %thead
      %tr
        %th{scope: "col"} Course
        %th{scope: "col"} Assignment
        %th{scope: "col"} Student Name
        %th{scope: "col"} Student Email
        %th{scope: "col"} Gradecraft Match?
        %th{scope: "col"} Score
        %th{scope: "col"} Graded At
    %tbody
      - @grades.each do |grade|
        = render partial: "grade_row", locals: { grade: grade,
                                                 user: lms_user(@syllabus, grade["user_id"])}
