= simple_form_for :grade, :url => graded_assignment_group_path(@assignment, @group), :html => { :method => :put} do |f|
  = hidden_field_tag "group_id", @group.id
  = f.hidden_field :graded_by_id, :value => current_user.id
  = f.hidden_field :instructor_modified, :value => true
  = f.hidden_field :submission_id, value: @submission_id

  Score:
  = label_tag do
    - if @assignment.has_levels?
      = f.select :raw_score, @assignment_score_levels.map { |l| [l.formatted_name,l.value] }, :selected => @group.students.first.grade_for_assignment(@assignment).try(:raw_score), :include_blank => true
    - else
      = f.text_field :raw_score, :label => "Score", :hint => "Total Assignment Points: #{ points @assignment.point_total }", data: {autonumeric: true, "m-dec" => "0"}, :value => @group.students.first.grade_for_assignment(@assignment).try(:raw_score)

  = f.text_area :feedback, :value => @group.students.first.grade_for_assignment(@assignment).try(:feedback), class: "froala"

  - if @assignment.release_necessary?
    - if current_user_is_gsi?
      = f.input :status, as: :select, :collection => Grade::UNRELEASED_STATUSES, :selected => @group.students.first.grade_for_assignment(@assignment).try(:status)
      .form_label Is this grade ready to be reviewed?
    - else
      = f.input :status,  as: :select, :collection => Grade::STATUSES, :selected => @group.students.first.grade_for_assignment(@assignment).try(:status)
  - else
    = f.hidden_field :status, value: 'Graded'

  .submit-buttons
    %ul
      %li= f.button :submit, "Submit Grades", class: "button"
      %li= link_to raw("<i class='fa fa-times-circle fa-fw'></i> Cancel"), assignment_path(@assignment), class: 'button'
