.pageContent
  = render "layouts/alerts"

  = render partial: "submissions/assignment_guidelines", locals: { assignment: @assignment }

  - if @assignment.accepts_submissions? && @submission.present? && SubmissionProctor.new(@submission).viewable?(current_user)
    %hr.grading-divider

    %section

      %h3.uppercase= "#{@group.name}'s Submission"
      = render partial: "submissions/submission_content",
        locals: { presenter: Submissions::ShowPresenter.new(id: @submission.id,
            assignment_id: @assignment.id, course: current_course, group_id: @group.id) }

  %grade-edit{'data-assignment-id'=>"#{@assignment.id}",
              'data-rubric-id'=>"#{@assignment.rubric.try(:id)}",
              'data-recipient-type'=>"group",
              'data-recipient-id'=>"#{@group.id}",
              'data-submit-path'=>"#{assignment_path(@assignment)}",
              'data-grade-next-path'=>"#{@grade_next_path}",
              'data-is-active-course'=>"#{current_course.active?}"}
