.pageContent
  = render "layouts/alerts"

  = render partial: "submissions/assignment_guidelines", locals: { assignment: @assignment }

  %hr.dotted
  %h3.uppercase #{term_for :students} in the #{term_for :group} "#{@group.name}"
  %ul
    - @group.students.each do |s|
      %li= link_to s.name, student_path(s)

    - if @group.proposals.present?
      - @group.proposals.last do |prop|
        = prop.title

  - if @assignment.accepts_submissions? && @submission.present? && SubmissionProctor.new(@submission).viewable?(current_user)
    %hr.dotted

    %section

      %h3.uppercase= "#{@group.name}'s Submission"
      = render partial: "submissions/submission_content",
        locals: { presenter: Submissions::ShowPresenter.new(id: @submission.id,
            assignment_id: @assignment.id, course: current_course, group_id: @group.id) }

  - if @rubric
    %hr.dotted
    = render partial: "/grades/rubric_edit", locals: { rubric: @rubric, recipient_type: "group", recipient_id: @group.id, return_path: URI(request.referer).path, grade_next_path: @grade_next_path }
  - else
    %hr.dotted
    %grade-edit{'assignment-id'=>"#{@assignment.id}",
      'recipient-type'=>"group",
      'recipient-id'=>"#{@group.id}",
      'submit-path'=>"#{assignment_path(@assignment)}",
      'grade-next-path'=>"#{@grade_next_path}"}

    -#= render partial: "standard_edit"
