.pageContent
  = render "layouts/alerts"

  = render partial: "submissions/assignment_guidelines", locals: { assignment: @assignment }

  %hr.dotted
  %h4.uppercase #{term_for :students}
  %ul
    - @group.students.each do |s|
      %li= link_to s.name, student_path(s)

    - if @group.proposals.present?
      - @group.proposals.last do |prop|
        = prop.title

  - if @assignment.accepts_submissions? && @submission.present? && SubmissionProctor.new(@submission).viewable?
    %hr.dotted

    %section

      %h4.uppercase= "#{@group.name}'s Submission"
      = render partial: "submissions/submission_content",
        locals: { presenter: Submissions::ShowPresenter.new(id: @submission.id,
            assignment_id: @assignment.id, course: current_course, group_id: @group.id) }

  - if @rubric
    %hr.dotted
    = render partial: "/grades/rubric_edit", locals: { rubric: @rubric, recipient_type: "group", recipient_id: @group.id, return_path: URI(request.referer).path }
  - else
    %hr.dotted
    = render partial: "standard_edit"
