= simple_form_for @institution, html: { novalidate: true } do |f|
  %section.form-section
    %h2.form-title= "Institution Settings"
    .form-item
      = f.input :name, "aria-required": "true"
    .form-item
      = f.label :has_site_license
      = f.check_box :has_site_license
    .form-item
      = f.label :institution_type, "Institution Type"
      = f.select :institution_type, [["K-12"], ["Higher Education"], ["Other"]]
    .form-item
      = f.label :has_google_access
      = f.check_box :has_google_access


  %section.form-section
    %h2.form-title= "Canvas Credentials"
    - if @institution.providers.any?
      - @institution.providers.each do |provider|
        = f.simple_fields_for :providers, provider, class: "form-inline" do |pf|
          = render partial: "institutions/components/provider_fields", locals: { f: pf }
    - else
      = f.simple_fields_for :providers, Provider.new, class: "form-inline" do |pf|
        = render partial: "institutions/components/provider_fields", locals: { f: pf }

  .main-buttons
    = submit_tag "#{@institution.persisted? ? "Update" : "Create"} Institution", class: "button"
    = link_to glyph("times-circle") + "Cancel", institutions_path, class: "button secondary"
