<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "width=device-width", name: "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= @email_title rescue "GradeCraft Notification"
    = render partial: "layouts/mailers/stylesheet"

  %body{:bgcolor => "#f6f6f6"}
    / body
    %table.body-wrap
      %tr
        %td
        %td.container{:bgcolor => "#FFFFFF"}
          / content
          .content
            %table
              %tr= render partial: "layouts/mailers/logo"
              %tr
                %td
                  = yield
              = render partial: "layouts/mailers/social_media"

    / footer
    = render partial: "layouts/mailers/footer"
