Dear #{ @student.first_name },

You can now view the grade for your #{ @course.challenge_term.downcase } "#{ @challenge.name }" in course #{ @course.name }.

Don't forget to update your plan for the semester by checking your #{term_for :grade_predictor} here: 

= predictor_url

Play on!

GradeCraft
