Congratulations #{ @student.first_name }!
You've earned the #{ @earned_badge.badge.name } #{ @course.badge_term }.

- if @earned_badge.feedback.present?
  Your instructor said:
  = @earned_badge.feedback.html_safe

Check out what other #{ @course.badge_term.pluralize } you can earn in #{ @course.name.html_safe }
= link_to "here", badges_url
