%h2{:align => "center"}
  %strong Congratulations #{ @student.first_name }!
%p{:align => "center"}
  %img{:src => "#{@earned_badge.badge.icon}", :width => "150"}/
%h3{:align => "center"}
  You've earned the
  %strong= @earned_badge.badge.name
  #{ @course.badge_term }.
- if @earned_badge.feedback.present?
  %p{:align => "center"}
    %br/
    %em Your instructor said:
    %p
    %div{:align => "center"}
      = @earned_badge.feedback.html_safe
%p
%hr/
%p{:align => "center"}
  Check out what other #{ @course.badge_term.pluralize.downcase } you can
  earn in #{ @course.name }
  = succeed "." do
    %a{:href => badges_url} here
%hr/
