%p{:align => "center"}
  %a{:href => "http://gradecraft.com", :target => "_blank"}
    %img{:alt => "", :border => "0", :src => "https://www.gradecraft.com/images/gradecraft_logo.png", :width => "207"}/
%h2{:align => "center"}
  %strong Congratulations #{ @student.first_name }!
%p{:align => "center"}
  %img{:src => "#{@earned_badge.badge.icon}", :width => "150"}/
%h3{:align => "center"}
  You've earned the
  %strong= @earned_badge.badge.name
  #{ @course.badge_term }.
%p{:align => "center"}
  - if @earned_badge.feedback.present?
    %br/
    %em Your instructor said:
    %p
    %div{:align => "center"}
      = @earned_badge.feedback.html_safe
%p
%hr/
%p{:align => "center"}
  Check out what other #{ @course.badge_term.pluralize.downcase } you can earn in #{ @course.name }
  = succeed "." do
    %a{:href => "https://www.gradecraft.com/my_badges"} here
%hr/