Dear #{ @student.first_name },

You can now view the grade for your #{ @course.assignment_term.downcase } "#{ @assignment.name }" in course #{ @course.name }.

Visit #{ assignment_url(@assignment) } to view your results.

- if @course.show_grade_predictor?
  Don't forget to update your plan for the semester by checking your #{ @course.grade_predictor_term } here:

  = predictor_url

Play on!

GradeCraft
