Dear #{ @student.first_name },

You can now view the grade for your #{ @course.assignment_term.downcase } "#{ @assignment.name }" in course #{ @course.name }.

Visit #{ assignment_url(@assignment) } to view your results.

Don't forget to update your plan for the semester by checking your #{term_for :grade_predictor} here: 

= predictor_url

Play on!

GradeCraft
