%h2{:align => "center"}
  %strong You've got a new grade!
%h3{:align => "center"}
  You can now view your grade for
  #{ @course.assignment_term.downcase } "#{ @assignment.name }"
  in #{ @course.name }.
%p
%h4{:align => "center"}
  Click
  =link_to "here", assignment_url(@assignment)
  to view your results.
%hr/
%p{:align => "center"}
  Don't forget to update your plan for the semester by checking your
  = succeed "." do
    = link_to "#{term_for :grade_predictor}", predictor_url
%hr/
