Hey-o GradeCraft Admin!

I had a problem authenticating this user/course via LTI:

** User Info **
Name: #{ @user_data[:name] }
Email: #{ @user_data[:email] }
LTI UID: #{ @user_data[:lti_uid] }

** Course Info **
Name: #{ @course_data[:name] }
LTI UID: #{ @course_data[:lti_uid] }

It is the end of days. Woe is me,

The GradeCraft Server
