Hey-o GradeCraft Admin!!

I had a problem authenticating this user/course via LTI:

**User Info**
Name: #{ @user[:name] }
Email: #{ @user[:email] }
LTI UID: #{ @user[:lti_uid] }

**Course Info**
Name: #{ @course[:name] }
LTI UID: #{ @course[:lti_uid] }

It is the end of days. Woe is me,

The GradeCraft Server
