Hi #{ @professor.first_name },

#{ @student.first_name } #{ @student.last_name } has submitted their #{ @course.assignment_term.downcase } "#{ @assignment.name }" for course #{ @course.name }.

Please login to GradeCraft to view the submission.

GradeCraft
