Hi Professor #{ @professor.last_name },

#{ @student.first_name } #{ @student.last_name } has submitted their #{ @course.assignment_term.downcase } "#{ @assignment.name }" for course #{ @course.name }.

Please visit https://www.gradecraft.com to view the submission.

GradeCraft
