%h2{:align => "center"}
  %strong Hi #{ @professor.first_name },

%p{:align => "center"}
  #{ @student.first_name } #{ @student.last_name } has submitted their #{ @course.assignment_term.downcase } "#{ @assignment.name }" for course #{ @course.name }.

%p{:align => "center"}
  Please visit
  = link_to "GradeCraft", dashboard_url
  to view the submission.
