Hi #{ @professor.first_name },

#{ @student.first_name } #{ @student.last_name } has revised their #{ @course.assignment_term.downcase } "#{ @assignment.name }" for course #{ @course.name }.

Please log in to GradeCraft to view the revised submission.

GradeCraft
