%h2{:align => "center"}
  %strong Hi #{ @professor.first_name },

%p{:align => "center"}
  #{ @student.first_name } #{ @student.last_name } has revised their #{ @course.assignment_term.downcase } "#{ @assignment.name }" for course #{ @course.name }.

%p{:align => "center"}
  Please log in to GradeCraft to view the revised submission.
