Dear #{ @user.first_name },

You successfully submitted your work for #{ @assignment.name } on #{ @submission.submitted_at }.

Don't forget to update your plan for the semester by checking your #{ @course.grade_predictor_term } here: 

= predictor_url

Play on!

GradeCraft
