%h2{:align => "center"}
  %strong Congratulations #{ @user.first_name }!
%h3{:align => "center"} You successfully updated your submission for #{ @assignment.name } on #{ @submission.submitted_at }.
%p
%hr/
%p{:align => "center"}
  Check out what other #{ @course.assignment_term.pluralize.downcase } you can complete in #{ @course.name }
  = succeed "." do
    %a{:href => "https://www.gradecraft.com/predictor"} here
%hr/
