%span.assignment-details-icon
  - if assignment.has_groups?
    = tooltip("group-assignment-tip_#{assignment.id}", :group) do
      This #{term_for :assignment} is completed by #{term_for :students} in #{term_for :groups}

  - if assignment.is_unlockable?
    - if ! assignment.is_unlocked_for_student?(presenter.student)
      = tooltip("unlock-assignment-tip_#{assignment.id}", :lock) do
        %p This #{term_for :assignment} is Locked
        .small.italic In order to unlock it you must:
        %ol
          - assignment.unlock_conditions.each do |condition|
            %li= condition.requirements_description_sentence(current_user.time_zone)

    - else
      = tooltip("unlocked-assignment-tip_#{assignment.id}", :unlock) do
        %p You have unlocked this #{term_for :assignment}
        .small.italic To achieve this you:
        %ol
          - assignment.unlock_conditions.each do |condition|
            %li= condition.requirements_completed_sentence(current_user.time_zone)

  - if assignment.is_a_condition?
    = tooltip("key-assignment-tip_#{assignment.id}", :key) do
      %p This #{term_for :assignment} is a Key
      %ol
        - assignment.unlock_keys.each do |key|
          %li= key.key_description_sentence(current_user.time_zone)

  - if presenter.submission_for(assignment).present?
    - if presenter.submission_for(assignment).unsubmitted?
      %span.flag
        = tooltip("submitted-assignment-tip_#{assignment.id}", "file-text-o") do
          You have a draft of this #{term_for :assignment} submission. Be sure to submit it before the due date!
    - elsif presenter.submission_for(assignment).resubmitted?
      %span.checkmark
        = tooltip("resubmitted-assignment-tip_#{assignment.id}", :exchange) do
          You have successfully resubmitted this #{term_for :assignment}
    - else
      %span.checkmark
        = tooltip("submitted-assignment-tip_#{assignment.id}", :paperclip) do
          You have successfully submitted this #{term_for :assignment}

  - if ! assignment.name_visible_for_student?(presenter.student) && current_user_is_staff?
    = glyph("eye-slash")
