Dear #{ @professor.first_name },

Your requested export for #{ @course.assignment_term.downcase} "#{ @assignment.name }" was successfully created for course #{ @course.name }.

You can download your completed ZIP archive here: #{ exports_url }.

Sincerely,
The GradeCraft Team
