Dear #{ @professor.first_name },

Your requested submissions export of #{ @course.assignment_term.downcase} "#{ @assignment.name }" in course #{ @course.name } for #{ @course.team_term.downcase } #{ @team.name } is being created.

You'll be notified when your #{@archive_data[:format].upcase} is ready to download.

Sincerely,
The GradeCraft Team
