Dear #{ @professor.first_name },

Your requested submissions export of #{ @course.assignment_term.downcase} "#{ @assignment.name } in course #{ @course.name } failed to complete for  #{ @course.team_term.downcase } #{ @team.name }.

Our system administrators have been notified of the problem, but you may send an additional email to #{ExportsMailer::ADMIN_EMAIL} if you'd like.

Sincerely,
GradeCraft
