%h2{:align => "center"}
  %strong Dear #{ @professor.first_name },

%h3{:align => "center"}
  Your requested submissions export of #{ @course.assignment_term.downcase} "#{ @assignment.name }"
  in course #{ @course.name }
  was successfully created for #{ @course.team_term.downcase } #{ @team.name }.
%p
%p{:align => "center"}
  You can download your completed ZIP archive
  = succeed ". This link will expire after one week." do
    %a{ :href => secure_download_url(@secure_token) } here

%p{:align => "center"}
  Alternatively you can download the submissions archive on the submissions downloads page
  = succeed "." do
    %a{:href => "#{ exports_url }"} here
%hr/

%p Sincerely,
%p GradeCraft
