.context_menu
  %ul
    %li= link_to_unless_current glyph(:list) + "See all #{term_for :groups}", groups_path
    %li= link_to_unless_current glyph(:plus) + "New #{term_for :group}", new_group_path
    - if @group.present? && @group.persisted?
      %li= link_to_unless_current glyph(:eye) + "See #{term_for :group}", group_path(@group)

      %li= link_to_unless_current glyph(:edit) + "Review #{term_for :group}", edit_group_path(@group)
