%table.dynatable
  %caption.sr-only= #{term_for :groups}
  %thead
    %tr
      %th{:width => "20%"} #{term_for :group} Name
      %th{:style => "min-width: 200px"}= "#{current_course.student_term}s"
      %th{:width => "10%"} Status
      %th{:style => "min-width: 200px"} #{term_for :assignments}
      %th.options{"data-dynatable-no-sort": "true"} Options
  %tbody
    - groups.each do |group|
      %tr
        %td= link_to group.try(:name), group_path(group)
        %td
          - group.group_memberships.each do |gm|
            %li= link_to gm.student.name, student_path(gm.student)
        %td= group.approved
        %td
          - group.assignment_groups.each do |ag|
            %li= link_to ag.assignment.try(:name), ag.try(:assignment)
        %td
          .button-container.dropdown.right
            %button.button-edit.button-options{role: "button", type: "button", "aria-label": "Additional Options"}= decorative_glyph(:cog) + decorative_glyph("caret-down")
            %ul.options-menu.dropdown-content
              - if group.pending?
                = active_course_link_to decorative_glyph(:eye) + "Review #{term_for :group}", edit_group_path(id: group)
              - else
                = active_course_link_to decorative_glyph(:edit) + "Edit #{term_for :group}", edit_group_path(id: group)
              = active_course_link_to decorative_glyph(:trash) + "Delete", group_path(group), data: { confirm: "This will delete the #{group.name} #{term_for :group}, along with their submissions and grades if they have any - are you sure?" }, :method => :delete
