.small-12.columns.panel
  .form-item
    = f.label :title, "Title"
    = f.text_field :title
  - if current_user_is_staff?
    .form-item
      = f.label :approved, "Approved?"
      = f.input :approved, :label => false
  .textarea
    = f.label :proposal
    = f.text_area :proposal
    = f.hidden_field :id
