%script(id="proposal-template" type="text/x-template")
  %fieldset.proposal.callout.panel
    .form-hint= "What is your #{term_for :group} planning to do for this #{term_for :assignment}?"
    = f.simple_fields_for :proposals, Proposal.new, class: "form-inline", child_index: "child_index" do |f|
      %section
      .form-item
        = f.label :title, "Title"
        = f.text_field :title
      .textarea
        = f.label :proposal
        = f.text_area :proposal, class: "froala"
        = f.hidden_field :id
