= content_nav_for @group, "Edit #{term_for :group}"

%h3.pagetitle= @title

.context_menu
  %ul
    %li
      %a{:href => group_path(@group) }
        %i.fa.fa-eye
        See #{term_for :group}

.pageContent
  = render 'layouts/alerts'
  
  = render 'form'