= content_nav_for Group

%h3.pagetitle= @title

= render "buttons"

.pageContent
  = render "layouts/alerts"

  - if @pending_groups.present?
    %h4.subtitle= "Pending #{term_for :groups}"

    = render "groups_table", course: current_course, :groups => @pending_groups

  - if @rejected_groups.present?

    %h4.subtitle.fail= "Rejected #{term_for :groups}"

    = render "groups_table", course: current_course, :groups => @rejected_groups

  - if @approved_groups.present?

    %h4.subtitle.success= "Approved #{term_for :groups}"

    = render "groups_table", course: current_course, :groups => @approved_groups
