= render partial: "groups/buttons"

.pageContent
  = render partial: "layouts/alerts"

  - if @pending_groups.present?
    .bg-green_lime{:style =>  "margin: 0 -1rem; padding: 1em 1em 2em 1em"}
      %h2= "Pending #{term_for :groups}"

      = render partial: "groups/groups_table", locals: { course: current_course, :groups => @pending_groups }

  - if @rejected_groups.present?

    %h2.fail= "Rejected #{term_for :groups}"

    = render partial: "groups/groups_table", locals: { course: current_course, :groups => @rejected_groups }

  - if @approved_groups.present?

    %h2= "Approved #{term_for :groups}"

    = render partial: "groups/groups_table", locals: { course: current_course, :groups => @approved_groups }
