.context_menu
  %ul
    %li= link_to_unless_current glyph(:plus) + "New User", new_user_path
    %li= link_to_unless_current glyph(:plus) + "Import Users", import_users_path
    - if @user.present? && @user.persisted?
      %li= link_to_unless_current glyph(:edit) + "Edit User", edit_user_path(@user)
      - if @user.is_staff?(current_course)
        %li= link_to_unless_current glyph(:list) + "Show Staff Member", staff_path(@user)
      - else
        %li= link_to_unless_current glyph(:list) + "Show Student", student_path(@user)
