= form.simple_fields_for :course_memberships, @course_membership do |cm|
  %h2.form-title= "#{current_course.name} Profile"
  .form-item.course-selection
    = cm.hidden_field :course_id, value: current_course.id
    .form-item
      = cm.label :role, "Select Role"
      = cm.select :role, available_roles(current_course)
    - if current_course.has_in_team_leaderboards?
      .form-item
        = cm.label :pseudonym, "Pseudonym"
        = cm.text_field :pseudonym
    - if current_course.has_team_roles?
      .form-item
        = cm.label :team_role, "Team Role"
        = cm.text_field :team_role
    - if current_course.has_character_profiles?
      .form-item
        = cm.input :character_profile

    .form-item
      = cm.label :auditing
      = cm.check_box :auditing
      .form-hint This #{term_for(:student).downcase}'s grades will be excluded from course analysis
