= render partial: 'layouts/alerts', locals: { model: @user, term: "user" }

#tabs.ui-tabs.ui-widget
  %ul.ui-tabs-nav{:role => "tablist"}
    %li
      %a{ "href" => "#tab1" } New GradeCraft User
    %li
      %a{ "href" => "#tab2" } New UM User

  #tabt1.ui-tabs-panel.ui-widget-content{:role => "tabpanel"}
    #tab1{ class: ("active" unless @user.internal?) }
      = simple_form_for @user do |f|
        %section
          %h4.uppercase= "User Profile"
          .form-item
            = f.label :first_name
            = f.text_field :first_name
          .form-item
            = f.label :last_name
            = f.text_field :last_name
          .form-item
            = f.label :email
            = f.text_field :email
          .form-item
            = f.label :username
            = f.text_field :username
          .form-item
            = f.label :display_name
            = f.text_field :display_name
        = render partial: "courses", locals: { form: f }
        = render partial: "course_settings", locals: { form: f }
        = render "buttons"

    #tab2{ class: ("active" if @user.internal?) }
      = simple_form_for @user do |f|
        %section
          %h4.uppercase= "User Profile"
          .form-item
            = f.label :first_name
            = f.text_field :first_name
          .form-item
            = f.label :last_name
            = f.text_field :last_name
          .form-item
            = f.label :email
            = f.text_field :email
          .form-item
            = f.label :display_name
            = f.text_field :display_name
          = f.hidden_field :internal, value: true
          - if @user.new_record?
            .form-item
              = label_tag :send_welcome, "Send welcome email"
              = check_box_tag :send_welcome, '1', true
        = render partial: "courses", locals: { form: f }
        = render partial: "course_settings", locals: { form: f }
        = render "buttons"
