= simple_form_for @user do |f|
  %section.form-section
    %h2.form-title= "User Profile"
    .form-item
      = f.label :first_name
      = f.text_field :first_name, "aria-required": "true"
    .form-item
      = f.label :last_name
      = f.text_field :last_name, "aria-required": "true"
    .form-item
      = f.label :email
      = f.text_field :email, "aria-required": "true", disabled: UserProctor.new(@user).can_set_email?(current_user, current_course) ? nil : ""
    = f.hidden_field :internal, value: true
    - if @user.new_record?
      .form-item
        = label_tag :send_welcome, "Send welcome email"
        = check_box_tag :send_welcome, "1", true
  = render partial: "courses", locals: { form: f }
  = render partial: "users/submit_buttons"
