.login
  .password-reset.login-form-container
    %h1 Welcome to GradeCraft
    %p Enter a password and a confirmation below to complete your account
    = simple_form_for @user, :url => activate_set_password_user_path(@token), :method => :post do |f|
      = hidden_field_tag :token, @token
      = f.label :password, class: "sr-only"
      = f.password_field :password, placeholder: "Password"
      = f.label :password_confirmation, class: "sr-only"
      = f.password_field :password_confirmation, placeholder: "Confirm Password"
      = f.submit "Activate Your Account", class: "login-button button"

    .google-login
      = link_to image_tag("Google.svg", alt: "Sign in with Google", class: "google-img") + "Sign in with Google", "/auth/google_oauth2/", class: "login-button", :method => :post
