.login
  .password-reset.login-form-container
    %h1 Welcome to GradeCraft
    %p Enter a password and a confirmation below to complete your account
    = simple_form_for @user, :url => activate_set_password_user_path(@token), :method => :post do |f|
      = hidden_field_tag :token, @token
      .form_elem
        = f.input_field :password, required: true, placeholder: "Choose your password"
        = label_tag :password, 'Password'
      .form_elem
        = f.input_field :password_confirmation, required: true, placeholder: "Confirm your password"
        = label_tag :password, 'Password confirmation'

      = f.submit "Activate Your Account", class: "button action"
