= content_nav_for @user, "Edit User"

%h3.pagetitle= @title

= render "buttons"

.pageContent
  = render partial: "layouts/alerts", locals: { model: @user, term: "user" }
  - if @user.internal?
    = render partial: "internal_user_form"
  - else
    = render partial: "gradecraft_user_form"
