= content_nav_for User, "Import Users"

%h3.pagetitle Import Users

= render "buttons"

.pageContent
  = render "layouts/alerts"

  %p
    To import users, upload a .csv file with the following fields. Please note that the first row will be treated as a header row and will not be imported.
    %ol
      %li First name
      %li Last name
      %li Username
      %li Email
      %li Team name

  = form_tag({action: :upload}, :multipart => true) do
    %div
      = check_box_tag "internal_students", "1", false, { data: { behavior: "toggle-disable", "toggle-disable-target": ".send-welcome *" }}
      = label_tag "internal_students", "Use UM Authentication for the new user accounts"
    .send-welcome
      = check_box_tag "send_welcome", "1", false, { disabled: true }
      = label_tag "send_welcome", "Send welcome email to new user accounts", { class: "disabled" }
    = file_field_tag "file"
    = submit_tag("Import")

  - if current_user_is_admin?

    %h4 K-12 Import: Import as activated accounts with passwords
