= render partial: "layouts/alerts", locals: { model: @user }

.wrapper.access
  .content_block#access_gate
    = link_to 'https://gradecraft.com/', :class => "logo" do
      = image_tag "logo.svg", :alt => "Return to GradeCraft homepage", :width => "450", :height => "100"

    %h1 First, let’s create your account!

    .google_access
      = link_to "Sign up with Google", new_external_google_users_path, :tabindex=>"0"

    %h3 Or:

    = simple_form_for @user, url: create_external_users_path, method: :post do |f|
      .form_elem
        = f.input_field :first_name, placeholder: "Your First Name", :required=>"true"
        = label_tag :first_name, 'First name'
      .form_elem
        = f.input_field :last_name, placeholder: "Your Last Name", :required=>"true"
        = label_tag :last_name, 'Last name'
      .form_elem
        = f.input_field :email, placeholder: "Your Email", :required=>"true"
        = label_tag :email, 'Email address'
      .form_elem
        = f.input_field :password, required: true, placeholder: "Choose your Password"
        = label_tag :password, 'Password'
      .form_elem
        = f.input_field :password_confirmation, required: true, placeholder: "Confirm your password"
        = label_tag :password_confirmation, 'Password confirmation'

      .form-item= recaptcha_tags

      = f.submit "Create account", class: "button action"
