= render partial: "layouts/alerts", locals: { model: @user }

%section.pilot
  .student-pilot
    .pilot-container
      %h1.pagetitle First, let's create your account:

      .pilot-form
        = simple_form_for @user, url: create_external_users_path, method: :post do |f|
          .form-item= f.input :first_name, placeholder: "First Name"
          .form-item= f.input :last_name, placeholder: "Last Name"
          .form-item= f.input :email, placeholder: "Email"
          .form-item= f.input :password, required: true, placeholder: "Password"
          .form-item= f.input :password_confirmation, required: true, placeholder: "Password Confirmation"

          .form-item= recaptcha_tags

          .submit-buttons
            %ul
              %li= submit_tag "Create account", class: "button"

    .pilot-container
      .login
        .google-login
          = link_to image_tag("Google.svg", alt: "Sign in with Google", class: "google-img") + "Sign in with Google", new_external_google_users_path, class: "login-button"
