= render partial: "layouts/alerts", locals: { model: @user }

%section.pilot
  .student-pilot
    .pilot-text
      %h1.bold First, let's create your account:

      = simple_form_for @user, url: create_external_users_path, method: :post do |f|
        .form-item= f.input :first_name
        .form-item= f.input :last_name
        .form-item= f.input :email
        .form-item= f.input :password, required: true
        .form-item= f.input :password_confirmation, required: true

        .form-item= recaptcha_tags

        .submit-buttons
          %ul
            %li= submit_tag "Create account", class: "button"
