.pageContent
  - unless @users.nil?
    - if @users.empty?
      .alert-box.error
        = decorative_glyph("exclamation-circle")
        No users were found!

    - if @users.count != @result_size
      .alert-box.alert
        = decorative_glyph("exclamation-circle")
        = "Showing #{@users.count} of #{@result_size} matching results. Please narrow your search criteria."

  %section.form-section
    .form-subsection
      %h3.form-subtitle Search Users
      = search_form_for @q, url: search_users_path, class: :simple_form do |f|
        = hidden_field_tag :max_results, 50

        .form-item
          = f.label :name_cont
          = f.search_field :name_cont

        .form-item
          = f.label :username_cont
          = f.search_field :username_cont

        .form-item
          = f.label :email_cont
          = f.search_field :email_cont

        .submit-buttons
          %ul
            %li= f.submit "Search", class: :button

  - if @users.present?
    .form-subsection
      %h3.form-subtitle Results
      %table.unfancy_dynatable
        %thead
          %tr
            %th Id
            %th First Name
            %th Last Name
            %th Email
            %th Courses
            %th Score
        %tbody
          - @users.each do |u|
            - course_memberships = u.course_memberships.includes(:course).order("courses.name")
            %tr
              %td= u.id
              %td= u.first_name
              %td= u.last_name
              %td= u.email
              %td
                %ul.marker-type-none
                  - course_memberships.each do |cm|
                    %li= link_to "#{cm.course.name} (#{cm.role.try(:capitalize)})", change_course_path(cm.course)
              %td
                %ul.marker-type-none
                  - course_memberships.each do |cm|
                    %li= cm.score
