= content_nav_for Course, ["Import Assignments", assignments_importers_path], @provider_name.capitalize

%h3.pagetitle= "Assignment Import from #{@provider_name.capitalize}"

.pageContent
  = render partial: "layouts/alerts"

  = partial_with "importers/assignments_table", locals: { path: assignments_importer_assignments_import_path(@provider_name, @course["id"]) } do
    %p= select_tag :assignment_type_id, options_from_collection_for_select(@assignment_types, :id, :name), prompt: "Select an assignment type"
    %p= submit_tag "Import Selected Assignments into #{current_course.name}", class: "button disabled", disabled: true, data: { behavior: "selected-assignments-command" }
