= content_nav_for Course, ["Import Assignments", assignments_importers_path], @provider.capitalize

%h3.pagetitle= "Course Import from #{@provider.capitalize}"

.pageContent
  = render partial: "layouts/alerts"

  %table.dynatable.no-table-header
    %thead
      %tr
        %th{scope: "col"} Name
        %th{scope: "col"} Description
        %th.button-column{"data-dynatable-no-sort" => "true"}
    %tbody
      - @courses.each do |course|
        %tr
          %td= course["name"]
          %td= course["syllabus_body"]
          %td
            .right
              %ul.button-bar
                %li= link_to glyph("file-text") + "Select Assignments to Import", assignments_importer_assignments_path(@provider, course["id"]), class: "button"
