.pageContent
  = render "layouts/alerts"

  %p
    To import assignments, upload a .csv file with the following format. These fields <b> MUST </b> be in the specified order. Note the following:
    %ul
      %li You may include additional information in the extra columns, but that content will be ignored.
      %li If the Assignment Type does not match one that is currently in the course, you will be allowed to select from an existing or create a new one.
      %li
        The Due Date must be in the following format:
        %span.italic= "mm/dd/yyyy hh:mm:ss am/pm (e.g. 01/01/2017 10:10:11 pm)"
        %br If the format of the due date cannot be parsed, you may click on the "Invalid Due Date" message to change it.

  %hr

    %p
      Columns should be in the following order:
      .italic= AssignmentExporter::FORMAT.join(", ")
      .bold= link_to "Download Sample File", assignments_importer_download_path(:csv, format: "csv")

    %p
      %assignments-import-csv-review{"data-provider"=>"#{@provider_id}",
                                     "data-assignments-term"=>"#{term_for :assignments}",
                                     "data-cancel-path"=>"#{assignments_path}"}
