= content_nav_for Course, "Import Assignments"

%h3.pagetitle= "Assignment Import"

.pageContent
  = render partial: "layouts/alerts"

  %section
    .card
      .card-cap
        %img{src: "/images/canvas-logo.png"}
      .card-block
        %h4.card-title Canvas LMS
        .card-text
        %p.card-text
          An open-source LMS from Instructure. Import any assignment for courses you are enrolled as a teacher.

        = link_to "Import Canvas Assignments", assignments_importer_courses_path(:canvas), class: "card-link button"
        = link_to "More Info", "http://canvaslms.com", target: "_blank", class: "card-link"
