- presenter.assignments_for(assignment_type).each do |assignment|
  - if presenter.assignment_visible?(assignment)
    .assignment-container
      - if presenter.name_visible?(assignment)
        .assignment-name
          = link_to assignment.name, assignment_path(assignment)
          %span= render partial: "assignments/student_index/components/assignment_icons", locals: { presenter: presenter, assignment: assignment }
      - else
        %i= "The name for this #{term_for :assignment} has been hidden until you unlock it"
      .assignment-info.assignment-due-date
        = render partial: "assignments/student_index/components/due_at", locals: { assignment: assignment }

      - if presenter.points_visible?(assignment)
        - if assignment.pass_fail?
          .assignment-info.assignment-pass-fail
            = render partial: "grades/components/pass_fail", locals: { presenter: presenter, assignment: assignment }
        - else
          // Checking to see if this assignment type is student weightable
          .assignment-info.assignment-points
            = render partial: "grades/components/score", locals: { grade: presenter.grade_for(assignment), assignment_type: assignment_type, assignment: assignment }
      - if !student_impersonation?
        .assignment-info.assignment-points-predicted
          = render partial: "grades/components/prediction", locals: { grade: presenter.grade_for(assignment) }
