.pageContent
  = render "layouts/alerts"

  - unless @result.unsuccessful.empty?
    %h2.subtitle
      = "#{@result.unsuccessful.count} #{"Badge".pluralize(@result.unsuccessful.count)} Not Imported"
    %table.dynatable
      %thead
        %tr
          %th First Name
          %th Last Name
          %th Email
          %th Current Earned Count
          %th New Awarded Count
          %th Feedback
          %th Error
      %tbody
        - @result.unsuccessful.each do |row|
          %tr
            %td= row[:data][0]
            %td= row[:data][1]
            %td= row[:data][2]
            %td= row[:data][3]
            %td= row[:data][4]
            %td= row[:data][5]
            %td= row[:errors]

  %h2.subtitle
    = "#{@result.successful.count} #{"Badge".pluralize(@result.successful.count)} Imported Successfully"
  = render partial: "badges/importers/import_results_table", locals: { earned_badges: @result.successful }

  - unless @result.unchanged.empty?
    %h2.subtitle
      = "#{@result.unchanged.count} #{"Badge".pluralize(@result.unchanged.count)} Not Imported (already existed)"
    = render partial: "badges/importers/import_results_table", locals: { earned_badges: @result.unchanged }
