
// Display top headers for expandable list of assignments.
- presenter.assignment_types.each do |assignment_type|
  .assignment_type{id: "assignment-type-#{assignment_type.id}" }

    // Display the student's points out of assignment total, if there is an assignment max value. Else
    // display the student's points out of the the current point total for assignment.
    %h3.collapse
      %a
        %i.fa.fa-angle-double-right.fa-fw
      #{assignment_type.try(:name)} • #{ points assignment_type.visible_score_for_student(presenter.student) }/#{ points assignment_type.total_points_for_student(presenter.student) }

    .assignment-type-container
      - if assignment_type.description?
        %p.description= raw assignment_type.description

      // Display the assignments for each assignment type in a responsive table, below header.
      %table.dynatable
        = render "students/syllabus/assignment_table", presenter: presenter, assignment_type: assignment_type
