- if assignment.has_groups?
  %i.fa.fa-group.fa-fw
- if assignment.required?
  %a
    %i.fa.fa-exclamation-circle.fa-fw
  .display_on_hover
    This #{term_for :assignment} is required!

- if assignment.is_unlockable?
  %a
    %i.fa.fa-lock
  .display_on_hover.unlock_keys
    %h3 Unlock Requirements
    %ul
      - assignment.unlock_conditions.each do |condition|
        %li= "#{condition.name} must be #{condition.condition_state}"
- if assignment.is_a_condition?
  %a
    %i.fa.fa-key
  .display_on_hover.unlock_keys
    %h3 Unlock Key
    %ul
      - assignment.unlock_keys.each do |key|
        %li= "#{key.unlockable.name} is unlocked by #{key.condition_state} #{key.condition.name}"