#color-palette
  %h2#page-title Gradecraft System Color Palette

  .color-group
    %h4.group-title Blues
    .color-bar
      != color_block_set("blue", %w[ 00 0 1 2 3 4 5 ])

  .clear

  .color-group
    %h4.group-title Alternative Blues
    .color-bar
      != color_block_set("alt-blue", %w[ 0 1 2 3 ])

  .color-group
    %h4.group-title Greens
    .color-bar
      != color_block_set("green", %w[ 0 1 2 3 5 ])

  .color-group
    %h4.group-title Warm Hues
    .color-bar
      != color_block_set("red", %w[ 1 2 ])
      != color_block_set("orange", %w[ 1 2 3 ])
      != color_block_set("yellow", %w[ 1 2 ])

  .color-group
    %h4.group-title Gr[ea]ys
    .color-bar
      != color_block_set("grey", %w[ 00 0 1 2 3 4 5 ])

  .clear
