.wrapper.access
  #access_gate.content_block
    = link_to 'https://gradecraft.com/', :class => "logo" do
      = image_tag "logo.svg", :alt => "Return to GradeCraft homepage", :width => "450", :height => "100"
    %h1 Forgot Your Password?
    %p Enter the email address associated with your account, and you'll receive a link via email that will allow you to create a new password.
    = form_for User.new, url: passwords_path do |f|
      .form_elem
        = f.text_field :email, placeholder: "Your email address", :autocorrect => "off", :autocapitalize => "off", :required=>"true"
        = label_tag :user_email, "Email address"
      %input{name: "commit", :type => "submit", :value => "Request a password reset", class: "button action"}
