= render partial: "layouts/alerts", locals: { model: @event }

= simple_form_for(@event) do |f|
  %section.form-section
    %h2 Basic Settings
    .form-item
      = f.input :name, "aria-required": "true"
    .form-item
      = f.input :open_at, as: :string, :input_html => { class: "datetimepicker", :value => @event.try(:open_at) }, :label => "Start Date"
    .form-item
      = f.input :due_at, as: :string, :input_html => { class: "datetimepicker", :value => @event.try(:due_at) }, :label => "End Date"

  %section.form-section
    %h2 Description
    = f.text_area :description, class: "froala"

  %section.form-section
    %h2 Dashboard Upcoming Events Module Settings

    = render partial: "layouts/media_image_form_item", locals: { f: f, model: @event }

  .submit-buttons
    = f.button :submit, class: "button action"
    = link_to glyph("times-circle") + "Cancel", events_path, class: "button secondary"
