= simple_form_for(@event) do |f|
  = f.error_notification

  %section
    %h4 Basic Settings
    .form-item
      = f.input :name
    .form-item
      = f.input :open_at, as: :string, :input_html => { :class => 'datetimepicker', :value => @event.try(:open_at) }, :label => "Start Date"
    .form-item
      = f.input :due_at, as: :string, :input_html => { :class => 'datetimepicker', :value => @event.try(:due_at) }, :label => "End Date"
  
  %section
    %h4 Description
    = f.text_area :description
  
  %section
    %h4 Timeline Settings
    .form-item
      = f.file_field :media
    - if @event.media.present?
      .form-item
        %img{:src => @event.media, :width => 40, :alt => "Primary Event Image" }
        = f.check_box :remove_media
        Remove Image
    .form-item
      = f.file_field :thumbnail
    - if @event.thumbnail.present?
      .form-item
        %img{:src => @event.thumbnail, :width => 40, :alt => "Event Thumbnail Image" }
        = f.check_box :remove_thumbnail
        Remove Thumbnail
    .form-item
      = f.input :media_credit
    .form-item
      = f.input :media_caption

  .button-bar
    %ul.button-group.right
      %li= f.button :submit, :class => "button"
      %li= link_to 'Cancel', events_path, :class => 'button'