= render partial: "layouts/alerts", locals: { model: @event }

= simple_form_for(@event) do |f|
  %section
    %h4 Basic Settings
    .form-item
      = f.input :name
    .form-item
      = f.input :open_at, as: :string, :input_html => { class: "datetimepicker", :value => @event.try(:open_at) }, :label => "Start Date"
    .form-item
      = f.input :due_at, as: :string, :input_html => { class: "datetimepicker", :value => @event.try(:due_at) }, :label => "End Date"

  %section
    %h4 Description
    = f.text_area :description, class: "froala"

  %section
    %h4 Timeline Settings

    = render partial: "layouts/thumbnail_image_form_item", locals: { f: f, model: @event }
    = render partial: "layouts/media_image_form_item", locals: { f: f, model: @event }

  .submit-buttons
    %ul
      %li= f.button :submit, class: "button"
      %li= link_to glyph("times-circle") + "Cancel", events_path, class: "button"
