= content_nav_for @event

%h3.pagetitle= @title

-if current_user_is_staff?
  .context_menu
    %ul
      %li
        %a{:href => new_event_path }
          = glyph(:plus)
          New Calendar Event
      %li
        %a{:href => edit_event_path(@event) }
          = glyph(:edit)
          Edit

.pageContent
  = render "layouts/alerts"

  %p
    Name:
    = @event.name
  %p
    Descripton:
    = raw @event.description
  %p
    Open date:
    = @event.open_at
  %p
    Close date:
    = @event.due_at
  %p
    Media:
    %img{:src => @event.media }
  %p
    Thumbnail:
    %img{:src =>  @event.thumbnail }
  %p
    Media credit:
    = @event.media_credit
  %p
    Media caption:
    = @event.media_caption
