-if current_user_is_staff?
  .context_menu
    %ul
      %li
        %a{:href => new_event_path }
          = glyph(:plus)
          New Calendar Event
      %li
        %a{:href => edit_event_path(@event) }
          = glyph(:edit)
          Edit

.pageContent
  = render partial: "layouts/alerts"

  .show-page-wrapper
    %section
      %h3 Event Date
      %p= "#{@event.open_at} - #{@event.due_at}"

    %section
      %h3 Description
      .event-description-show.clearfix= raw @event.description

    %section
      - if @event.media.present?
        .event-image-show-wrapper{class: ('image-with-caption' if @event.media_caption? || @event.media_credit?)}
          %img.event-image-show{src: @event.media}
          - if @event.media_caption.present? || @event.media_credit.present?
            .photo-details
              %p.photo-caption= @event.media_caption
              %p.photo-credit= "Credit: #{@event.media_credit}"
