-if current_user_is_staff?
  - content_for :context_menu do
    .context_menu
      %ul
        %li= link_to glyph(:plus) + "New Calendar Event", new_event_path, class: "button button-edit"

        %li= link_to glyph(:edit) + "Edit", edit_event_path(@event), class: "button button-edit"

.pageContent
  = render partial: "layouts/alerts"

  .show-page-wrapper
    %section
      %h3 Event Date
      %p= "#{@event.open_at} - #{@event.due_at}"

    %section
      %h3 Description
      .event-description-show.clearfix= raw @event.description

    %section
      - if @event.media.present?
        .event-image-show-wrapper{class: ('image-with-caption' if @event.media_caption? || @event.media_credit?)}
          %img.event-image-show{src: @event.media}
          - if @event.media_caption.present? || @event.media_credit.present?
            .photo-details
              %p.photo-caption= @event.media_caption
              %p.photo-credit= "Credit: #{@event.media_credit}"
