-if current_user_is_staff?
  - content_for :context_menu do
    .context_menu
      %ul
        %li= link_to decorative_glyph(:plus) + "New Calendar Event", new_event_path, class: "button button-edit"

        %li= link_to decorative_glyph(:edit) + "Edit", edit_event_path(@event), class: "button button-edit"

        %li= link_to decorative_glyph(:copy) + "Duplicate Event ", copy_events_path(id: @event.id), class: "button button-edit", method: :post

.pageContent
  = render partial: "layouts/alerts"

  .show-page-wrapper
    %section
      %h3 Event Date
      %p= " - #{@event.due_at}"

    %section
      %h3 Description
      .event-description-show.clearfix= raw @event.description

    %section
      - if @event.media.present?
        .event-image-show-wrapper
          %img.event-image-show{src: @event.media}
