= content_nav_for @event

%h2.pagetitle= @title

-if current_user_is_staff?
  .context_menu
    %ul
      %li
        %a{:href => new_event_path }
          = glyph(:plus)
          New Calendar Event
      %li
        %a{:href => edit_event_path(@event) }
          = glyph(:edit)
          Edit

.pageContent
  = render partial: "layouts/alerts"

  .show-page-wrapper.badge-show-page
    %img{:src => @event.media }

    %h4 Event Date
    %p= "#{@event.open_at} - #{@event.due_at}"

    %h4 Description
    %p= raw @event.description

    -if current_user_is_staff?
      %h4 Thumbnail
      %img{:src =>  @event.thumbnail }

      %h4 Media credit
      %p= @event.media_credit

      %h4 Media caption
      %p= @event.media_caption
