-if current_user_is_staff?
  - content_for :context_menu do
    .context-menu
      %ul
        %li= link_to decorative_glyph(:edit) + "Edit", edit_event_path(@event), class: "button button-edit"
        %li.dropdown
          %button.button-edit.button-options{role: "button", type: "button"}= decorative_glyph(:cog) + "Options" + decorative_glyph("caret-down")
          %ul.options-menu.dropdown-content
            %li= link_to decorative_glyph(:copy) + "Copy Event ", copy_events_path(id: @event.id), method: :post
            - if @event.course.institution.has_google_access?
              %li= link_to decorative_glyph(:calendar) + "Add to Google Calendar ", add_event_google_calendars_events_path(@event), :target => "_parent", method: :post

.pageContent
  = render partial: "layouts/alerts"

  .show-page-wrapper
    - if @event.media.present?
      .event-image-show-wrapper
        %img.event-image-show{src: @event.media}

    - if @event.due_at.present?
      %section
        %h3 Event Date
        %p= "#{l @event.due_at.in_time_zone(current_user.time_zone)}"

    %section
      %h3 Description
      .event-description-show.clearfix= raw @event.description
