= content_nav_for @event

%h2.pagetitle= @title

-if current_user_is_staff?
  .context_menu
    %ul
      %li
        %a{:href => new_event_path }
          = glyph(:plus)
          New Calendar Event
      %li
        %a{:href => edit_event_path(@event) }
          = glyph(:edit)
          Edit

.pageContent
  = render partial: "layouts/alerts"

  .show-page-wrapper
    - if @event.media.present?
      %img{:src => @event.media }
      %p.photo-caption= @event.media_caption
      %p.photo-credit= "Media credit: #{@event.media_credit}"

    %h3 Event Date
    %p= "#{@event.open_at} - #{@event.due_at}"

    %h3 Description
    .full-event-description= raw @event.description
