.pageContent
  = render partial: "layouts/alerts"

  / Grade Scheme Elements Table Display
  %table
    %caption.sr-only Grading Scheme Levels
    %thead
      %tr
        %th{scope: "col"} Grade
        %th{scope: "col"} Level
        %th{scope: "col"} Point Threshold
        %th{scope: "col"} Locked?
    %tbody
      - @grade_scheme_elements.each do |element|
        %tr
          %td= element.letter
          %td= element.level
          %td{data: { :"sort-value" => "#{element.lowest_points}" }}= points element.lowest_points
          %td
            - if element.unlock_conditions.present?
              - element.unlock_conditions.each do |uc|
                .condition= glyph(:lock) + uc.requirements_description_sentence(current_user.time_zone)

  = render partial: "courses/grading_philosophy", locals: { course: current_course }
