.pageContent
  .grading-scheme-bars
    = render "layouts/alerts"

    - @grade_scheme_elements.each do |element|
      - if current_student.score_for_course(current_course) < element.lowest_points || (current_student.score_for_course(current_course) >= element.lowest_points && ! element.is_unlocked_for_student?(current_student))
        .progress.bar_magic
          .meter
            %i.fa.fa-lock
            %span= element.name
            %span= points element.lowest_points
            - if element.unlock_conditions.present?
              = render partial: "grade_scheme_elements/unlock_icons", locals: { student: current_student, gse: element }
      - elsif current_student.score_for_course(current_course) > element.highest_points && element.is_unlocked_for_student?(current_student)
        .progress.bar_magic.success
          .meter
            %i.fa.fa-star
            %span= element.name
            %span has already been achieved!
            %span= points element.lowest_points
      - else
        .progress.bar_magic.current.center
          %h2.your-rank
            Your rank:
            %span.your-rank= element.name
          .striped-bar-container
            .striped{:style => "width: #{element.progress_percent(current_student)}%;"}
          .left.left-points
            %span Your Points:
            %span.bold=points current_student.score_for_course(current_course)
          .right.right-points
            %span Points to next level:
            %span.bold= points element.points_to_next_level(current_student, current_course)
