.pageContent
  = render partial: "layouts/alerts"

  %h4.bold= @grade_scheme_element.name
  - if @grade_scheme_element.lowest_points.present?
    .point-range
      %span.bold Range:
      %span #{ points @grade_scheme_element.lowest_points } - #{ points @grade_scheme_element.highest_points }

  %hr.dotted
  = simple_form_for(@grade_scheme_element, :html => { :novalidate => true }) do |f|
    %section
      .unlock-conditions
        %p.hint Unlocks allow you to control how levels are earned in your course. What do students need to do in order to unlock this level?
        %script(id="unlock-condition-template" type="text/x-template")
          %fieldset.unlock-condition
            = f.simple_fields_for :unlock_conditions, UnlockCondition.new, class: "form-inline", child_index: "child_index" do |ucf|
              = render partial: "layouts/unlock_condition_fields", locals: { f: ucf }
        - @grade_scheme_element.unlock_conditions.each do |condition|
          %fieldset.unlock-condition
            = f.simple_fields_for :unlock_conditions, condition, class: "form-inline" do |ucf|
              = render partial: "layouts/unlock_condition_fields", locals: { f: ucf }
      %button.add-unlock-condition Add a Condition

    .submit-buttons
      %ul
        %li= f.button :submit, "Update Level", id: "edit-grade-scheme-element-button", class: "disabled"
        %li= link_to glyph("times-circle") + "Cancel", grade_scheme_elements_path, class: "button"
