= form_tag path do
  %table.dynatable.no-table-header
    %thead
      %tr
        %th{scope: "col"} Name
        %th{scope: "col"} Description
        %th{scope: "col"} Due
        %th{scope: "col"} Points
        %th{"data-dynatable-no-sort" => "true"}
          %button.button.select-all= "Check"
          %button.button.select-none= "Uncheck"
    %tbody
      - @assignments.each do |assignment|
        %tr
          %td= assignment["name"]
          %td= assignment["description"].html_safe
          %td= assignment["due_at"]
          %td= assignment["points_possible"]
          %td.center= check_box_tag "assignment_ids[]", assignment["id"], false, data: { behavior: "toggle-disable-list-command", commands: "[data-behavior='selected-assignments-command']" }

  .submit-buttons
    .right
      - if local_assigns.has_key? :content
        = capture(&content)
