= content_nav_for Course, ["Import Assignments", importers_path], @provider.capitalize

%h3.pagetitle= "Assignment Import from #{@provider.capitalize}"

.pageContent
  = render partial: "layouts/alerts"

  %table
    %thead
      %tr
        %th{scope: "col"} Course
        %th{scope: "col"} Name
        %th{scope: "col"} Description
        %th.button-column
    %tbody
      - @assignments.each do |assignment|
        %tr
          %td= @course["name"]
          %td= assignment["name"]
          %td= assignment["description"].html_safe
          %td
            .right
              %ul.button-bar
