= content_nav_for Course, ["Import Assignments", importers_path], @provider.capitalize

%h3.pagetitle= "Assignment Import from #{@provider.capitalize}"

.pageContent
  = render partial: "layouts/alerts"

  = form_tag importer_assignments_import_path(@provider, @course["id"]) do
    %table.dynatable.no-table-header
      %thead
        %tr
          %th{scope: "col"} Course
          %th{scope: "col"} Name
          %th{scope: "col"} Description
          %th{"data-dynatable-no-sort" => "true"}
            %button.button.select-all= "Check"
            %button.button.select-none= "Uncheck"
      %tbody
        - @assignments.each do |assignment|
          %tr
            %td= @course["name"]
            %td= assignment["name"]
            %td= assignment["description"].html_safe
            %td.center= check_box_tag "assignment_ids[]", assignment["id"], false, data: { behavior: "toggle-disable-list-command", commands: "[data-behavior='selected-assignments-command']" }

    .submit-buttons
      .right
        = submit_tag "Import Selected Assignments into #{current_course.name}", class: "button disabled", disabled: true, data: { behavior: "selected-assignments-command" }
