You have earned
%span.bold #{points presenter.score_for_course } points
- cache multi_cache_key :student_dashboard_total_score, current_student, current_course do

  - if current_user_is_student?
    %points-breakdown-analytics
  - else
    %points-breakdown-analytics(student-id="#{current_student.id}")

- if presenter.next_element.present?
  .progress.bar_magic.center
    .meter
      %i.fa.fa-lock
      %span= presenter.next_element.name
      %span=points presenter.next_element.lowest_points

- if presenter.current_element.present?
  .progress.bar_magic.current.center
    %span.your-rank= link_to "Your rank: #{presenter.current_element.name}", grade_scheme_elements_path
    .striped-bar-container
      .striped{ style: "width: #{ presenter.progress_percent }%;" }
    .left-points
      %span Your Points:
      %span.bold=points presenter.score_for_course
    .right-points
      %span Points to next level:
      %span.bold= points presenter.points_to_next_level
- else
  .progress.bar_magic.center
    .meter
      %i.fa.fa-lock
      %span= presenter.first_element.name
      %span=points presenter.first_element.lowest_points

  .progress.bar_magic.current.center.no-level
    %span.your-rank Your rank: Not on the board yet!

- if presenter.previous_element.present?
  .progress.bar_magic.success.center
    .meter
      %i.fa.fa-star
      %span= presenter.previous_element.name
      %span has already been achieved!
      %span=points presenter.previous_element.lowest_points

- if current_course.has_badges?
  %p.bold= term_for :badges
  %ul.badge-grid
    - current_student.unique_student_earned_badges(current_course).includes(:unlock_conditions).each do |badge|
      %li
        %a{href: badge_path(badge) }
          .img-cropper.small-crop
            %img{src: badge.icon, alt: badge.name}

    - current_student.student_visible_unearned_badges(current_course).each do |badge|
      %li
        %a{href: badge_path(badge) }
          .img-cropper.small-crop
            %img{src: badge.icon, alt: badge.name, class: "unearned"}
