.text-center
  .card-header
    %h3 Points Distribution
  .card-body
    - if current_user_is_student?
      %h4.not_bold.italic= "You've earned #{points current_student.cached_score_for_course(current_course)} points"
      #grade_distro.student-distro{"data-scores"=> current_student.scores_for_course(current_course).to_json}
      #gradeDistro
    - else
      #grade_distro.instructor-distro{"data-scores"=> current_course.scores.to_json}
      #gradeDistro
    .small
      %b Class Average: 
      #{points current_course.average_course_score} points
    .small
      %b Low Score: 
      #{points current_course.minimum_course_score} points
    .small
      %b High Score: 
      #{points current_course.maximum_course_score} points
    .small
      .italic= link_to "How do I read this chart?", "http://www.youtube.com/watch?v=7UK2DK7rblw&feature=youtu.be", :target => "_blank"
