.card-header
  %h2 Upcoming Events
.card-body
  %i#events-loading-spinner.fa.fa-spinner.fa-spin.fa-fw
  .slide-container
    - @events.each do |event|
      .event-slide
        .slide-header
          %h2.event-name= link_to event.name, event
        %p.event-date
          = glyph(:calendar)
          - if event.open_at && event.due_at?
            = "#{l event.open_at.in_time_zone(current_user.time_zone)} - #{ l event.due_at.in_time_zone(current_user.time_zone)}"
          - elsif event.due_at?
            = "Due: #{l event.due_at.in_time_zone(current_user.time_zone)}"
        .slide-body
          .event-information
            - if event.media.present?
              .event-image
                %img{:src => event.media }
            - if event.description.present?
              .event-description
                = sanitize(event.description, tags: %w(p), attributes: %w()).truncate(250, :separator => " ").gsub(/<\/?p>/, " ")
                %br
                .right= link_to "See the Details", event
          %ul.assignments-due
            - presenter.assignments_due_on(event).ordered.each do |assignment|
              - if assignment != event
                - if ((current_student && assignment.visible_for_student?(current_student)) || current_user_is_staff?)
                  %li #{ link_to assignment.name, assignment } due at #{ l assignment.due_at.in_time_zone(current_user.time_zone) }

  .calendar-access
    - if presenter.show_add_assignments_to_google_button?(current_user)
      = link_to decorative_glyph(:calendar) + "Add All Assignments to Google Calendar", add_assignments_google_calendars_assignments_path, :target => "_parent", method: :post, data: { disable_with: "Adding Your Assignments..." }
