.card-header
  %h3 Upcoming Events
.card-body
  %i#events-loading-spinner.fa.fa-spinner.fa-spin.fa-fw
  .slide-container
    - @events.each do |event|
      .event-slide
        .slide-header
          %h4.event-name= link_to event.name, event
        %p.event-date= glyph(:calendar) + presenter.dates_for(event)
        .slide-body
          .event-image
            %img{:src => event.media }
          .event-description
            %p
              = truncate(sanitize(event.description, :tags => %w(br a)), :length => 200, :omission => "...")
              = link_to "See the Details", event
          %ul.assignments-due
            - presenter.assignments_due_on(event).each do |assignment|
              %li #{link_to assignment.name, assignment} due today!
