.card-header
  %h2 Upcoming Events
  = active_course_link_to decorative_glyph(:copy) + "Add All Assignments to Google Calendar", add_assignments_google_calendars_assignments_path, class: "button button-edit", method: :post
.card-body
  %i#events-loading-spinner.fa.fa-spinner.fa-spin.fa-fw
  .slide-container
    - @events.each do |event|
      .event-slide
        .slide-header
          %h2.event-name= link_to event.name, event
        %p.event-date= glyph(:calendar) + presenter.dates_for(event)
        .slide-body
          .event-information
            - if event.media.present?
              .event-image
                %img{:src => event.media }
            - if event.description.present?
              .event-description
                = sanitize(event.description, tags: %w(p), attributes: %w()).truncate(250, :separator => " ").gsub(/<\/?p>/, " ")
                = link_to "See the Details", event
          %ul.assignments-due
            - presenter.assignments_due_on(event).ordered.each do |assignment|
              - if assignment != event
                - if ((current_student && assignment.visible_for_student?(current_student)) || current_user_is_staff?)
                  %li #{ link_to assignment.name, assignment } due at #{ assignment.due_at.strftime("%l:%M%p") }
