.card-header
  - if presenter.due_dates?
    %h2 #{term_for :assignments} Due This Week
  - else
    %h2 #{term_for :assignment} Planner
.card-body#todo-list
  - if current_student.present?
    .planner-filter.clearfix{role: "toolbar", "aria-label": "Course Assignments or My Assignments"}
      %button.button-filter.selected#course-planner{role: "button", "aria-pressed": "true"} Course Planner
      %button.button-filter#my-planner{role: "button", "aria-pressed": "false"} My Planner

    = render partial: "info/dashboard/modules/dashboard_to_do_list_items", locals: { presenter: presenter, assignment_list: presenter.course_planner_assignments, list_class: "course-planner-list" }
    = render partial: "info/dashboard/modules/dashboard_to_do_list_items", locals: { presenter: presenter, assignment_list: presenter.my_planner_assignments, list_class: "my-planner-list" }
  - else
    .planner-subheader
      %p
        %span.predictions-label Total Predictions
        %span.submissions-label Total Submissions
    = render partial: "info/dashboard/modules/dashboard_instructor_assignment_list", locals: { presenter: presenter, assignment_list: presenter.course_planner_assignments }
