%ul{:class => "todo-list-assignments #{list_class}"}
  - assignment_list.each do |assignment|
    %li{class: presenter.starred?(assignment) ? "assignment-item starred" : "assignment-item"}
      - if presenter.starred?(assignment)
        = tooltip("predicted-tip_#{assignment.id}", :flag, placement: "right") do
          You have included this #{(term_for :assignment).downcase} in your grade prediction
      - if presenter.submitted?(assignment)
        %span.strikethrough.assignment-name= link_to "#{assignment.try(:name)}", assignment
        .small.uppercase= "#{assignment.assignment_type.name}"
      - else
        - if assignment.name_visible_for_student?(current_student)
          %span.bold.assignment-name
            = link_to assignment.name, grade_path(Grade.find_or_create(assignment.id, current_student.id))
        - else
          %span.bold.assignment-name= "Locked #{(term_for :assignment ).titleize}"
          %span.italic= "You must unlock this #{(term_for :assignment).downcase} to learn more about it"
        .small.uppercase= "#{assignment.assignment_type.name}"
      - if assignment.due_at?.present?
        .due-date= "Due: #{l assignment.due_at.in_time_zone(current_user.time_zone)}"
      - if presenter.submittable?(assignment)
        - if assignment.is_individual?
          .right= render "students/submissions", assignment: assignment
        - else
          .right= render "students/group_submissions", assignment: assignment, group: current_student.group_for_assignment(assignment)
  - if assignment_list.empty?
    %li.empty-todo-list
      - if list_class == "course-planner-list"
        - if presenter.due_dates?
          .empty-state-wrapper
            %img{src: "/images/no-assignments-due.svg", alt:"", class:"empty-state-graphic"}
          %p.empty-state-text You don't have any #{(term_for :assignment).downcase.pluralize} due in the next week!
        - else
          %p.dashboard-message This class has flexible #{(term_for :assignment).downcase} due dates. Check your course rules to learn when to turn in certain #{(term_for :assignment).downcase.pluralize}.
      - elsif list_class == "my-planner-list"
        .empty-state-wrapper
          %img{src: "/images/no-predicted-assignments.svg", alt:"", class:"empty-state-graphic"}
        %p.empty-state-text
          You have not predicted any #{(term_for :assignment).downcase.pluralize}! Check out the
          = link_to "#{term_for :grade_predictor}", predictor_path
          to add #{(term_for :assignment).downcase.pluralize} to this planner.
