.card-header
  %h3 Upcoming Events
.card-body
  %i#events-loading-spinner.fa.fa-spinner.fa-spin.fa-fw
  .slide-container
    - @events.each do |event|
      .event-slide
        .slide-header
          %h4.event-name= link_to event.name, event
        %p.event-date= glyph(:calendar) + presenter.dates_for(event)
        .slide-body
          .event-information
            .event-image
              %img{:src => event.media }
            - if event.description.present?
              .event-description
                = sanitize(event.description, :tags=>['a', 'strong', 'em', 'ul', 'ol', 'li', 'p', 'br']).truncate(200, :separator => " ").html_safe
                = link_to "See the Details", event
          %ul.assignments-due
            - presenter.assignments_due_on(event).each do |assignment|
              - if assignment.visible_for_student?(current_student)
                %li #{ link_to assignment.name, assignment } due at #{ assignment.due_at.strftime("%H:%M%p") }
    .event-slide.last-slide
      .slide-body
        .dashboard-message This class is over!
