.avatar
  .card-header
    %h2.flagged-state
      = content_tag_for :span, current_student do
        = link_to flagged_user_icon(current_course, current_user, current_student.id), flag_user_path(current_student), method: :post, remote: true, class: "flagged-user-icon"
      = "#{current_student.first_name}'s Profile"
  .card-body
    - if current_student.predictions_for_course?(current_course) == false
      .small
        .alert-box.alert Has not yet used the #{term_for :grade_predictor}
    .module-section
      - if current_student.avatar_file_name.present?
        %img.img-rounded{:src => current_student.avatar_file_name, width: 100, height: 100 }
    .module-section
      - if current_student.team_for_course(current_course).present?
        .small
          %b #{term_for :team}:
          #{current_student.team_for_course(current_course).name}
      .small
        %b Last activity:
        -  if current_student.last_activity_at.present?
          = l current_student.try(:last_activity_at).in_time_zone(current_user.time_zone)
        - else
          (no activity yet)

    .module-section
      %ul.button-bar
        = active_course_link_to decorative_glyph(:edit) + "Edit", edit_user_path(current_student), class: "button"
        %li= link_to decorative_glyph(:envelope) + "Email", "mailto:#{current_student.email}", class: "button"
        %li= link_to decorative_glyph(:refresh) + "Update Score", recalculate_student_path(current_student), class: "button"
        - if !current_student.activated?
          = active_course_link_to decorative_glyph(:check) + "Activate", manually_activate_user_path(current_student.id), :method => :put, class: "button"
