%li
	.headline= link_to "Gradecraft veut 'gamifier' l'enseignement supérieur", "http://www.letudiant.fr/educpros/actualite/gradecraft-veut-gamifier-l-enseignement-superieur.html", :target => "blank"
	.date November 18, 2016

%li
	.headline= link_to "University of Michigan Turns Courses Into Games", "https://www.edsurge.com/news/2016-10-20-university-of-michigan-turns-courses-into-games", :target => "blank"
	.date October 20, 2016
	
%li
	.headline= link_to "An LMS to Support ‘Gameful’ Learning", "https://campustechnology.com/articles/2016/08/24/an-lms-to-support-gameful-learning.aspx", :target => "blank"
	.date August 24, 2016

%li
	.headline= link_to "National leaders address what's next for engaged learning", "https://record.umich.edu/articles/national-leaders-address-whats-next-engaged-learning", :target => "blank"
	.date May 17, 2016

%li
	.headline= link_to "Motivating Students Through Gameful Learning: A Conversation with Barry Fishman", "http://covenantfn.org/sightline/news/313/87/Motivating-Students-Through-Gameful-Learning-A-Conversation-with-Barry-Fishman", :target => "blank"
	.date December 13, 2015
%li
	.headline= link_to "GradeCraft + DIG",  "http://digitaleducation.umich.edu/gradecraft-dig/", :target => "blank"
	.date December 9, 2015
%li
	.headline= link_to "200 University courses to leverage tech by 2017", "https://www.michigandaily.com/section/news/course-goals", :target => "blank"
	.date December 3, 2015
%li
	.headline= link_to "Viewpoint: Dear professors, think gameful", "https://www.michigandaily.com/section/viewpoints/viewpoint-dear-professors-think-gameful", :target => "blank"
	.date December 1, 2015
%li
	.headline= link_to "Barry Fishman and Caitlin Holman – Higher ed grading systems deserve an F", "http://blog-en.heqco.ca/2015/12/barry-fishman-and-caitlin-holman-higher-ed-grading-systems-deserve-an-f/", :target => "blank"
	.date December 1, 2015
%li
	.headline= link_to "Why gameful? Why GradeCraft?", "http://digitaleducation.umich.edu/why-gameful-why-gradecraft/", :target => "blank"
	.date June 2, 2015
%li
	.headline= link_to "GradeCraft turns college courses into video game experiences", "http://fusion.net/story/135500/gradecraft-turns-college-courses-into-video-game-experiences/", :target => "blank"
	.date May 17, 2015
%li
	.headline= link_to "Want to Make Your Course ‘Gameful’? A Michigan Professor’s Tool Could Help", "http://chronicle.com/blogs/wiredcampus/want-to-make-your-course-gameful-a-michigan-professors-tool-could-help/56649?utm_content=bufferadb26&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer", :target => "blank"
	.date May 15, 2015
%li
	.headline= link_to "Six projects get major grants through Third Century Initiative", "http://record.umich.edu/articles/six-projects-get-major-grants-through-third-century-initiative", :target => "blank"
	.date May 15, 2015
%li
	.headline= link_to "IMS Global Announces Winners of the 2015 Connected Learning App Challenge", "http://www.imsglobal.org/pressreleases/pr150310.html", :target => "blank"
	.date March 10, 2015
%li
	.headline= link_to "Platform aims to shift basis for class grades", "http://michigandaily.com/news/gradecraft", :target => "blank"
	.date February 24, 2015
