.feature-section.white
  .left.half.text
    %h2 Unlocks and Gating
    %p It's rare that you can start a game with final boss battle - and the same is true for learning: we often want learners to acquire foundational knowledge or skills before they're able to move on to more complicated challenges. Unlocks allow you determine what items must be done before moving on, including customizing achievement thresholds, date-completed-by, and having read feedback.
  .right.half.image-container
    .center= image_tag "unlocks.png"
  .clear
.feature-section.alternate-white
  .right.half.text
    %h2 Flexible Rubrics
    %p Design rubrics that help deliver clear and consistent feedback to your students. Enter different amounts of points that can be received for different criterion. Rubrics will show students concise expectations for their work and you have the option to also show them how many students earn each level within each criterion.
  .left.half.image-container
    .center= image_tag "rubric.png"
  .clear
.feature-section.white
  .left.half.text
    %h2 Classroom & Learning Analytics
    %p At the platform, course, and assignment levels, analytics help you understand how students are doing and who is in need of more support. Students are able to see analytics independently, letting them take charge of their own success.
  .right.half.image-container
    .center= image_tag "analytics.png"
  .clear
.feature-section.alternate-white
  .right.half.text
    %h2 State-of-the-Art LMS Features
    %p Your effort as an instructor shouldn't be spent trying to figure out how a system works. We work with our users to make sure GradeCraft is as easy to use as possible, and constantly improve our grading features in response to instructor requests. Rubrics? Yup. Analytics? Got it. Downloadable data? Always. What's next? That's up to you!
  .left.half.image-container
    .center= image_tag "LMS.png"
  .clear
.feature-section.white
  .left.half.text
    %h2 Integration with Other Platforms
    %p We know that integrating with other platforms is key to being able to use a system. We support LTI 1.1 as both a Tool Provider and Consumer and we believe that your data is your data - and should always be available to you to download and dig into.
  .right.half.image-container
    .center= image_tag "grade-import.png"
  .clear
