%section.feature-section.double-height-feature-section.white
  %h2.center #{term_for :grade_predictor}
  .image-container
    .center= image_tag "GradePredictor.png", class: "center-image", alt: "#{term_for :grade_predictor}"
  %h4.center Plan your progress through the course!
  .whole
    %p.center The #{term_for :grade_predictor} allows students to plan what assignments they will complete in order to achieve the grade they would like. With often many more assignments available to choose from, planning becomes essential to student progress. Give your students autonomy over their own learning.

%section.feature-section.alternate-white
  .half.text
    %h2 Leveling System
    %p Break away from traditional grading where students are afraid to attempt assignments that may be challenging at first. Leveling systems are completely customizable and allow you to help your students focus less on letter grades and more on their learning experience. Teaching a course on astronomy? Why not have levels named for each of the planets? GradeCraft levels allow you to be creative to give your students the best experience possible.
  .half.image-container
    .center= image_tag "leveling-system.png", alt: "Example leveling system"

%section.feature-section.white.reverse-order
  .half.text
    %h2 Badges
    %p Bragging rights available here. Badges help identify what your instructor sees as core skills or exemplary behaviors in their classroom. Collect them all, and watch how they unlock new opportunities and help you level up!
  .half.image-container
    .center= image_tag "badge_set.png", alt: "Grid of badges"

%section.feature-section.alternate-white
  .half.text
    %h2 Leaderboards
    %p Love some competition? Add a pseudonym to join the leaderboards and compete with your teammates for who will be the first to level up and win the class.
  .half.image-container
    .center= image_tag "leaderboard.png", alt: "Section leaderboard table and graph"

%section.feature-section.white.reverse-order
  .half.text
    %h2 Analytics
    %p Always know how you're doing, and what you need to do to make progress. Visualize how you're doing compared to your peers and engage in competition if that motivates you - or focus on doing your individual best and keep track of how you're performing as compared to your goals for the course as a whole.
  .half.image-container
    .center= image_tag "analytics.png", alt: "Box plot and other charts"
