- content_for :public_class, 'public-with-background'

.wrapper.access
  .alert-bkg= render "layouts/alerts"
  #access_gate.content_block
    - if Rails.env.production?
      = render partial: "user_sessions/umich"

    - else
      = link_to 'https://gradecraft.com/', :class => "logo" do
        = image_tag "logo.svg", :alt => "Return to GradeCraft homepage", :width => "450", :height => "100"
      %h1 Log In
      .google_access
        %a Log in with Google
      %h3 Or:
      = form_for User.new, :url => user_sessions_path do |f|
        .form_elem
          = f.text_field :email, placeholder: "Your email address", :autocorrect => "off", :autocapitalize => "off", :required=>"true"
          = label_tag :user_email, "Email address"
        .form_elem
          = f.password_field :password, placeholder: "Your password", :required=>"true"
          = label_tag :user_password, "Password"
        = f.button "Log in", type: "submit", class: "action", alt: "Log in"
      %p
        %a Forgot your password?
