.homepage
  .alert-bkg= render "layouts/alerts"
  .hero-section
    .hide-for-medium.hide-for-large.center= image_tag "gradecraft_logo.png", :width => "180"
    %h1.center A learning management system that supports gameful courses
    %h3.center Encourage students to focus on the craft of learning
  .feature-section.white.gameful.clearfix
    %h2.center What is Gameful?
    .section-container
      .quarter
        = image_tag "rocket.png", :width => "125"
        %br
        %h4 Earn Up
        %p Flip the frame so that everyone starts at zero and earns their way up to success as they complete course milestones.
      .quarter
        = image_tag "pointer.png", :width => "125"
        %br
        %h4 Increased Autonomy
        %p Students make choices about when and what type of work they want to do to demonstrate their learning.
      .quarter
        = image_tag "help.png", :width => "125"
        %br
        %h4 Freedom to Fail
        %p Design learning opportunities for students to take risks and explore without the fear that their grade will suffer.
      .quarter
        = image_tag "graph.png", :width => "125"
        %br
        %h4 Tangible Progress
        %p Students can see their progress at any time. Levels, unlocks, and badges provide feedback and support motivation to keep working.


  .feature-section.alternate-white.feature-overview
    %h2.center Features to Support Gameful Design
    .section-container
      .left.half
        .feature
          %i.fa.fa-fw.fa-star
          %h3 Grade Predictor
          %p The Grade Predictor enables students to set clear goals for their work. They decide which assignments they want to work on, set a goal for how they expect to do, and ensure that they are building towards success in the course as a whole.
        .feature
          %i.fa.fa-fw.fa-lock
          %h3 Unlocks
          %p Instructors can declare that assignments and badges must be earned in combination, at specific achievement levels, or by specific dates in order for students to unlock additional opportunities.
        .feature
          %i.fa.fa-fw.fa-level-up
          %h3 Leveling System
          %p Customize the leveling scheme to match your course design - declare what point thresholds equate to earning grade levels, and match the level names to a hierarchy relevant to the coursework itself.
      .right.half
        .feature
          %i.fa.fa-fw.fa-area-chart
          %h3 Learning Analytics
          %p Our learning analytics displays help students stay informed about their own work, and help instructors keep track of who is making progress and who may be in need of more support.
        .feature
          %i.fa.fa-fw.fa-certificate
          %h3 Badges
          %p Badges can be used to recognize achievement on a specific assignment, or excellence more broadly throughout the course. Badges can be awarded automatically through rubrics, and used as unlocks required to progress through pathways in the course.
        .feature
          %i.fa.fa-fw.fa-trophy
          %h3 Leaderboards
          %p Students can choose to participate in anonymous, team-based leaderboards if they enjoy competition, and opt-out if they don't. Instructors control if leaderboards appear at all.
      .clear
      .center
        = link_to "See More Features", features_path, class: "outline-button"
        .clear

  .feature-section.white.gameful.pedagogy.clearfix
    %h2.center Learn More About Gameful Pedagogy
    .section-container
      .quarter
        .circle.what-is-gameful
          = image_tag "book.png", :width => "75"
        %h4 What is Gameful?
        %p Learn more about the core elements of gameful learning
        = link_to "http://gamefulpedagogy.com/what-is-gameful", :target => "_blank" do
          Read more
          = glyph("long-arrow-right")
      .quarter
        .circle.getting-started
          = image_tag "getting-started.png", :width => "100"
        %h4 Getting Started
        %p Learn how to implement gameful design in your course
        = link_to "http://gamefulpedagogy.com/getting-started", :target => "_blank" do
          Get Started
          = glyph("long-arrow-right")
      .quarter
        .circle.faq
          = image_tag "faq.png", :width => "100"
        %h4 FAQs
        %p Frequently asked questions about gameful pedagogy
        = link_to "http://gamefulpedagogy.com/faqs", :target => "_blank" do
          Find your question
          = glyph("long-arrow-right")
      .quarter
        .circle.example-syllabi
          = image_tag "example-syllabi.png", :width => "100"
        %h4 Example Syllabi
        %p Example syllabi from courses using gameful pedagogy
        = link_to "http://gamefulpedagogy.com/example-syllabi", :target => "_blank" do
          View examples
          = glyph("long-arrow-right")

= render "newsletter_signup"
