.page
  .hero-section
    %h1 Research
    %ul.public-subnav= render "subnav"
  .main-section
    .main-section-content
      %p The GradeCraft team  engages in research focused on the design and use of gameful learning. Our work supports the creation of knowledge and tools that improve GradeCraft, improve our ability to support gameful pedagogy, and contribute to the larger community working towards educational improvement.
      %ul
        %li.article
          .title= link_to glyph("file-pdf-o") + "What Game Are You Playing? Affordances of Tools for Incorporating Game Elements into Classrooms", "research/GLS-2015-final.pdf", :target => "_blank"
          .citation Holman, C., Wooten, S., Fishman, B. (2015), What Game Are You Playing? Affordances of Tools for Incorporating Game Elements into Classrooms. Poster presented at Games+Learning+Society 11. (Madison, WI, USA 2015). GLS ’15.

        %li.article
          .title= link_to glyph("file-pdf-o") + "Planning For Success: How Students Use a Grade Prediction Tool to Win Their Classes", "research/LAK2015-Planning-for-Success.pdf", :target => "_blank"
          .citation Holman, C., Aguilar, S., Levick, A., Stern, J., Plummer, B., Fishman, B. (2015), Planning For Success: How Students Use a Grade Prediction Tool to Win Their Classes. Paper presented at Fifth Conference on Learning Analytics and Knowledge. (Leuven, Belgium, April 16-20, 2015), LAK ’15.

        %li.article
          .title= link_to glyph("file-pdf-o") + "Multiple Paths, Same Goal: Exploring the Motivational Pathways of Two Distinct Game-Inspired University Course Designs", "research/2014-GLS_Multiple_Paths.pdf", :target => "_blank"
          .citation Aguilar, S., Holman, C., Fishman, B (2014). Multiple Paths, Same Goal: Exploring the Motivational Pathways of Two Distinct Game-Inspired University Course Designs. Paper presented at Games+Learning+Society 10.0. University of Wisconsin-Madison. Madison, WI.

        %li.article
          .title= link_to glyph("file-pdf-o") + "GradeCraft: A Working Example", "research/2014-GLS-WorkingExample-GradeCraft.pdf", :target => "_blank"
          .citation Aguilar, S., Holman, C., Fishman, B (i2014). GradeCraft: A Working Example. Paper presented at Games+Learning+Society 10.0. University of Wisconsin-Madison. Madison, WI.

        %li.article
          .title= link_to glyph("file-pdf-o") + "Supporting Students’ Autonomy through Gameful Course Design", "research/ICM-Final.pdf", :target => "_blank"
          .citation Aguilar, S., Karabenick, S., Fishman, B., Holman, C. (2014). Supporting Students’ Autonomy through Gameful Course Design. Poster presented at the International Conference on Motivation. Helsinki, Finland

        %li.article
          .title Empirical evidence in support of gameful learning environments
          .citation Aguilar, S., Fishman, B., & Holman, C. (2014, April). Empirical evidence in support of gameful learning environments. Paper presented at the Annual Meeting of the American Educational Research Association, Philadelphia, PA.

        %li.article
          .title= link_to glyph("file-pdf-o") + "Leveling-Up: Evolving Game-Inspired University Course Design", "research/Leveling-Up.pdf", :target => "_blank"
          .citation Aguilar, S., Fishman, B., Holman, C. (2013). Leveling-Up: Evolving Game-Inspired University Course Design. Paper for Games+Learning+Society Conference 9.0. University of Wisconsin-Madison. Madison, WI.

        %li.article
          .title= link_to glyph("file-pdf-o") + "Beyond Badges & Points: Gameful Assessment Systems for Engagement in Formal Education", "research/GLS2013-Gameful_Learning_Symposium.pdf", :target => "_blank"
          .citation K., Vattel, L., Higgen, T., Schenke K., Sheldon, L., Ewing, C., Fishman, B., Aguilar, S., Holman, S. (2013). Beyond Badges & Points: Gameful Assessment Systems for Engagement in Formal Education. Symposium Games+Learning+Society Conference 9.0. University of Wisconsin- Madison. Madison, WI.

        %li.article
          .title= link_to glyph("file-pdf-o") + "Designing a Game-Inspired Learning Management System", "research/GLS2013-Designing_a_Game_Inspired_LMS.pdf", :target => "_blank"
          .citation Holman, C., Fishman, B., Aguilar, S. (2013). Designing a Game-Inspired Learning Management System. Poster for Games+Learning+Society Conference 9.0. University of Wisconsin- Madison . Madison, WI.

        %li.article
          .title= link_to glyph("file-pdf-o") + "GradeCraft: What Can We Learn From a Game-Inspired Learning Management System?", "research/LAK2013-GradeCraft-Design_Briefing.pdf", :target => "_blank"
          .citation Holman, C., Aguilar, S., Fishman, B. (2013). GradeCraft: What Can We Learn From a Game-Inspired Learning Management System? Design brief for the 3rd Annual Conference on Learning Analytics and Knowledge. Leuven, Belgium.

        %li.article
          .title= link_to glyph("file-pdf-o") + "Gaming the Class: Using a Game-based Grading System to Get Students to Work Harder… and Like It", "research/GLS2012-Gaming_The_System.pdf", :target => "_blank"
          .citation Fishman, B., & Aguilar, S. (2012). Gaming the Class: Using a Game-based Grading System to Get Students to Work Harder… and Like It. In C. Martin, A. Ochsner, & K. Squire (Eds.), Proc. GLS 8.0 (pp. 111–118). Pittsburgh, PA: ETC Press
