%section.grade-form-section.assignment-details
  %h2.grade-form-header #{ assignment.assignment_type.name} Details:
  - if assignment.pass_fail?
    %p= "#{term_for :pass}/#{term_for :fail} Assignment"
  - else
    %p= "#{points assignment.full_points} points possible"

  - if assignment.threshold_points?
    %p= "#{points assignment.threshold_points} points threshold"

  - if assignment.open_at?
    %p= "Opens: #{l assignment.open_at.in_time_zone(current_user.time_zone)}"

  - if assignment.due_at?
    %p= "Due: #{l assignment.due_at.in_time_zone(current_user.time_zone)}"

- if assignment.description.present?
  %section.grade-form-section
    %h2.grade-form-header= "#{term_for :assignment} Guidelines:"
    - if assignment.assignment_files.present?
      %ul
        Downloads
        - assignment.assignment_files.each do |af|
          %li= link_to af.filename, af.url

    %p.minimize= raw assignment.description

- if assignment.assignment_type.description.present?
  %section.grade-form-section
    %h2.grade-form-header #{ assignment.assignment_type.name} Guidelines:

    %p.minimize= raw assignment.assignment_type.description
    %hr.grading-divider

- if current_user_is_staff?
  - group ||= @group
  %section.grade-form-section
    - if assignment.has_groups? && group.present?
      %h2.grade-form-header= "Grade for #{group&.name}:"
      %ul
        - group.students.each do |s|
          %li= link_to s.name, student_path(s)
    - elsif @grade.present?
      %h2.grade-form-header= "Grade for #{@grade.student.first_name} #{@grade.student.last_name}:"
