= render partial: "assignment_guidelines", locals: { assignment: presenter.assignment }

%student-submission{class: "ng-cloak"}
  = simple_form_for [presenter.assignment, presenter.submission], :html => { class: ("student-submission-form" if presenter.assignment.accepts_text), "assignment_id"=>"#{presenter.assignment.id}" } do |f|
    %hidden-form-method
    - if presenter.assignment.has_groups?
      = f.input :group_id, :input_html => { :value => current_student.group_for_assignment(presenter.assignment).id }, as: :hidden
    - else # presenter.assignment.is_individual?
      = f.input :student_id, :input_html => { :value => presenter.student.id }, as: :hidden

    - if presenter.submission.will_be_resubmitted?
      %section.grade-form-section
        .italic.not_bold= "Graded: #{l presenter.submission.graded_at.in_time_zone(current_user.time_zone)}"
        %span.label.alert Resubmission!

    %section.grade-form-section
      - if presenter.assignment.accepts_attachments
        .grade-form-subsection
          %h3.grade-form-header Attachments
          = f.simple_fields_for :submission_files, presenter.submission.submission_files.new do |sf|
            = sf.file_field :file, :multiple => true, class: "file-upload-button"
          - if presenter.submission.submission_files.exists?
            %h3.bold Uploaded files
            %ul.file-attachments-list
              - presenter.submission.submission_files.each do |sf|
                - if sf.persisted?
                  %li.file-attachment-list-item
                    = link_to "#{sf.filename}", sf.url, target: "_blank"
                    = link_to "(Remove)", remove_uploads_path(:model => "SubmissionFile", assignment_id: presenter.assignment.id, :upload_id => sf.id)

      - if presenter.assignment.accepts_links
        .grade-form-subsection
          = f.input :link, :label_html => {:class => "grade-section-label"}

      - if presenter.assignment.accepts_text
        .grade-form-subsection
          %h3.grade-form-header Content/Statement
          %text-comment-input{"assignment_id"=>"#{presenter.assignment.id}"}

    .button_block
      .save-draft-button{"assignment_id"=>"#{presenter.assignment.id}", "is_active_course"=>"#{current_course.active?}"}
      = link_to glyph("times-circle") + "Cancel", assignment_path(presenter.assignment), class: "button ng-cloak secondary"
      = active_course_submit_tag "#{presenter.submission.persisted? ? (presenter.submission.will_be_resubmitted? ? "Resubmit" : "Update Submission") : "Submit #{term_for :assignment}"}",
        data: { confirm: ("This submission will be late. Continue?" if !presenter.submission.will_be_resubmitted? && presenter.submission_will_be_late?) }, class: "ng-cloak button action"
