- if presenter.assignment.is_individual?
  .context_menu
    %ul
      %li
        %a{:href => "#{edit_assignment_submission_path(presenter.assignment, presenter.submission)}?student_id=#{presenter.student.id}" }
          = glyph(:edit)
          Edit Submission
          %span.sr-only #{presenter.student.try(:first_name)}'s Submission
      %li
        = link_to glyph(:trash) + "Delete Submission", assignment_submission_path(assignment: presenter.assignment, submission: presenter.submission ), data: { confirm: "Are you sure?",  method: :delete }

      %li= link_to glyph(:check) + "Grade", edit_assignment_grade_path(presenter.assignment, presenter.submission, student_id: presenter.student.id)
- elsif presenter.assignment.has_groups?
  .context_menu
    %ul
      %li
        %a{:href => "#{edit_assignment_submission_path(presenter.assignment, presenter.submission)}?group_id=#{presenter.group.id}" }
          = glyph(:edit)
          Edit Submission
          %span.sr-only #{presenter.group.name}'s Submission
      %li
        = link_to glyph(:trash) + "Delete Submission", assignment_submission_path(assignment: presenter.assignment, submission: presenter.submission ), data: { confirm: "Are you sure?",  method: :delete }
      %li= link_to glyph(:check) + "Grade", grade_assignment_group_path(presenter.assignment,  presenter.group)
