- if presenter.assignment.is_individual?
  - content_for :context_menu do
    .context-menu
      %ul
        = active_course_link_to decorative_glyph(:edit) + "Edit Submission",
          "#{edit_assignment_submission_path(presenter.assignment, presenter.submission)}?student_id=#{presenter.student.id}",
          class: "button button-edit"
        = active_course_link_to decorative_glyph(:trash) + "Delete Submission",
          assignment_submission_path(assignment: presenter.assignment, submission: presenter.submission ), class: "button button-edit",
          data: { confirm: "Are you sure you want to delete #{presenter.student.name}'s submission for #{presenter.assignment.name}?", method: :delete }
        - if presenter.grade
          = edit_grade_link_to presenter.grade, class: "button"
        - else
          = active_course_link_to decorative_glyph(:check) + "Grade",
            assignment_student_grade_path(presenter.assignment, presenter.student), class: "button button-edit", method: :post
- elsif presenter.assignment.has_groups?
  - content_for :context_menu do
    .context-menu
      %ul
        = active_course_link_to decorative_glyph(:edit) + "Edit Submission",
          "#{edit_assignment_submission_path(presenter.assignment, presenter.submission)}?group_id=#{presenter.group.id}",
          class: "button button-edit"
        = active_course_link_to decorative_glyph(:trash) + "Delete Submission",
          assignment_submission_path(assignment: presenter.assignment, submission: presenter.submission ),
          data: { confirm: "Are you sure you want to delete #{presenter.group.name}'s submission for #{presenter.assignment.name}?",  method: :delete }, class: "button button-edit"
        = active_course_link_to decorative_glyph(:check) + "Grade",
          grade_assignment_group_path(presenter.assignment,  presenter.group), class: "button button-edit"
