- if @assignment.is_individual?
  .button-bar.context_menu
    %ul.button-group
      %li
        %a{:href => "#{edit_assignment_submission_path(@assignment, @submission)}?student_id=#{@student.id}", :class => 'button'  }
          %i.fa.fa-edit
          Edit Submission
          %span.sr-only #{@student.try(:first_name)}'s Submission
      %li
        = link_to "Delete Submission", assignment_submission_path(:assignment => @assignment, :submission => @submission ), :class => "button" , :data => { confirm: 'Are you sure?',  method: :delete }

      %li= link_to "Grade", edit_assignment_grade_path(@assignment, @submission, :student_id => @student.id), :class => 'button'
- elsif @assignment.has_groups?
  .button-bar.context_menu
    %ul.button-group
      %li
        %a{:href => "#{edit_assignment_submission_path(@assignment, @submission)}?group_id=#{@group}", :class => 'button'  }
          %i.fa.fa-edit
          Edit Submission
          %span.sr-only #{@group.try(:name)}'s Submission
      %li
        = link_to "Delete Submission", assignment_submission_path(:assignment => @assignment, :submission => @submission ), :class => "button" , :data => { confirm: 'Are you sure?',  method: :delete }

      %li= link_to "Grade", edit_assignment_grade_path(@assignment, @submission, :group_id => @group.id), :class => 'button'