- if presenter.assignment.is_individual?

  %p
    %span.smallcaps Submitted:
    = presenter.student.submission_for_assignment(presenter.assignment).created_at

    // Late alert if submitted after due date
    - if presenter.student.submission_for_assignment(presenter.assignment).late?
      %span.label.alert Late!

    - if presenter.student.submission_for_assignment(presenter.assignment).resubmitted?
      %span.label.alert Resubmission!

    // Checking to see if the submission was updated - if the update date is different from the creation date, displaying it
  - if presenter.student.submission_for_assignment(presenter.assignment).updated_at != presenter.student.submission_for_assignment(presenter.assignment).created_at
    %p
      %span.smallcaps Updated:
      %span= presenter.student.submission_for_assignment(presenter.assignment).updated_at

  // Displaying the link to the submission if there is one
  - if presenter.student.submission_for_assignment(presenter.assignment).link?
    %p
      %span.smallcaps Link:
      = link_to presenter.student.submission_for_assignment(presenter.assignment).link, presenter.student.submission_for_assignment(presenter.assignment).link

  - if presenter.student.submission_for_assignment(presenter.assignment).submission_files.present?
    %p
      %span.smallcaps Attachments:
      %ul
        - presenter.student.submission_for_assignment(presenter.assignment).submission_files.each do |sf|
          %li
            = link_to sf.filename, sf.url, :target => "_blank"

  - if presenter.student.submission_for_assignment(presenter.assignment).text_comment?
    %p
      %span.smallcaps Statement:
      = raw presenter.student.submission_for_assignment(presenter.assignment).text_comment


- else
  // Displaying when the assignment was submitted
  %p
    %span.smallcaps Submitted:
    = presenter.group.submission_for_assignment(presenter.assignment).created_at

    // Late alert if submitted after due date
    - if presenter.group.submission_for_assignment(presenter.assignment).late?
      %span.label.alert Late!
    // Checking to see if the submission was updated - if the update date is different from the creation date, displaying it
  - if presenter.group.submission_for_assignment(presenter.assignment).updated_at != presenter.group.submission_for_assignment(presenter.assignment).created_at
    %p
      %span.smallcaps Updated:
      %span= presenter.group.submission_for_assignment(presenter.assignment).updated_at

  // Displaying the link to the submission if there is one
  - if presenter.group.submission_for_assignment(presenter.assignment).link?
    %p
      %span.smallcaps Link:
      = link_to presenter.group.submission_for_assignment(presenter.assignment).link, presenter.group.submission_for_assignment(presenter.assignment).link

  - if presenter.group.submission_for_assignment(presenter.assignment).submission_files.present?
    %p
      %span.smallcaps Attachments:
      %ul
        - presenter.group.submission_for_assignment(presenter.assignment).submission_files.each do |sf|
          %li
            = link_to sf.filename, sf.url
            = link_to "(Remove)", remove_uploads_path({ :model => "SubmissionFile", :assignment_id => presenter.assignment.id, :upload_id => sf.id } )

  - if presenter.group.submission_for_assignment(presenter.assignment).text_comment?
    %p
      %span.smallcaps Statement:
      = raw presenter.group.submission_for_assignment(presenter.assignment).text_comment
