%br

- if presenter.assignment.is_individual?
  - if (presenter.assignment.open? && !presenter.grades_available_for?(current_student)) || (presenter.assignment.open? && presenter.assignment.resubmissions_allowed?)

    = link_to "Edit My Submission", edit_assignment_submission_path(presenter.assignment, presenter.submission_for_assignment(current_student)), class: "button"
    .clear

  %p
    %span.smallcaps Submitted:
    = presenter.submission_for_assignment(current_student).submitted_at

    // Late alert if submitted after due date
    - if presenter.submission_for_assignment(current_student).late?
      %span.label.alert Late!

    - if presenter.submission_for_assignment(current_student).resubmitted?
      %span.label.alert Resubmitted!

  // Displaying the link to the submission if there is one
  - if presenter.submission_for_assignment(current_student).link?
    %p
      %span.smallcaps Link:
      = external_link_to presenter.submission_for_assignment(current_student).link

  - if presenter.submission_for_assignment(current_student).submission_files.present?
    %p
      %span.smallcaps Attachments:
      %ul.uploaded-files
        - presenter.submission_for_assignment(current_student).submission_files.each do |sf|
          %li
            = link_to sf.filename, sf.url, :target => "_blank"


  - if presenter.submission_for_assignment(current_student).text_comment?
    %p
      %span.smallcaps Content/Statement:
      = raw sanitize_external_links presenter.submission_for_assignment(current_student).text_comment

- else
  // link to edit the submission
  - if presenter.assignment.open?
    = link_to "Edit My Submission", edit_assignment_submission_path(presenter.assignment, presenter.group_for(current_student)), class: "button"
  // Displaying when the assignment was submitted
  .clear
  %p
    %span.smallcaps Submitted:
    = presenter.group_submission_for(current_student).submitted_at

    // Late alert if submitted after due date
    - if presenter.group_submission_for(current_student).late?
      %span.label.alert Late!

    - if presenter.submission_for_assignment(current_student).resubmitted?
      %span.label.alert Resubmitted!

  // Displaying the link to the submission if there is one
  - if presenter.group_submission_for(current_student).link?
    %p
      %span.smallcaps Link:
      = external_link_to presenter.group_submission_for(current_student).link

  - if presenter.group_submission_for(current_student).submission_files.present?
    %p
      %span.smallcaps Attachments:
      %ul.uploaded-files
        - presenter.group_submission_for(current_student).submission_files.each do |sf|
          %li
            - if sf.file_processing
              = "#{sf.filename}"
              %a
                %i.fa.fa-spinner.fa-fw= "(upload in progress)"
              .display-on-hover.hover-style
                Refresh page to confirm upload has completed
            - else
              = link_to sf.filename, sf.url, :target => "_blank"

  - if presenter.group_submission_for(current_student).text_comment?
    %p
      %span.smallcaps Statement:
      = raw sanitize_external_links presenter.group_submission_for(current_student).text_comment
