= content_nav_for presenter.assignment, "Edit Submission"

%h3.pagetitle= presenter.title

.pageContent
  = render partial: "layouts/alerts", locals: { model: presenter.submission }

  - if presenter.assignment.has_groups?
    - if current_user_is_student?
      %h4= "You are editing the assignment submission for Group #{current_student.group_for_assignment(presenter.assignment).name }"
    - else
      %h4= "You are editing the assignment submission for Group #{presenter.submission.group.name }"

  = render partial: "form", locals: { presenter: presenter }
