= content_nav_for @assignment, "See Submission"

%h3.pagetitle= @title

- if current_user_is_staff?
  = render "submissions/buttons"

.pageContent
  = render 'layouts/alerts'
  = render 'submissions/instructor_show'
