.login
  .password-reset.login-form-container
    %h1 Reset Your Password
    %p Enter a new password and a confirmation below to change your current password
    = simple_form_for @user, :url => password_path(@token) do |f|
      = hidden_field_tag :token, @token
      = f.label :password, class: "sr-only"
      = f.password_field :password, placeholder: "Password"
      = f.label :password_confirmation, class: "sr-only"
      = f.password_field :password_confirmation, placeholder: "Confirm Password"
      = f.submit "Reset Password", class: "login-button button"
