.pageContent
  .table-header-information
    %table
      %thead
        %tr
          %th Name
          %th Open At
          %th Due At
          %th Max Points
      %tbody
        - @assignments.each do |assignment|
          %tr
            %td= assignment.name
            %td= assignment.open_at.strftime("%A, %B %d, %Y, at %l:%M%p") unless assignment.open_at.nil?
            %td= assignment.due_at.strftime("%A, %B %d, %Y, at %l:%M%p") unless assignment.due_at.nil?
            - if assignment.pass_fail?
              %td= "#{term_for :pass}/#{term_for :fail}"
            - else
              %td= points assignment.full_points
