.pageContent
  %h2= @learning_objective.name
  %h3.form-subtitle
    = "Progress: #{@learning_objective.progress current_student}"
    - if current_course.objectives_award_points?
      = "(Points to achieve: #{@learning_objective.points_to_completion})"
    - else
      = "(Count to achieve: #{@learning_objective.count_to_achieve})"

  %table
    %caption.sr-only Attempts
    %thead
      %tr
        %th{"scope"=>"col"} Assignment
        %th{"scope"=>"col"} Grade
        %th{"scope"=>"col"} Assessment
    %tbody
      - unless @cumulative_outcome.blank?
        - @cumulative_outcome.observed_outcomes.for_grades.each do |outcome|
          %tr
            %td= link_to outcome.grade.assignment.name, assignment_path(outcome.grade.assignment)
            %td= link_to "View grade", grade_path(outcome.grade)
            %td
              = outcome.learning_objective_level.flagged_value.capitalize
              - unless outcome.learning_objective_level.description.blank?
                = tooltip("level-hint", "info-circle", placement: "right") do
                  = outcome.learning_objective_level.description
