/ Grade Scheme Elements Table Display
%table
  %caption.sr-only Grading Scheme Levels
  %thead
    %tr
      %th{scope: "col"} Grade
      %th{scope: "col"} Level
      %th{scope: "col"} Point Threshold
      %th{scope: "col"} Locked?
      %th.options Options
  %tbody
    - @grade_scheme_elements.each do |element|
      %tr
        %td= element.letter
        %td= element.level
        %td{data: { :"sort-value" => "#{element.lowest_points }" }}= points element.lowest_points
        %td
          - if element.unlock_conditions.present?
            - element.unlock_conditions.each do |uc|
              .condition= glyph(:lock) + uc.requirements_description_sentence(current_user.time_zone)
        %td
          - if current_user_is_admin? || current_course.active?
            .button-container.dropdown
              %button.button-edit.button-options{role: "button", type: "button", "aria-label": "Additional Options"}= decorative_glyph(:cog) + decorative_glyph("caret-down")
              %ul.options-menu.dropdown-content
                = active_course_link_to glyph(:lock) + "Set Lock Conditions", edit_grade_scheme_element_path(element)

= render partial: "courses/grading_philosophy", locals: { course: current_course }
