.form-wrapper
  %section.form-section
    %h2.form-title Admin Only
    .form-item
      = f.input :status, label: "Active?", hint: "Is this an active course?"
    .form-item
      = f.input :has_paid, label: "Has Paid?", hint: "If this course is not at Michigan, has it been paid for? This affects whether or not instructors can add users."
    .form-item
      = f.input :allows_canvas, label: "Allows Canvas?", hint: "Does this course allow integration with Canvas?"
    .form-item
      = f.input :allows_learning_objectives, label: "Enable Learning Objectives?", hint: "Allow instructors to set up learning objectives for the course?"
    .form-item
      = f.association :institution, collection: Institution.all, prompt: "Select an institution"
