.form-wrapper
  %section.form-section
    %h2.form-title Class Details
    .form-flex-row
      .form-item
        = f.input :location, label: "Location"

      .form-item
        = f.input :meeting_times, as: :string, label: "Class Meeting Times"

    .form-flex-row
      .form-item
        = f.input :office, label: "Professor's Office"

      .form-item
        = f.input :office_hours, label: "Office Hours"

    .form-flex-row
      .form-item
        = f.input :phone, label: "Contact Phone #"

      .form-item
        = f.input :class_email, label: "Class Email"

    .form-flex-row
      .form-item
        = f.input :twitter_handle, hint: "Don't include the @ sign", label: "Twitter Handle"

      .form-item
        = f.input :twitter_hashtag, hint: "Don't include the hash sign"

    .form-flex-row
      .form-item
        = f.label :syllabus
        = f.file_field :syllabus
        - if current_course.syllabus.present?
          .italic= link_to "Current Syllabus", current_course.syllabus_url

  - unless @course.new_record?
    %section.form-section
      %h2.form-title Professors
      .form-item
        = f.input :instructors_of_record_ids, collection: f.object.staff,
          label: "Professors", wrapper: false, input_html: { multiple: true, data: { behavior: "multi-select" } }
        .form-hint Enter a professor's name to add them to this course
