%section.form-section
  %h2.form-title Custom Language
  %p GradeCraft allows you to customize the language used throughout the application. Update the defaults below to customize the language for your class.

  .form-flex-row
    .form-item.col-50
      = f.input :student_term, label: "Student", hint: "What will you call your user? Student, Learner, Player..."

    .form-item.col-50
      = f.input :assignment_term, label: "Assignment", hint: "Would you like to call assignments something else?"

  .form-flex-row
    .form-item.col-50
      = f.input :group_term, label: "Group", hint: "What will these groups be called?"

    .form-item.col-50
      = f.input :badge_term, label: "Badge", hint: "Would you like to call badges something else?"

  .form-flex-row
    .form-item.col-50
      = f.input :pass_term, label: "Pass", hint: "What would you like to call success for a pass/fail assignment?"

    .form-item.col-50
      = f.input :fail_term, label: "Fail", hint: "What would you like to call failure for a pass/fail assignment?"

  .form-flex-row
    .form-item.col-50
      = f.input :team_term, label: "Section", hint: "What will you call these? Team, House, Section..."

    .form-item.col-50
      = f.input :team_leader_term, label: "Section Leader", hint: "TA, GSI, Team Leader..."

  .form-flex-row
    .form-item
      = f.input :challenge_term, label: "Section Assignment", hint: "What would you like to call these section assignments? Quests, Boss Battles, Challenges..."

  .form-flex-row
    .form-item
      = f.input :grade_predictor_term, label: "Grade Predictor", hint: "What would you like to call the Grade Predictor? Crystal Ball, Weather Forecast, Ouija Board..."
