= render partial: "layouts/alerts", locals: { model: @course }

= simple_form_for(@course, :validate => false)  do |f|
  %section
    %h4 The Basics
    .form-item
      = f.label :name, "Course Title"
      = f.text_field :name

    .form-item
      = f.label :course_number, "Course Number"
      = f.text_field :course_number, {"aria-describedby" => "txtcourse_number"}

    .form-item
      = f.label :tagline, "Tagline"
      = f.text_field :tagline

    .form-item
      = f.label :semester
      = f.select :semester, [["Winter", "winter"], ["Spring", "spring"], ["Summer", "summer"], ["Fall", "fall"]]

    .form-item
      = f.label :year
      = f.select :year, (Date.today.year - 3)..(Date.today.year + 2), :selected => "#{@course.year || Date.today.year}"

    .form-item
      = f.label :full_points, "Max Number of Points"
      = f.number_field :full_points, {"aria-describedby" => "txtMaxPoints"}
      .form_label{id: "txtMaxPoints"} If you leave this blank, GradeCraft will calculate the total number of points based on the assignments you create.

    .form-item
      = f.input :start_date, as: :string, :include_blank => true, :input_html => { class: "datetimepicker", :value => @course.try(:start_date) }

    .form-item
      = f.input :end_date, as: :string, :include_blank => true, :input_html => { class: "datetimepicker", :value => @course.try(:end_date) }
    
    .form-item
      = f.input :lti_uid, label: "LTI ID"

  %section
    %h4.uppercase GradeCraft Settings
    .form-item
      = f.label :accepts_submissions, "Submissions"
      = f.check_box :accepts_submissions, {"aria-describedby" => "txtAcceptSubmission"}
      .form_label{id: "txtAcceptSubmission"} Will you be using GradeCraft to accept assignment submissions?

    - if current_user_is_admin?
      .form-item
        = f.label :status, "Active?"
        = f.check_box :status
        .form_label Is this an active course?

  %section
    %h4.uppercase Enable Features
    .form-card-grid
      .form-card
        .top-level-form
          = f.label :has_badges, "Badges"
          = f.check_box :has_badges
          .feature-description Do you want to use badges in your course?
        .advanced-form
          %a.button-advanced-settings= glyph(:cog) + "Settings"
        .advanced-settings-card.closed
          - if current_user_is_admin?
            = f.label :has_public_badges, "Can students export the badges earned in your course?"
            = f.check_box :has_public_badges

      .form-card
        .top-level-form
          = f.label :hide_analytics, "Hide Analytics?"
          = f.check_box :hide_analytics, {"aria-describedby" => "hideAnalytics"}
          .feature-description{id: "hideAnalytics"}  Do you want to hide assignment and course analytics from students?

      .form-card
        .top-level-form

      .form-card
        .top-level-form
          = f.label :has_teams, "Sections"
          = f.check_box :has_teams, {"aria-describedby" => "txtSections"}
          .feature-description{id: "txtSections"}  Will you have semester-long sections in your course?
        .advanced-form
          %a.button-advanced-settings= glyph(:cog) + "Settings"
        .advanced-settings-card.closed
          = f.label :team_score_average, "Will sections' scores be the average of their students' scores?"
          = f.check_box :team_score_average, {"aria-describedby" => "txtScoreAverage"}

      .form-card
        .top-level-form
          = f.label :has_team_challenges, "Section Assignments"
          = f.check_box :has_team_challenges, {"aria-describedby" => "txtSections"}
          .feature-description{id: "txtSections"}  Will you have section assignments in your course?
        .advanced-form
          %a.button-advanced-settings= glyph(:cog) + "Settings"
        .advanced-settings-card.closed
          = f.label :add_team_score_to_student, "Do you want team assignment scores to be added directly into student scores?"
          = f.check_box :add_team_score_to_student, {"aria-describedby" => "txtScoreToStudent"}

      .form-card
        .top-level-form
          = f.label :teams_visible, "Section Leaderboard"
          = f.check_box :teams_visible, {"aria-describedby" => "txtSectionLeaderboard"}
          .feature-description{id: "txtSectionLeaderboard"} Can students see a leaderboard of the section rankings and their points?
        .advanced-form
          %a.button-advanced-settings= glyph(:cog) + "Settings"
        .advanced-settings-card.closed
          = f.label :has_in_team_leaderboards, "Can students see in-section rankings and points (students must opt in to this by adding a screenname to protect their privacy)?"
          = f.check_box :has_in_team_leaderboards, {"aria-describedby" => "txtInSectionLeaderboard"}

  .submit-buttons
    %ul
      %li= f.button :submit, "#{@course.persisted? ? 'Update' : 'Create'} Course", class: "button"
      %li= link_to glyph("times-circle") + "Cancel", courses_path, class: "button"
