= render partial: "layouts/alerts", locals: { model: @course }

= simple_form_for(@course)  do |f|
  #tabs.ui-tabs.ui-widget
    %ul.ui-tabs-nav{role: "tablist"}
      %li
        %a{ "href" => "#tab"} Basic Settings
      %li
        %a{ "href" => "#tab2"} Course Details
      %li
        %a{ "href" => "#tab3"} Integrations
      %li
        %a{ "href" => "#tab4"} Student Onboarding
      %li
        %a{ "href" => "#tab5"} Advanced Settings
      - if current_user_is_admin?
        %li
          %a{ "href" => "#tab6"} Admin Settings

    #tabt1.ui-tabs-panel
      .ui-tabs-panel#tab.active{role: "tabpanel", "aria-hidden" => false }
        = render partial: "courses/basic_settings", locals: { f: f }
      .ui-tabs-panel#tab2{role: "tabpanel", "aria-hidden" => false }
        = render partial: "courses/course_details", locals: { f: f }
      .ui-tabs-panel#tab3{role: "tabpanel", "aria-hidden" => false }
        = render partial: "courses/integrations", locals: { f: f }
      .ui-tabs-panel#tab4{role: "tabpanel", "aria-hidden" => false }
        = render partial: "courses/student_onboarding_setup", locals: { f: f }
      .ui-tabs-panel#tab5{role: "tabpanel", "aria-hidden" => false }
        = render partial: "courses/advanced_settings", locals: { f: f }
      - if current_user_is_admin?
        .ui-tabs-panel#tab6{role: "tabpanel", "aria-hidden" => false }
          = render partial: "courses/admin_only", locals: { f: f }

    .submit-buttons
      = f.button :submit, "#{@course.persisted? ? 'Save Settings' : 'Create Course'}", class: "button action"
      = link_to glyph("times-circle") + "Cancel", courses_path, class: "button secondary"
      - if @course.published?
        = link_to glyph(:rocket) + "Unpublish", unpublish_course_path(@course), method: :put, class: "button"
