.table-filter-wrapper
  .filter-container
    %p Filter:
    .filter-buttons
      %button.button-table-action#btn-all-courses{role: "button", type: "button", "aria-pressed": "false"}= decorative_glyph("hand-spock-o") + "All Courses"
      %button.button-table-action.selected#btn-active{role: "button", type: "button", "aria-pressed": "true"}= decorative_glyph('hourglass-half') + "Active"
      %button.button-table-action#btn-inactive{role: "button", type: "button", "aria-pressed": "false"}= decorative_glyph('hourglass-end') + "Inactive"
      %button.button-table-action#btn-published{role: "button", type: "button", "aria-pressed": "false"}= decorative_glyph('star') + "Published"
      %button.button-table-action#btn-unpublished{role: "button", type: "button", "aria-pressed": "false"}= decorative_glyph('star-half-empty') + "Unpublished"
      %button.button-table-action#btn-badges{role: "button", type: "button", "aria-pressed": "false"}= decorative_glyph('shield') + "Badges"
      %button.button-table-action#btn-sections{role: "button", type: "button", "aria-pressed": "false"}= decorative_glyph('users') + "Sections"
      %button.button-table-action#btn-paid{role: "button", type: "button", "aria-pressed": "false"}= decorative_glyph('dollar') + "Paid"
      %button.button-table-action#btn-unpaid{role: "button", type: "button", "aria-pressed": "false"}= decorative_glyph('credit-card') + "Unpaid"
