- if current_user_is_staff?
  - content_for :context_menu do
    .context_menu
      %ul
        %li= link_to glyph(:plus) + "New Course", new_course_path, class: "button button-edit"

.pageContent
  = render partial: "layouts/alerts"

  %table.dynatable.scroll-table{"aria-describedby" => "tableCaption"}
    %thead
      %tr
        %th{scope: "col"} Course No
        %th{scope: "col"} Name
        %th{scope: "col"} Year
        %th{scope: "col"} Semester
        %th{scope: "col"} Total Points
        - if current_user_is_staff?
          %th{scope: "col"} # of Students
          %th{scope: "col"} Teams
          %th{scope: "col"} Badges
          %th
          %th
          %th
          %th
          %th
          %th
          %th
          %th
          %th
          %th{scope: "col" }
            %span.sr-only Actions
    %tbody
      - @courses.each do |course|
        %tr
          %td= course.course_number
          %td= link_to course.name, change_course_path(id: course.id)
          %td= course.year
          %td= course.semester
          %td= points course.total_points
          - if current_user_is_staff?
            %td= course.student_count
            %td= course.teams ? "Yes" : "No"
            %td= link_to "Awarded Badges", export_earned_badges_path(id: course.id, format: "csv") if course.badges.present?
            %td= link_to_unless_current "Research Grades", research_gradebook_path(id: course.id, format: "csv"), :class=>"data-clearing"
            %td= link_to_unless_current "Final Grades", final_grades_path(id: course.id, format: "csv"), :class=>"data-clearing"
            %td= link_to_unless_current glyph("") + "#{term_for :assignment} Structure", export_structure_assignments_path(id: course.id, format: "csv")
            %td= link_to "#{term_for :assignment} Submissions", submissions_path(id: course.id, format: "csv")
            %td= link_to "#{term_for :assignment_type } Summaries", export_all_scores_assignment_types_path(id: course.id, format: "csv")
            %td= link_to "Full Gradebook", gradebook_path(id: course.id, format: "csv")
            %td= link_to "Multiplied Gradebook", multiplied_gradebook_path(id: course.id, format: "csv") if course.student_weighted?
            %td= link_to "#{term_for :badges}", export_structure_badges_path(id: course.id, format: "csv")
            %td= link_to "Grading Scheme", export_structure_grade_scheme_elements_path(id: course.id, format: "csv")
            %td
              .right
                %ul.button-bar
                  %li= link_to glyph(:edit) + "Edit", edit_course_path(course), class: "button"
                  %li= link_to glyph(:copy) + "Copy", copy_courses_path(id: course.id), class: "button", :method => :copy
                  %li= link_to glyph(:copy) + "Copy + Students", copy_courses_path(id: course.id, copy_type: "with_students"), class: "button", :method => :copy
