= content_nav_for Course

%h3.pagetitle#tableCaption= @title

.context_menu
  %ul
    %li
      %a{:href => new_course_path }
        %i.fa.fa-plus
        New Course

.pageContent
  = render "layouts/alerts"

  %table.dynatable{"aria-describedby" => "tableCaption"}
    %thead
      %tr
        %th{scope: "col"} Name
        %th{scope: "col"} Course No
        %th{scope: "col"} Year
        %th{scope: "col"} Semester
        %th{scope: "col"} Badges
        %th{scope: "col"} Total Points
        %th
        %th{scope: "col", :style => "min-width: 250px" }
          %span.sr-only Actions
    %tbody
      - @courses.each do |course|
        %tr
          %td= link_to course.name, change_current_course_path(course_id: course.id)
          %td= course.courseno
          %td= course.year
          %td= course.semester
          %td
          %td= points course.total_points
          %td
            - if course == current_course
              = link_to_unless_current "Export Grades for Research", research_gradebook_path, :class=>"data-clearing"
          %td
            .right
              %ul.button-bar
                %li= link_to glyph(:eye) + "See", course_path(course), class: "button"
                %li= link_to glyph(:edit) + "Edit", edit_course_path(course), class: "button"
                %li= link_to glyph(:trash) + "Delete", course, class: "button", id: "course-id-#{course.id}", data: { confirm: "This will delete #{course.name} - are you sure?" }, :method => :delete
                %li= link_to glyph(:copy) + "Copy", copy_courses_path(id: course.id), class: "button", :method => :copy
