- if @can_create_courses
  - content_for :context_menu do
    .context-menu
      %ul
        %li= link_to decorative_glyph(:plus) + "New Course", new_course_path, class: "button button-edit"

.pageContent
  = render partial: "layouts/alerts"

  %table.paginated_dynatable
    %caption.sr-only My Courses
    %thead
      %tr
        %th{scope: "col"} Course No
        %th{scope: "col"} Name
        %th{scope: "col"} Instructor(s)
        %th{scope: "col"} Semester
        %th{scope: "col"} Year
        %th{scope: "col"} Total Points
        - if current_user_is_staff?
          %th{scope: "col"} # of Students
          %th{style: "text-align: right", "data-dynatable-no-sort": "true"} Downloads
          %th.options{"data-dynatable-no-sort": "true"} Options
    %tbody
      - @courses.each do |course|
        %tr
          %td= course.course_number
          %td= link_to course.name, change_course_path(id: course.id)
          %td
            %ul
              - course.staff.each do |staff_member|
                %li= "#{staff_member.name}"
          %td= course.semester
          %td= course.year
          %td= points course.total_points
          - if current_user_is_staff?
            %td= course.student_count
            %td
              .button-container.dropdown
                %button.button-edit.button-options{role: "button", type: "button", "aria-label": "Downloads"}= decorative_glyph("cloud-download") + decorative_glyph("caret-down")
                %ul.options-menu.dropdown-content
                  %li= link_to "Awarded Badges", export_earned_badges_path(id: course.id, format: "csv") if course.earned_badges.present?
                  %li= link_to "Final Grades", final_grades_path(id: course.id, format: "csv"), :class=>"data-clearing"
                  %li= link_to "#{term_for :assignment} Structure", export_structure_assignments_path(id: course.id, format: "csv")
                  %li= link_to "#{term_for :assignment} Submissions", submissions_path(id: course.id, format: "csv")
                  %li= link_to "#{term_for :assignment_type } Summaries", export_all_scores_assignment_types_path(id: course.id, format: "csv")
                  %li= link_to "Full Gradebook", gradebook_file_path(id: course.id, format: "csv")
                  %li= link_to "Multiplied Gradebook", multiplied_gradebook_path(id: course.id, format: "csv") if course.student_weighted?
                  %li= link_to "#{term_for :badges}", export_structure_badges_path(id: course.id, format: "csv")
                  %li= link_to "Grading Scheme", export_structure_grade_scheme_elements_path(id: course.id, format: "csv")
            %td
              .button-container.dropdown
                %button.button-edit.button-options{role: "button", type: "button", "aria-label": "Additional Options"}= decorative_glyph(:cog) + decorative_glyph("caret-down")
                %ul.options-menu.dropdown-content
                  %li= link_to decorative_glyph(:edit) + "Edit", edit_course_path(course)
                  - if current_user_is_admin?
                    %li= link_to decorative_glyph(:copy) + "Copy", copy_courses_path(id: course.id), :method => :copy
                    %li= link_to decorative_glyph(:copy) + "Copy + Students", copy_courses_path(id: course.id, copy_type: "with_students"), :method => :copy
                    %li= link_to decorative_glyph(:copy) + "Activate All Students", activate_all_students_courses_path(id: course.id), :method => :post
