.pageContent
  = render partial: "layouts/alerts", locals: { model: @course }

  = simple_form_for(@course, :validate => false)  do |f|
    %section
      %p Multipliers allow students to 'boost' their grades on specific assignment types. You decide how many multipliers students can allocate, then the students select which assignment types will get a boost (through their dashboard) and those assignment type's points are multiplied by the number of multipliers that the student allocates. Any assignment type that isn't chosen to be weighted is then zeroed out - students cannot earn points from them.

      %hr.dotted

      .form-item
        = f.label :total_weights, "Multiplier Count"
        = f.number_field :total_weights, {"aria-describedby" => "txtMultiplierCount"}
        .form_label{id: "txtMultiplierCount"}= "How many multipliers do #{term_for :students} have to allocate?"

      .form-item
        = f.input :weights_close_at, as: :string, :include_blank => true, :input_html => { class: "datetimepicker", :value => @assignment.try(:open_at) }, :label => "Decision By"
        .form_label What date must they make this decision by?

      .form-item
        = f.label :max_weights_per_assignment_type, "Maximum Per #{term_for :assignment_type}"
        = f.number_field :max_weights_per_assignment_type, {"aria-describedby" => "txtMaxPerAssignment"}
        .form_label{id: "txtMaxPerAssignment"} Is there a maximum weight they may place on a single assignment type?

      .form-item
        = f.label :max_assignment_types_weighted, "Max Assignment Types"
        = f.number_field :max_assignment_types_weighted, {"aria-describedby" => "txtMaxWeighted"}
        .form_label{id: "txtMaxWeighted"} Is there a maximum number of assignment types they can weight?

      .form-item
        = f.label :weight_term
        = f.text_field :weight_term, {"aria-describedby" => "txtWeightTerm"}
        .form_label{id: "txtWeightTerm"} What do you want to call these weights/multipliers?
    .submit-buttons
      %ul
        %li= f.button :submit, "#{@course.persisted? ? 'Update' : 'Create'} Course", class: "button"
        %li= link_to glyph("times-circle") + "Cancel", courses_path, class: "button"
