= render partial: "layouts/alerts", locals: { model: @course }

.login
  .login-form-container
    %h1 Now, let’s create your course:

    = simple_form_for @course, url: create_external_courses_path(user_id: @user.id), :method => :post do |f|
      .form_elem
        = f.input_field :name, placeholder: "Name of your course", :required=>"true"
        = label_tag :name, 'Course Name'
      .form_elem
        = f.input_field :course_number, placeholder: "Number of your course", :required=>"true"
        = label_tag :course_number, 'Course #'

      = f.submit "Let’s go!", class: "button action"
