= render partial: "layouts/alerts", locals: { model: @course }

%section.pilot
  .student-pilot
    .pilot-text
      %h1.bold Create a New Course
      = simple_form_for @course, url: create_external_courses_path(user_id: @user.id), :method => :post do |f|
        = f.input :name, label: "Course Name"
        = f.input :course_number
        .submit-buttons
          %ul
            %li= f.button :submit, "Let's go!", class: "button"
