= render partial: "layouts/alerts", locals: { model: @course }

%section.pilot
  .student-pilot
    .pilot-container
      %h1.pageTitle Create your course!

      = simple_form_for @course, url: create_external_courses_path(user_id: @user.id), :method => :post do |f|
        .form-item= f.input :name, label: "Course Name"
        .form-item= f.input :course_number

        .submit-buttons
          %ul
            %li= f.button :submit, "Let's go!", class: "button"
