= content_nav_for "Predictor Settings"

%h3.pagetitle= @title

.pageContent
  #massGrade
    = render partial: "layouts/alerts", locals: { model: @course, term: "settings" }

    = simple_form_for @course, method: :put, :url => predictor_settings_course_path(@course) do |f|

      - @assignments.group_by(&:assignment_type).each do |assignment_type, assignments|
        %h4.subtitle= assignment_type.name
        %table
          %thead
            %tr
              %th= "#{term_for :assignment}"
              %th Include in Predictor
              %th Display Type
              %th Preview

          %tbody
            - assignments.each do |assignment|
              %tr
                %td
                  = link_to assignment.name, assignment
                = f.simple_fields_for :assignments, assignment do |af|
                  %td{:width => "10%"}= af.check_box :include_in_predictor
                  %td= af.select :points_predictor_display, [[], ["Checkbox", "Fixed"], ["Select List"], ["Slider"], ]
                  %td{:width => "25%"}
                    - if assignment.include_in_predictor?
                      - if assignment.assignment_score_levels.present?
                        .slider{:max => assignment.point_total, :"data-scorelevelvals" => "#{assignment.assignment_score_levels.map(&:value)}", :"data-scorelevelnames" => "#{assignment.assignment_score_levels.map(&:name)}", :"data-highlight" => "true"}
                      - else
                        .slider{:max => assignment.point_total, :"data-highlight" => "true"}
                    - else
                      %input{:type => "checkbox" }
      .right.form_buttons
        = f.button :submit, "Update Settings", class: "button"
        = link_to glyph("times-circle") + "Cancel", dashboard_path, class: "button"
