- content_for :context_menu do
  .context_menu
    %ul
      %li= link_to glyph(:edit) + "Edit", edit_course_path(@course), class: "button button-edit"

.pageContent
  = render partial: "layouts/alerts"

  .panel
    %h4 THE BASICS
    %p= "Course Title: #{@course.name}"

    %p= "Course Number: #{@course.course_number}"

    %p= "Semester: #{@course.semester.capitalize}"

    %p= "Start Date: #{@course.start_date}"

    %p= "Section Leaders will be called: #{@course.team_leader_term}"

    %p= "End Date: #{@course.end_date}"

    %p= "Year: #{@course.year}"

    %p= "GradeCraft will accept assignment submissions for this course: #{@course.accepts_submissions? ? "Yes" : "No"}"

    %p= "Course Status: #{@course.status? ? "Active" : "Archived"}"

    %p= "Maximum Number of Points: #{points @course.total_points}"

    %h4 Class Info
    %p= "Meeting Location: #{@course.location}"

    %p= "Meeting Time: #{@course.meeting_times}"

    %p= "Professor's Office Location: #{@course.office}"

    %p= "Office Hours: #{auto_link(@course.office_hours)}"

    %p= "Official Phone Number: #{@course.phone}"

    %p= "Class Email: #{@course.class_email}"

    %p= "Twitter Handle: #{@course.twitter_handle}"

    %p= "Hashtag: #{@course.twitter_hashtag}"

    %p= "Professors:"
    - @course.instructors_of_record.each do |user|
      = user.name


  .panel
    .form-card-grid
      .form-card
        .form-card-header
          %h4 Badges
        .form-card-body
          %p= "Badges will be used: #{@course.has_badges? ? "Yes" : "No"}"
          - if @course.has_badges?
            %p
              %b Badges will be called:
              = @course.badge_term.pluralize

      .form-card
        .form-card-header
          %h4 Sections
        .form-card-body
          %p.clear
            %b Students will be grouped into sections:
            = @course.has_teams? ? "Yes" : "No"
          -if @course.has_teams?
            %p
              %b These sections will be called:
              = @course.team_term.pluralize
            %p
              %b Students can see the sections, the section's points, and the team's badges:
              = @course.teams_visible? ? "Yes" : "No"
            %p
              %b Section Score = Average User Score:
              = @course.team_score_average? ? "Yes" : "No"
            %p
              %b Section Leaders will be called:
              = @course.team_leader_term


      .form-card
        .form-card-header
          %h4 Multipliers
        .form-card-body
          %p.clear
            %b User's set:
            = @course.total_weights
          %p
            %b Maximium size:
            = @course.max_weights_per_assignment_type
          %p
            %b Multipliers must be set by:
            = @course.weights_close_at
          %p
            %b Multiplier/weight term:
            = @course.weight_term


  .panel
    %h4 GROUPS
    %p
      %p
        %b Groups will be called:
        = @course.group_term.pluralize
      %p
        %b Students self-declare their team roles:
        = @course.has_team_roles? ? "Yes" : "No"

  .panel
    %h4 STUDENTS
    %p.clear
      %b Students will be called:
      = @course.student_term.pluralize
