= content_nav_for current_course, "Timeline Settings"

%h3.pagetitle= @title

.pageContent
  #massGrade
    = render partial: "layouts/alerts", locals: { model: @course, term: "settings" }

    = simple_form_for @course, method: :put, :url => timeline_settings_course_path(@course) do |f|

      %table
        %thead
          %tr
            %th{:style => "min-width: 200px"}= "#{term_for :assignment}"
            %th Image/Video
            %th Thumbnail
            %th Media Credit
            %th Caption

        - @assignments.group_by(&:assignment_type).each do |assignment_type, assignments|
          - assignments.each do |assignment|
            %tr
              %td= assignment.name
              = f.simple_fields_for :assignments, assignment do |af|
                %td= af.text_field :media
                %td= af.text_field :thumbnail
                %td= af.text_field :media_credit
                %td= af.text_field :media_caption
      .submit-buttons
        %ul
          %li= f.button :submit, "Update Settings", class: "button"
          %li= link_to glyph("times-circle") + "Cancel", dashboard_path, class: "button"
