.columns.panel
  %span.columns
    = f.input :name, :label => "Level Name"
  %span.columns
    = f.label :value, "Points Awarded"
    = f.text_field :value, data: {autonumeric: true, "m-dec" => "0"}
  %span.columns
    = f.hidden_field :_destroy, class: "destroy"
    = link_to "Remove Level", '#', class: "remove-challenge-score-level button radius right"
