%table.dynatable
  %thead
    %tr
      %th Name
      %th Max Points
      %th{"data-dynatable-sorts" => "dueDate"} Due
      %th.hidden Due Date
      %th Visible
      %th Submissions?
      %th{ :style => "min-width: 220px" }

  %tbody
    - @challenges.chronological.alphabetical.each do |challenge|
      %tr
        %td= link_to challenge.name, challenge
        %td= points challenge.full_points
        %td= l challenge.due_at.in_time_zone(current_user.time_zone) if challenge.due_at.present?
        %td.hidden
          = l challenge.due_at, format: :sortable if challenge.due_at.present?
        %td= challenge.visible? ? "Visible" : "Hidden"
        %td= challenge.accepts_submissions? ? "Yes" : "No"
        %td
          .button-container.dropdown.right
            %button.button-edit.button-options{role: "button", type: "button", "aria-label": "Additional Options"}= decorative_glyph(:cog) + decorative_glyph("caret-down")
            %ul.options-menu.dropdown-content
              = active_course_link_to decorative_glyph(:check) + "Quick Grade", mass_edit_challenge_challenge_grades_path(challenge)
              = active_course_link_to decorative_glyph(:edit) + "Edit", edit_challenge_path(challenge)
              = active_course_link_to decorative_glyph(:trash) + "Delete", challenge,  :method => :delete, data: { confirm: "Are you sure you want to delete #{challenge.name}?" }
