%h2.subtitle= "#{term_for :challenges }"
%table.dynatable
  %thead
    %tr
      %th= term_for :challenge
      %th Points
      %th Due

  %tbody
    - current_course.challenges.chronological.alphabetical.includes(:challenge_files, :challenge_grades).each do |challenge|
      - if ChallengeProctor.new(challenge).viewable?(@team)
        %tr
          %td= link_to challenge.name, challenge
          %td
            - if @team.present? && (ChallengeGradeProctor.new(challenge.challenge_grade_for_team(@team)).viewable? user: current_student)
              = "#{ points challenge.challenge_grade_for_team(@team).try(:final_points) } / #{ points challenge.full_points }"
            - else
              %span.italic= " #{ points challenge.full_points } points possible"
          %td= l challenge.due_at.in_time_zone(current_user.time_zone) if challenge.due_at.present?
