= form_tag release_challenge_challenge_grades_path( @challenge), method: :put do
  %table.dynatable
    %thead
      %tr
        %th= current_course.team_term
        %th Score
        - if @challenge.has_levels?
          %th Level
        %th Student Visible
        %th
        %th.center.has_button{"data-dynatable-no-sort" => "true" }
          %button.button.select-all{role: "button", type: "button"}= "Check All"
          %button.button.select-none{role: "button", type: "button"}= "Uncheck"

    %h2 Description
    .challenge-description
      = raw @challenge.description

    %h2 Scores
    %tbody
      - @teams.alpha.each do |team|
        - challenge_grade = @challenge.challenge_grades.find_by team: team
        %tr
          %td= link_to team.name, team
          %td= points challenge_grade.final_points if challenge_grade
          - if @challenge.has_levels?
            %td= @challenge.challenge_grade_level(challenge_grade) if challenge_grade
          %td= decorative_glyph(:check) if challenge_grade && challenge_grade.student_visible?
          %td
            .table-menu
              %ul
                - if challenge_grade
                  = active_course_link_to decorative_glyph(:edit) + "Edit", edit_challenge_grade_path(challenge_grade.id), class: "button"
                  %li.dropdown
                    %button.button-edit.button-options{role: "button", type: "button", "aria-label": "Additional Options"}= decorative_glyph(:cog) + decorative_glyph("caret-down")
                    %ul.options-menu.dropdown-content
                      %li= link_to decorative_glyph(:eye) + "See Grade", challenge_grade_path(challenge_grade.id)
                      = active_course_link_to decorative_glyph(:trash) + "Delete Grade", challenge_grade_path(challenge_grade.id), data: { confirm: "Are you sure you want to delete #{team.name}'s grade for #{challenge_grade.name} ?", method: :delete }
                - else
                  = active_course_link_to decorative_glyph(:check) + "Grade", new_challenge_challenge_grade_path(challenge_id: @challenge, team_id: team.id), class: "button"
          %td
            - if challenge_grade && !challenge_grade.student_visible?
              .center= check_box_tag "challenge_grade_ids[]", challenge_grade.id
  %br
  .right
    - if @challenge.challenge_grades.present?
      = active_course_submit_tag "Release Selected Grades", class: "button", data: { confirm: "Release Selected Grades to Students?" }
