= form_tag edit_status_challenge_challenge_grades_path @challenge do
  %table.dynatable
    %thead
      %tr
        %th= current_course.team_term
        %th{ "data-dynatable-sorts" => "numericScore" } Score
        - if @challenge.has_levels?
          %th Level
        - if @challenge.release_necessary?
          %th Status
        %th
        - if @challenge.release_necessary?
          %th.center{"data-dynatable-no-sort" => "true" }
            %button.button.select-all= "Check All"
            %button.button.select-none= "Uncheck"
    %tbody
      - @teams.alpha.each do |team|
        - challenge_grade = @challenge.challenge_grades.find_by team: team
        %tr
          %td= link_to team.name, team
          %td= points challenge_grade.score if challenge_grade
          - if @challenge.has_levels?
            %td
              = @challenge.grade_level(grade) if challenge_grade
          - if @challenge.release_necessary?
            %td
              = challenge_grade.status if challenge_grade
          %td
            .right
              - if challenge_grade
                %ul.button-bar
                  %li= link_to glyph(:eye) + "See Grade", challenge_challenge_grade_path(@challenge.id, challenge_grade.id, team_id: team.id), class: 'button'
                  %li= link_to glyph(:edit) + "Edit Grade", edit_challenge_challenge_grade_path(@challenge.id, challenge_grade.id, team_id: team.id), class: 'button'
                  %li= link_to glyph(:trash) + "Delete Grade", challenge_challenge_grade_path(@challenge.id, challenge_grade.id, team_id: team.id), class: 'button', data: { confirm: 'Are you sure?', method: :delete }
              - else
                %ul.button-bar
                  %li= link_to glyph(:check) + "Grade", new_challenge_challenge_grade_path(challenge_id: @challenge.id, team_id: team.id), class: 'button'
          - if @challenge.release_necessary?
            %td
              - if challenge_grade && challenge_grade.is_graded?
                .center= check_box_tag "challenge_grade_ids[]", challenge_grade.id

  %br
  .right
    - if @challenge.release_necessary? && @challenge.challenge_grades.present?
      = submit_tag "Update Grade Statuses", class: "button"
