%h3.subtitle= "#{term_for :challenges }"
%table.dynatable
  %thead
    %tr
      %th= term_for :challenge
      %th Points
      %th Due

  %tbody
    - current_course.challenges.visible.chronological.alphabetical.includes(:challenge_files, :challenge_grades).each do |challenge|
      %tr
        %td= link_to challenge.name, challenge
        %td
          - if @team.present? && challenge.challenge_grade_for_team(@team).present?
            = "#{ points challenge.challenge_grade_for_team(@team).try(:score) } / #{ points challenge.full_points }"
          - else
            %span.italic= " #{ points challenge.full_points } points possible"
        %td= challenge.due_at
