= content_nav_for Challenge

%h2.pagetitle= @title

- if current_user_is_staff?
  .context_menu
    %ul
      %li
        %a{:href => new_challenge_path }
          = glyph(:plus)
          New #{(term_for :challenge).titleize}

.pageContent
  = render partial: "layouts/alerts"

  - if current_user_is_staff?
    = render partial: "challenges/staff_index"
  - else
    = render partial: "challenges/student_index"
