- if current_user_is_staff?
  - content_for :context_menu do
    .context_menu
      %ul
        %li= active_course_link_to decorative_glyph(:plus) + "New #{(term_for :challenge).titleize}", new_challenge_path, class: "button button-edit"

.pageContent
  = render partial: "layouts/alerts"

  - if current_user_is_staff?
    = render partial: "challenges/index_staff"
  - else
    = render partial: "challenges/index_student"
