- if current_user_is_staff?
  .context_menu
    %ul
      %li= link_to glyph(:plus) + "New #{(term_for :challenge).titleize}", new_challenge_path, class: "button button-edit"

.pageContent
  = render partial: "layouts/alerts"

  - if current_user_is_staff?
    = render partial: "challenges/staff_index"
  - else
    = render partial: "challenges/student_index"
