= content_nav_for Challenge

%h3.pagetitle= @title

- if current_user_is_staff?
  .context_menu
    %ul
      %li
        %a{:href => new_challenge_path }
          = glyph(:plus)
          New #{(term_for :challenge).titleize}

.pageContent
  = render "layouts/alerts"

  - if current_user_is_staff?
    = render "staff_index"
  - else
    = render "student_index"
