- if current_user_is_staff?
  - content_for :context_menu do
    .context_menu
      %ul
        = active_course_link_to :li, decorative_glyph(:plus) + "New #{(term_for :challenge).titleize}", new_challenge_path, class: "button button-edit"

        = active_course_link_to :li, decorative_glyph(:edit) + "Edit", edit_challenge_path(@challenge), class: "button button-edit"

        = active_course_link_to :li, decorative_glyph(:check) + "Quick Grade", mass_edit_challenge_challenge_grades_path(@challenge), class: "button button-edit"

.pageContent
  = render partial: "layouts/alerts"

  - if @challenge.challenge_files.present?
    %p
      %b Documents:
      %ul
      - @challenge.challenge_files.each do |cf|
        %li= link_to cf.filename, cf.url
        - if current_user_is_staff?
          = link_to "(Remove)", remove_uploads_path({ :model => "ChallengeFile", :upload_id => cf.id })

  - if current_user_is_staff?
    = render partial: "challenges/show_staff"
  - else
    = render partial: "challenges/show_student"
