= content_nav_for @challenge

%h3.pagetitle= @title

- if current_user_is_staff?
  .context_menu
    %ul
      %li
        %a{:href => new_challenge_path }
          = glyph(:plus)
          New #{(term_for :challenge).titleize}
      %li
        %a{:href => edit_challenge_path(@challenge) }
          = glyph(:edit)
          Edit
      %li
        %a{:href => mass_edit_challenge_challenge_grades_path(@challenge) }
          = glyph(:check)
          Quick Grade

.pageContent
  = render "layouts/alerts"

  - if @challenge.challenge_files.present?
    %p
      %b Documents:
      %ul
      - @challenge.challenge_files.each do |cf|
        %li= link_to cf.filename, cf.url
        - if current_user_is_staff?
          = link_to "(Remove)", remove_uploads_path({ :model => "ChallengeFile", :upload_id => cf.id })

  - if current_user_is_staff?
    = render "show_instructor"
  - else
    = render "show_student"
