= csrf_meta_tag

= content_nav_for @assignment, "Design Rubric"

%h3.pagetitle= @title

.pageContent
  = render "layouts/alerts"

  #rubric(ng-app="gradecraft" ng-controller="RubricCtrl" ng-init="init(#{@rubric[:id]}, #{@assignment.point_total})")

    #points-overview-floating(ng-cloak ng-hide="angular.element('#points-overview').isOnscreen()")
      %h4#points-legend
        %span.points-assigned(ng-class="{'points-missing': pointsMissing(), 'points-satisfied': pointsSatisfied(), 'points-overage': pointsOverage()}") {{pointsAssigned() | number:0}}
        \/#{number_with_delimiter(@assignment.point_total)} Points Allocated
      %h4.notice(ng-show="pointsMissing()") You have {{pointsRemaining()}} point{{pointsRemaining() > 1 ? "s" : ""}} left to assign
      %h4.notice(ng-show="pointsSatisfied()") You have allocated all possible points
      %h4.notice(ng-show="pointsOverage()") You have allocated more points than the assignment total

    .italic
      = link_to glyph("angle-double-left") + "Return to Assignment", assignment_path(@assignment), class: "return-link"
      –
      %span Rubric is saved automatically.

    .splash(ng-cloak) Loading rubric...

    #rubric-column-heading
      .criterion-heading
        %h4.italic.not_bold Criteria
      .level-heading
        %h4.italic.not_bold Score Levels

    #criterion-box(ng-cloak)

      .rubric-container.divider(ng-repeat="criterion in criteria")
        .order-label {{$index + 1}}
        .criterion(name="criterionForm" ng-form ng-submit="criterion.create()" ng-class="{saved: criterion.isSaved()}" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}")
          = render "rubrics/new_criterion"
        .level-container
          .level-wrapper
            .level(name="levelForm" ng-repeat="level in criterion.levels" ng-form ng-submit="level.create()" ng-class="{saved: level.isSaved(), nocredit: level.noCredit, 'level-meets-expectations': level.pointsMeetExpectations()}")
              = render "rubrics/new_level"
        %button.add-level(name="newLevel" ng-click="criterion.insertLevel()" ng-show="criterion.isSaved()")
          + Level

    %button#new-rubric-criterion(type="button" ng-click="newCriterion()" ng-hide) + Criterion
