.pageContent
  = render "layouts/alerts"

  .italic
    = link_to glyph("angle-double-left") + "Return to Assignment", assignment_path(@assignment), class: "return-link"
    –
    %span Rubric is saved automatically.

    .meets-expectations-hint
      %span What does "Set as 'meets expectations' mean?"
      = tooltip("mem-tip", "info-circle", placement: "right") do
        Adding this marker to a level sets a threshold so that all levels below it do not award any points

    - if ! @assignment.grade_with_rubric?
      .clear
      %a.button{href: index_for_copy_assignment_rubrics_path(@assignment) }
        = glyph(:sliders)
        = "Copy Rubric from Another #{ term_for :assignment }"

  %rubric-design(ng-app="gradecraft" rubric-id="#{@rubric.id}")
