= render "buttons"

.pageContent
  = render "layouts/alerts"

  %table.dynatable.no-table-header
    %caption.sr-only Class Observers
    %thead
      %tr
        %th First Name
        %th Last Name
        %th Avatar
        %th{:style => "min-width: 200px"}
          %span.sr-only Action Buttons
    %tbody
      - @observers.each do |user|
        %tr
          %td= user.first_name
          %td= user.last_name
          %td
            - if user.avatar_file_name.present?
              %img.img-rounded{:src => user.avatar_file_name, :width => 30}
          %td
            .right
              %ul.button-bar
                = active_course_link_to :li, decorative_glyph(:edit) + "Edit",  edit_user_path(user), { class: "button" }
                = active_course_link_to :li, decorative_glyph(:trash) + "Delete",  user, class: "button", data: { confirm: "Are you sure?" }, :method => :delete
