= render "buttons"

.pageContent
  = render "layouts/alerts"

  %table.dynatable.no-table-header
    %caption.sr-only Class Observers
    %thead
      %tr
        %th First Name
        %th Last Name
        %th Avatar
        %th Options
    %tbody
      - @observers.each do |user|
        %tr
          %td= user.first_name
          %td= user.last_name
          %td
            - if user.avatar_file_name.present?
              %img.img-rounded{:src => user.avatar_file_name, :width => 30}
          %td
            .button-container.dropdown
              %button.button-edit.button-options{role: "button", type: "button", "aria-label": "Additional Options"}= decorative_glyph(:cog) + decorative_glyph("caret-down")
              %ul.options-menu
                = active_course_link_to decorative_glyph(:edit) + "Edit",  edit_user_path(user)
                = active_course_link_to decorative_glyph(:trash) + "Delete", user, data: { confirm: "Are you sure?" }, :method => :delete
