= team_filter(presenter.teams) if presenter.has_teams? && presenter.individual_assignment?

- if presenter.assignment.grades.any?
  .clear.right
    = simple_form_for presenter.assignment, :url => delete_all_assignment_grades_path(assignment_id: presenter.assignment.id), method: :delete do |f|
      = hidden_field_tag :team_id, presenter.team.id unless presenter.team.nil?
      .submit-buttons
        %button{ :type => "submit", class: "button button-slim", data: { confirm: "Are you sure you want to delete all grades for this assignment?" } }
          %i.fa.fa-trash
          Delete All Grades

.progress
= form_tag edit_status_assignment_grades_path(presenter.assignment), method: :get do
  %table.dynatable.no-table-header
    %thead= render partial: "assignments/individual/table_head", locals: { presenter: presenter }
    %tbody= render partial: "assignments/individual/table_body", locals: { presenter: presenter }

  - if presenter.assignment.release_necessary? && presenter.has_grades?
    .right
      %br
      = submit_tag "Update Selected Grade Statuses", class: "button disabled", disabled: true, data: { behavior: "selected-individual-grades-command" }

  .clear
