- if presenter.has_teams? && presenter.individual_assignment?
  .team-filter
    = form_tag assignment_path(presenter.assignment), name: "see_team", onchange: ("javascript: document.see_team.submit();"), method: :get do
      %label.sr-only{:for => "team_id"}
        Select #{term_for :team} –
      = select_tag :team_id, options_for_select(presenter.teams.map { |t| [t.name, t.id] }, presenter.team.try(:id)), prompt: "– Select #{(term_for :team).titleize} –"

= form_tag edit_status_assignment_grades_path(presenter.assignment), method: :get do
  %table.dynatable
    %thead= render partial: "assignments/individual/table_head", locals: { presenter: presenter }
    %tbody= render partial: "assignments/individual/table_body", locals: { presenter: presenter }

  - if presenter.assignment.release_necessary? && presenter.has_grades?
    .right
      %br
      = submit_tag "Update Selected Grade Statuses", class: "button disabled", disabled: true, data: { behavior: "selected-individual-grades-command" }

  .clear
