- presenter.students.each do |student|
  - student_submission = Submission.for(presenter.assignment.id, student.id).first
  - grade = presenter.grade_for(student)
  %tr
    - if presenter.assignment.is_unlockable?
      %td
        - if presenter.assignment.is_unlocked_for_student?(student)
          %i.fa.fa-unlock-alt
        - else
          %i.fa.fa-lock
    %td= link_to student.first_name, student_path(student)
    %td= link_to student.last_name, student_path(student)
    - if presenter.assignment.threshold_points?
      %td.raw-score
        = points grade.raw_points if grade.instructor_modified?
    %td.status-or-score
      - if presenter.assignment.pass_fail?
        = grade.try(:pass_fail_status) if grade.instructor_modified?
      - else
        = points grade.final_points if grade.instructor_modified?

    // If the student can weight the assignment type
    - if presenter.assignment_type.student_weightable?
      %td
        - if student.weighted_assignments?(current_course)
          = points grade.score if grade.instructor_modified?
        - else
          = "(not yet assigned)"

    - if presenter.assignment.has_levels?
      %td= presenter.assignment.grade_level(grade) if grade
    %td
      %span
      - if grade.feedback_read?
        %a
          %i.fa.fa-check
        .display-on-hover.hover-style
          This feedback has been <strong>marked as read</strong> by the #{term_for :student}.
      - elsif grade.feedback_reviewed?
        %a
          %i.fa.fa-eye
        .display-on-hover.hover-style
          This feedback has been <strong>viewed</strong> by the #{term_for :student}.

    %td= grade.status

    - if presenter.assignment.accepts_submissions?
      %td
        - unless student_submission.nil?
          = presenter.submission_submitted_date_for(student_submission)
      %td{:style => "display: none"}
        = presenter.submission_submitted_date_for(student_submission).to_formatted_s(:db) if presenter.submission_submitted_date_for(student_submission).present?

    %td
      .right
        %ul.button-bar
          - if presenter.assignment.accepts_submissions?
            - if presenter.has_viewable_submission(student_submission)
              /* Submission present - allow instructor to see it, and identify if it's a new submission or a resubmission. Icon represents if there are files attached. */
              %li= link_to glyph(:paperclip) + "See Submission", assignment_submission_path(presenter.assignment, student_submission.id), class: "button"

          - if grade.instructor_modified?
            %li= link_to glyph(:eye) + "See Grade", grade_path(grade), class: "button"
            - if presenter.assignment.accepts_submissions? && presenter.submission_resubmitted?(student_submission)
              %li= link_to glyph(:edit) + "Re-grade", edit_grade_path(grade), class: "button danger"
            - else
              %li= link_to glyph(:edit) + "Edit Grade", edit_grade_path(grade), class: "button"
            %li= link_to glyph(:trash) + "Delete Grade", grade_path(grade), class: "button", data: { confirm: "Are you sure?", method: :delete }
          - else
            - if presenter.assignment.is_unlockable? && !presenter.assignment.is_unlocked_for_student?(student)
              %li= link_to glyph("unlock-alt") + "Unlock", manually_unlock_unlock_state_path(student_id: student.id, assignment_id: presenter.assignment.id), :method => :post, class: "button"
            - team_param = presenter.for_team? ? {team_id: presenter.team.id} : nil
            %li= link_to glyph(:check) + "Grade", assignment_student_grade_path(presenter.assignment, student, team_param), method: :post, class: "button #{presenter.has_viewable_submission(student_submission) ? "danger" : ""}"

    - if presenter.assignment.release_necessary?
      %td
        .center
          - if grade.is_graded?
            = check_box_tag "grade_ids[]", grade.id, false, data: { behavior: "toggle-disable-list-command", commands: "[data-behavior='selected-individual-grades-command']" }
