- presenter.students.each do |student|
  - grade = presenter.grade_for(student)
  %tr
    - if presenter.assignment.is_unlockable?
      %td
        - if presenter.assignment.is_unlocked_for_student?(student)
          %i.fa.fa-unlock-alt
        - else
          %i.fa.fa-lock
    %td= link_to student.first_name, student_path(student)
    %td= link_to student.last_name, student_path(student)
    - if presenter.assignment.threshold_points?
      %td.raw-score
        = points grade.raw_score if grade.instructor_modified?
    %td.status-or-score
      - if presenter.assignment.pass_fail?
        - if grade.pass_fail_status
          = term_for(grade.pass_fail_status) if grade.instructor_modified?
        - else
          No Grade
      - else
        = points grade.final_points if grade.instructor_modified?

    // If the student can weight the assignment type
    - if presenter.assignment_type.student_weightable?
      %td
        - if student.weighted_assignments?(current_course)
          = points grade.score if grade.instructor_modified?
        - else
          = "(not yet assigned)"

    - if presenter.assignment.has_levels?
      %td= presenter.assignment.grade_level(grade) if grade
    %td
      %span
      - if grade.feedback_read?
        %a
          %i.fa.fa-check
        .display_on_hover.hover-style
          This feedback has been <strong>viewed</strong> by the #{term_for :student}.
      - elsif grade.feedback_reviewed?
        %a
          %i.fa.fa-eye
        .display_on_hover.hover-style
          This feedback has been <strong>marked as read</strong> by the #{term_for :student}.

    %td= grade.status

    - if presenter.assignment.accepts_submissions?
      - submissions_for_assignment = presenter.submissions_for(student)
      %td
        - unless submissions_for_assignment.empty?
          = presenter.submission_submitted_date_for(submissions_for_assignment)
      %td{:style => "display: none"}
        = presenter.submission_submitted_date_for(submissions_for_assignment).to_formatted_s(:db) if presenter.submission_submitted_date_for(submissions_for_assignment).present?

    %td
      .right
        %ul.button-bar
          - if presenter.assignment.accepts_submissions?
            - submissions_for_assignment.each do |submission|

              /* Submission present - allow instructor to see it, and identify if it's a new submission or a resubmission. Icon represents if there are files attached. */
              %li= link_to glyph(:paperclip) + "See Submission", assignment_submission_path(presenter.assignment, submission.id), class: "button"

          - if grade.instructor_modified?
            %li= link_to glyph(:eye) + "See Grade", grade_path(grade), class: "button"
            - if presenter.assignment.accepts_submissions? && presenter.submission_resubmitted?(submissions_for_assignment)
              %li= link_to glyph(:edit) + "Re-grade", edit_assignment_grade_path(presenter.assignment, student_id: student.id), class: "button danger"
            - else
              %li= link_to glyph(:edit) + "Edit Grade", edit_assignment_grade_path(presenter.assignment, student_id: student.id), class: "button"
            %li= link_to glyph(:trash) + "Delete Grade", remove_grade_path(grade), class: "button", data: { confirm: "Are you sure?" }, :method => :post
          - else
            - if presenter.assignment.is_unlockable? && !presenter.assignment.is_unlocked_for_student?(student)
              %li= link_to glyph("unlock-alt") + "Unlock", manually_unlock_unlock_state_path(student_id: student.id, assignment_id: presenter.assignment.id), :method => :post, class: "button"
            - has_submission = presenter.assignment.accepts_submissions? && !submissions_for_assignment.empty?
            %li= link_to glyph(:check) + "Grade", edit_assignment_grade_path(presenter.assignment, student_id: student.id), class: "button #{has_submission ? "danger" : ""}"

    - if presenter.assignment.release_necessary?
      %td
        .center
          - if grade.is_graded?
            = check_box_tag "grade_ids[]", grade.id, false, data: { behavior: "toggle-disable-list-command", commands: "[data-behavior='selected-individual-grades-command']" }
