- if badge.is_unlockable?
  %span.has-tooltip{tabindex: "0", "aria-describedby" => "unlock-req-tip_#{badge.id}"}
    = glyph(:lock)
    .display-on-hover.hover-style{role: "tooltip", :id => "unlock-req-tip_#{badge.id}"}
      %p Unlock Requirements
      %ul
        - badge.unlock_conditions.each do |condition|
          %li= "#{condition.name} must be #{condition.condition_state}"
- if badge.is_a_condition?
  %span.has-tooltip{tabindex: "0", "aria-describedby" => "unlock-key-tip_#{badge.id}"}
    = glyph(:key)
    .display-on-hover.hover-style{role: "tooltip", :id => "unlock-key-tip_#{badge.id}"}
      %p Unlock Key
      %ul
        - badge.unlock_keys.each do |key|
          %li= "#{key.unlockable.name} is unlocked by #{key.condition_state} #{key.condition.name}"
