.pageContent
  = render "layouts/alerts"

  = simple_form_for @course_memberships, method: :delete, url: delete_many_course_memberships_path do |f|
    %table.dynatable
      %thead
        %tr
          %th First Name
          %th Last Name
          %th Role
          %th Delete?
      %tbody
        - current_course.users.includes(:course_memberships).where.not(course_memberships: { role: "admin" }).each do |user|
          %tr
            %td= user.first_name
            %td= user.last_name
            %td= user.role(current_course)
            %td= check_box_tag "course_membership_ids[]", user.course_memberships.where(course_id: current_course.id).first.id

    .submit-buttons
      %ul
        %li= submit_tag "Delete users", class: "button", data: { confirm: "Are you sure you want to delete these users from #{current_course.name}?" }
