= form_tag edit_status_assignment_grades_path(presenter.assignment), method: :get do
  - if ! presenter.groups.present?
    No #{term_for :groups} have been created! You can either have #{term_for :students} self-create their #{term_for :groups}, or you can create them manually #{link_to "here", new_group_path}.
  - else
    %table.dynatable
      %thead= render partial: "assignments/group/table_head", locals: { presenter: presenter }
      %tbody= render partial: "assignments/group/table_body", locals: { presenter: presenter }
      .right
        - if presenter.assignment.release_necessary? && presenter.has_grades?
          = submit_tag "Update Grade Statuses", class: "button"
