- presenter.groups.each do |group_presenter|
  %tr
    %td= link_to group_presenter.group.name, group_presenter.group
    %td= group_presenter.group.approved
    %td
      .right
        %ul.button-bar
          %li= link_to "Review #{term_for :group}", edit_group_path(id: group_presenter.group), class: "button"
          - if group_presenter.submission
            %li= link_to "See Submission", assignment_submission_path(group_presenter.assignment, id: group_presenter.submission.id, group_id: group_presenter.group.id), class: "button"
          - elsif presenter.assignment.accepts_submissions?
            %li= link_to "Submit", new_assignment_submission_path(group_presenter.assignment, group_presenter.submission, group_id: group_presenter.group.id), class: "button"
          - if group_presenter.assignment_graded?
            %li= link_to glyph(:eye) + "See Grade", grade_path(presenter.grade_for(group_presenter.group.students.first)), class: "button"
            %li= link_to glyph(:edit) + "Edit Grade", grade_assignment_group_path(group_presenter.assignment, group_presenter.group), class: "button"
          - else
            %li= link_to glyph(:edit) + "Grade", grade_assignment_group_path(group_presenter.assignment, group_presenter.group), class: "button"
    %td
      %table
        %thead{:style => "background: none !important; color: #000000; margin: 0; padding: 0;"}
          %tr
            %th= "#{current_course.user_term}s"
            %th Score
            - if group_presenter.assignment.assignment_type.student_weightable?
              %th Multiplied Scores
            - if group_presenter.assignment.has_levels?
              %th Level

            %th
            - if group_presenter.assignment.release_necessary?
              %th Status
              %th{"data-dynatable-no-sort" => "true", :width => "120px" }
                %button.button.select-all= "Check"
                %button.button.select-none= "Uncheck"
        %tbody
          - group_presenter.students.each do |student|
            %tr
              %td= link_to student.name, student_path(student)
              - grade = group_presenter.grade_for(student)
              %td
                - if grade.present? && grade.instructor_modified?
                  = points grade.final_points
              - if group_presenter.assignment.assignment_type.student_weightable?
                %td
                  - if grade.present?
                    = points grade.score
              - if group_presenter.assignment.has_levels?
                %td= group_presenter.assignment.grade_level(grade)

              - if group_presenter.assignment.release_necessary?
                %td= grade.try(:status)
                %td.right
                  - if grade && grade.is_graded?
                    = check_box_tag "grade_ids[]", grade.id
              %td
                .right
                  %ul.button-bar
                    - if group_presenter.assignment_graded?
                      %li= link_to glyph(:edit) + "Override Grade", edit_assignment_grade_path(presenter.assignment, student_id: student.id), class: "button"
