.modal-slide
  .modal-slide-top#course-specific
    .course-specific-features.centered
      .course-feature-row
        - if current_course.has_badges?
          .course-feature-block
            .course-feature-image-wrapper
              = image_tag "onboarding-slide-6-badges.png", alt: "Badge icons", class: "course-feature-image"
            %h3 Badges
        - if current_course.teams_visible?
          .course-feature-block
            .course-feature-image-wrapper
              = image_tag "onboarding-slide-6-leaderboard.png", alt: "Leaderboard graphic", class: "course-feature-image"
            %h3 Leaderboards
      .course-feature-row
        - if presenter.has_course_terminology?
          .course-feature-block
            .course-feature-image-wrapper
              = image_tag "onboarding-slide-6-custom-terms.png", alt: "Custom term graphic", class: "course-feature-image"
            %h3 Custom Terms
        - if current_course.has_multipliers?
          .course-feature-block
            .course-feature-image-wrapper
              = image_tag "onboarding-slide-6-multipliers.png", alt: "Multiplier assignment weights", class: "course-feature-image"
            %h3 Multipliers
  .modal-slide-bottom
    .modal-slide-text
      %h2= "#{current_course.course_number} Features"
      - if current_course.has_badges?
        %p.custom-feature-text
          %span Badges:
          to acknowledge core skills and distinguished performances
      - if current_course.teams_visible?
        %p.custom-feature-text
          %span Leaderboards:
          sections are ranked by points to motivate collective progress
      - if current_course.has_multipliers?
        %p.custom-feature-text
          %span Multipliers:
          students are able to choose weights to boost specific assignment types
      - if presenter.has_course_terminology?
        %p.custom-feature-text
          %span Custom terms:
          this class uses different terminology to describe things
        %ul.course-terminology
          - if presenter.term_for_assignments?
            %li= "Assignments: #{term_for :assignments}"

          - if presenter.term_for_weights?
            %li= "Assignment Weights: #{term_for :weights}"

          - if presenter.term_for_badges?
            %li= "Badges: #{term_for :badges}"

          - if presenter.term_for_challenges?
            %li= "Section Challenges: #{term_for :challenges}"

          - if presenter.term_for_teams?
            %li= "Teams: #{term_for :teams}"

          - if presenter.term_for_team_leaders?
            %li= "Team Leaders: #{term_for :team_leaders}"

          - if presenter.term_for_groups?
            %li= "Groups: #{term_for :groups}"
      .modal-action-wrapper
        %button#modal-action{type: 'submit', 'aria-label': 'close'} Let's Go!
