.login
  .alert-bkg= render "layouts/alerts"
  .login-form-container
    .login-form
      .login-block
        - if Rails.env.production?
          = render partial: "user_sessions/umich"
          %button.button-link.small#show-gradecraft-login.left.uppercase Admin
        - else
          = render partial: "user_sessions/gradecraft"

    - if !Rails.env.production?
      = render partial: "passwords/reset_form"

    .gradecraft-login{"aria-hidden": "true"}
      = render partial: "user_sessions/gradecraft"
      %button.button-link.small#show-umich-login Back to UM login
