.login
  %h1 Welcome to GradeCraft
  %p It looks like you are trying to authenticate with Google, but you do not have an account. Are you trying to login as a Student or an Instructor?
  = simple_form_for @user, :url => create_via_google_users_path, :method => :post do |f|
    = hidden_field_tag :email, params[:email]
    = hidden_field_tag :username, params[:username]
    = hidden_field_tag :first_name, params[:first_name]
    = hidden_field_tag :last_name, params[:last_name]
    = f.submit "Instructor", class: "login-button button"
  =link_to decorative_glyph(:list) + "Student", student_confirmation_user_sessions_path, class: "button button-edit"
