= image_tag "GC.png", width: "30", class: "login-logo", alt: "GradeCraft logo mark"
%h1 Log in

.google-login
  = link_to "Sign in with Google", "/auth/google_oauth2/", :tabindex=>"0", :method => :post

%p.divider
  %span Or

#gradecraft-auth
  = form_for User.new, :url => user_sessions_path do |f|
    .form_elem
      = f.text_field :email, placeholder: "Your email", :autocorrect => "off", :autocapitalize => "off", :required=>"true"
      = label_tag :user_email, "Email address"
    .form_elem
      = f.password_field :password, placeholder: "Your password", :required=>"true"
      = label_tag :user_password, "Password"
    = f.button "Log in", type: "submit", class: "action", alt: "Log in", style: "margin-right: 0"
.clear
%p
  %a(tabindex=0) Forgot your password?
