= image_tag "GC.png", width: "30", class: "login-logo", alt: "GradeCraft logo mark"
%h1 Log in

#gradecraft-auth
  = form_for User.new, :url => user_sessions_path do |f|
    .form_elem
      = f.text_field :email, placeholder: "Your email, please", :autocorrect => "off", :autocapitalize => "off", :required=>"true"
      = label_tag :user_email, "Email address"
    .form_elem
      = f.password_field :password, placeholder: "Your password, please", :required=>"true"
      = label_tag :user_password, "Password"
    = f.button "Log in", type: "submit", class: "action", alt: "Log in", style: "margin-right: 0"
.clear
%p
  %a Forgot your password?
%hr
.google-login
  = link_to image_tag("Google.svg", alt: "Sign in with Google", class: "google-img") + "Sign in with Google", "/auth/google_oauth2/", :method => :post
