= image_tag "GC.png", width: "30", class: "login-logo", alt: "GradeCraft logo mark"
%h1 Log in

#gradecraft-auth
  = form_for User.new, :url => user_sessions_path do |f|
    = label_tag :user_email, "Email", class:"sr-only"
    = f.text_field :email, placeholder: "Email", :autocorrect => "off", :autocapitalize => "off"
    = label_tag :user_password, "Password", class:"sr-only"
    = f.password_field :password, placeholder: "Password"
    = f.submit "Log in", class: "button login-button", alt: "Log in"
.clear

.google-login
  = link_to image_tag("Google.png", width: "200px", alt: "Sign in with Google"), "/auth/google_oauth2/", :method => :post

%button.button-link.small#forgot-password Forgot your password?
