-# Requires: grade, assignment, assignment_type
- if GradeProctor.new(grade).viewable? && grade.final_points || current_user_is_staff?
  - if assignment_type.student_weightable?
    %p.bold= "#{points grade.final_points} / #{ points assignment.full_points } points (Raw)"
    %p.bold= "#{ points grade.score } / #{points grade.full_points} points (#{term_for :weight}-weighted)"
  - else
    %p.bold= "#{points grade.final_points} / #{points grade.full_points} points earned"
- else
  %p.italic= "#{points assignment.full_points} points possible"
