-# Requires: grade, assignment, assignment_type
- if GradeProctor.new(grade).viewable? && grade.final_points
  - if assignment_type.student_weightable?
    -# Checking to see if this student has weighted this assignment anything other than 1
    - grade.student.weight_for_assignment_type(assignment_type) > 1
      = "#{points grade.final_points} / #{ points assignment.full_points } points (Raw)"
      .bold= "#{ points grade.score } / #{points grade.full_points} points (Multiplied)"
    - else
      .bold= "#{points grade.final_points} / #{ points grade.full_points } points"
  - else
    .bold
      = "#{points grade.final_points} / #{points grade.full_points} points earned"
- else
  .italic= "#{points assignment.full_points} points possible"


