.pageContent
  = render partial: "layouts/alerts"

  %section
    - if current_user_is_admin? || accessible_to_app_env?
      .card{style: "height: 400px;"}
        .card-cap
          = image_tag "csv-logo.png", height: "46px"
        .card-block
          %h4.card-title CSV
          .card-text
          %p.card-text
            Upload a .csv file with user information to import users.

          = link_to "Import Users from CSV", import_users_path, class: "card-link button"

    - if current_course.allows_canvas?
      .card{style: "height: 400px;"}
        .card-cap
          = image_tag "canvas-logo.png"
        .card-block
          %h4.card-title Canvas LMS
          .card-text
          %p.card-text
            An open-source LMS from Instructure. Import users for the courses you are enrolled in as a teacher.

          = link_to "Import Canvas Users", users_importer_users_path(:canvas), class: "card-link button"
