= content_nav_for User

%h3.pagetitle= @title

= render "buttons"

.pageContent
  = render 'layouts/alerts'

  - if current_course.has_teams?
    .team-filter
      = form_tag assignment_exports_path, :method => :post do
        %label
          .sr-only Select #{term_for :team}
        = select_tag :team_id, options_for_select(@teams.map { |t| [t.name, t.id] }, @team.try(:id)), :prompt => "– Select #{(term_for :team).titleize} –"
        = button_tag "Generate New Assignment Export"

  %h3 Assignment Exports
  %table.nofeatures_default_last_name_dynatable
    %thead
      %tr
        %th Assignment
        %th Course
        %th #{term_for :team}
        %th Total Students
        %th Filename
    %tbody
      - @assignment_exports.each do |export|
        %tr
          %td
            = link_to export.assignment.name, assignment_path(export.assignment)
          %td
            = link_to export.course.name, course_path(export.course)
          %td
            = link_to export.team.name, team_path(export.team)
          %td
            = export.student_ids.count
          %td
            = link_to export.filename, team_path(export.team)
          %td
            .right
              %ul.button-bar
                %li= link_to raw("<i class='fa fa-edit fa-fw'> </i> Edit"), rebuild_assignment_export_path(export), :class => 'button'
                %li= link_to raw("<i class='fa fa-trash fa-fw'> </i> Delete"), export, :class => 'button', :data => { confirm: 'This will delete the student from your course - Are you sure?' }, :method => :delete
