= content_nav_for SubmissionsExport

%h3.pagetitle= @title

.pageContent
  = render partial: "layouts/alerts"

  -# table for submissions exports
  = render partial: "exports/submissions_exports",
    locals: { presenter: presenter }

  -# table for course analytics exports
  = render partial: "exports/course_analytics_exports",
    locals: { presenter: presenter }
