= content_nav_for SubmissionsExport

%h3.pagetitle= @title

.pageContent
  = render partial: "layouts/alerts"

  .export_type#submissions_exports
    = render partial: "exports/submissions_exports",
      locals: { presenter: presenter }

  .export_type#course_analytics_exports
    = render partial: "exports/course_analytics_exports",
      locals: { presenter: presenter }
