%h4.subtitle{ id: "#{grade_type}TableCaption" }
  = subtitle
  %span.label.alert= count

- grades_by_assignment.each do |assignment, grades|
  %div{ class: "assignment-#{grade_type}"}
    %h4.assignment_name
      = link_to assignment.name, assignment
      - if assignment.is_individual?
        = link_to glyph(:check) + "Quick Grade", mass_edit_assignment_grades_path(assignment), class: "button"
      - else
        = link_to glyph(:check) + "Grade", assignment, class: "button"

    = form_tag edit_status_assignment_grades_path(assignment), method: :get do

      %table.dynatable
        %thead
          %tr
            - if assignment.is_individual?
              %th{scope: "col", :width => "8%"} First Name
              %th{scope: "col", :width => "8%"} Last Name
              - if course.has_teams?
                %th{scope: "col", :width => "15%"}= "#{term_for :team}"
            - elsif assignment.has_groups?
              %th{scope: "col"} Group
            %th{scope: "col", :width => "8%"} Score
            %th{scope: "col"} Feedback
            %th{scope: "col", "data-dynatable-no-sort" => "true", :width => "20%" }
              %span.sr-only Actions
            %th{"data-dynatable-no-sort" => "true", :width => "120px" }
              %button.button.select-all= "Check"
              %button.button.select-none= "Uncheck"
          %tbody
            - grades.each do |grade|
              - student = grade.student
              - team = student.team_for_course(course) if student
              - group = grade.group
              %tr
                - if assignment.is_individual?
                  %td= link_to student.first_name, student_path(student)
                  %td= link_to student.last_name, student_path(student)
                  %td
                    - if course.has_teams? && student.present? && team.present?
                      = link_to team.name, team
                - elsif assignment.has_groups?
                  %td= link_to group.try(:name), group_path(group)
                %td= points grade.score
                %td= raw grade.feedback
                %td
                  .right
                    %ul.button-bar
                      %li= link_to glyph(:eye) + "See Grade", grade_path(grade), class: "button"
                      - if assignment.is_individual?
                        %li= link_to glyph(:edit) + "Edit Grade", edit_assignment_grade_path(assignment_id: assignment.id, student_id: student.id), class: "button"
                      - elsif assignment.has_groups?
                        %li= link_to glyph(:check) + "Edit Grade", grade_assignment_group_path(assignment, group), class: "button"
                %td.center= check_box_tag "grade_ids[]", grade.id, false, data: { behavior: "toggle-disable-list-command", commands: "[data-behavior='selected-#{grade_type}-grades-command']" }

      .submit-buttons
        .right
          = submit_tag "Update Selected Grade Statuses", class: "button disabled", disabled: true, data: { behavior: "selected-unreleased-grades-command" }

  %hr.dotted
