= form_tag release_grades_path, method: :put do
  %table.dynatable.no-table-header
    %thead
      %tr
        %th= "#{ term_for :assignment }"
        %th{scope: "col", :width => "8%"} Name
        - if course.has_teams?
          %th{scope: "col", :width => "15%"}= "#{term_for :team}"
        %th{scope: "col", :width => "8%"} Score
        %th{scope: "col"} Feedback
        %th{scope: "col", "data-dynatable-no-sort" => "true", :width => "20%" }
          %span.sr-only Actions
        - if current_course.active?
          %th{"data-dynatable-no-sort" => "true", :width => "120px" }
            %button.button.table-select-all{role: "button", type: "button"}= "Check"
            %button.button.table-select-none{role: "button", type: "button"}= "Uncheck"
    %tbody
      - grades_by_assignment.each do |grade|
        - assignment = grade.assignment
        - student = grade.student
        - team = student.team_for_course(course) if student
        - group = grade.group
        %tr
          %td= link_to assignment.name, assignment
          %td
            = link_to student.name, student_path(student)
            = link_to "(#{group.try(:name)})", group_path(group) if assignment.has_groups?
          - if course.has_teams?
            %td
              - if student.present? && team.present?
                = link_to team.name, team
          %td= points grade.score
          %td= raw grade.feedback
          %td
            .right
              %ul.button-bar
                %li= link_to decorative_glyph(:eye) + "See Grade", grade_path(grade), class: "button" if group.nil?
                %li
                  - if grade.group_id.present?
                    = edit_group_grade_link_to assignment, grade.group, class: "button"
                  - else
                    = edit_grade_link_to grade, class: "button"
          - if current_course.active?
            %td
              .center
                %label
                  %span.sr-only Select grade to update status
                  = check_box_tag "grade_ids[]", grade.id, false, data: { behavior: "toggle-disable-list-command", commands: "[data-behavior='selected-individual-grades-command']" }, id: "grade_id_#{grade.id}"

  .submit-buttons
    .right
      = active_course_submit_tag "Release Selected Grades", class: "button disabled", disabled: true,
        data: { behavior: "selected-individual-grades-command", confirm: "Release Selected Grades to Students?" }
