%h4.subtitle#inProgressTableCaption
  = "In Limbo Grades"
  %span.label.alert= no_status_grades_count_for(course)

- @no_status_grades_by_assignment.each do |assignment, grades|
  .assignment-in-progress
    %h4.assignment_name
      = link_to assignment.name, assignment
      = link_to 'Quick Grade', mass_grade_assignment_path(assignment), :class => "button"

    = form_tag edit_status_grades_assignment_path(assignment), method: :get do
      = render "grades_management_table", { assignment: assignment, grades: grades, course: course }
      .submit-buttons
        .right
          = submit_tag "Update Selected Grade Statuses", :class => "button disabled", disabled: true, data: { behavior: "selected-in-progress-grades-command" }

  %hr.dotted