.modal-overlay#modal-window{'aria-hidden': 'true', role: 'dialog', 'aria-labelledby': 'Student Onboarding' }
  .modal-wrapper.modal-content#modal-holder{role: "document"}
    .modal-slider.student-onboarding-slides
      = render partial: "info/student_onboarding/student_onboarding_slide1"
      = render partial: "info/student_onboarding/student_onboarding_slide2"
      = render partial: "info/student_onboarding/student_onboarding_slide3"
      = render partial: "info/student_onboarding/student_onboarding_slide4"
      = render partial: "info/student_onboarding/student_onboarding_slide5", locals: {presenter: presenter}

      - if presenter.has_course_specific_features?
        = render partial: "info/student_onboarding/student_onboarding_slide6", locals: {presenter: presenter}

    = form_tag confirm_onboarding_course_membership_path(id: current_student.course_memberships.where(course_id: current_course.id).first.id), method: :post do
      %button.btn-close#modal-close{type: 'submit', 'aria-label': 'close'}= glyph(:times)
