%table.dynatable.no-table-header
  %thead
    %tr
      %th{scope: "col"} #{ term_for :assignment }
      %th{scope: "col", :width => "7%"} Name
      - if course.has_teams?
        %th{scope: "col", :width => "15%"}= "#{term_for :team}"
      %th{scope: "col", :"data-dynatable-sorts" => "calendarDate"} Date Submitted
      %th.hidden Calendar Date
      %th{scope: "col", :style => "min-width: 200px"}
        %span.sr-only Actions
  %tbody
    - submissions_by_assignment.each do |submission|
      - assignment = submission.assignment
      - student = submission.student
      - team = student.team_for_course(course) if student
      - group = submission.group
      %tr
        %td= link_to assignment.name, assignment
        - if assignment.is_individual?
          %td= link_to student.name, student_path(student)
          - if course.has_teams?
            %td
              = link_to team.name, team if student.present? && team.present?
        - elsif assignment.has_groups?
          %td= link_to group.try(:name), group_path(group)
          - if course.has_teams?
            %td
        %td= l submission.submitted_at.in_time_zone(current_user.time_zone)
        %td.hidden= l submission.submitted_at, format: :sortable
        %td
          .right
            %ul.button-bar
              %li= link_to decorative_glyph(:eye) + "See Submission", assignment_submission_path(assignment, submission, group_id: group.try(:id)), class: "button"
              - if assignment.is_individual?
                - grade = assignment.grade_for_student student
                - if grade.present?
                  %li= link_to decorative_glyph(:eye) + "See Grade", grade_path(grade), class: "button"
                  = edit_grade_link_to grade, class: "button"
                - else
                  = active_course_link_to decorative_glyph(:check) + "Grade", assignment_student_grade_path(assignment, student), method: :post, class: "button"
              - elsif assignment.has_groups?
                = active_course_link_to decorative_glyph(:check) + "Grade", grade_assignment_group_path(assignment, group), class: "button"
