%table.dynatable
  %thead
    %tr
      %th= course.team_term
      - if current_course.challenges.present?
        %th #{ term_for :challenge } Score
      %th Average Grade
      - if current_course.has_badges?
        %th Badges
      %th= course.team_leader_term
  %tbody
    - teams.order_by_rank.each do |team|
      %tr
        %td= link_to team.name, team_path(team)
        - if current_course.challenges.present?
          %td= points team.try(:challenge_grade_score)

        %td= points team.try(:average_score)
        - if current_course.has_badges?
          %td= team.badge_count
        %td
          - if team.leaders.present?
            - team.leaders.each do |team_leader|
              = link_to team_leader.try(:name), team_leader
