%h4.subtitle#ungradedTableCaption
  = "Ungraded #{term_for :assignment} Submissions"
  %span.label.alert= ungraded_submissions_count_for(course)

- @ungraded_submissions_by_assignment.each do |assignment, submissions|
  %h4.assignment_name
    = link_to assignment.name, assignment
    = link_to raw("<i class='fa fa-check fa-fw'></i> Quick Grade"), mass_grade_assignment_path(assignment), :class => "button"
  %table.nofeatures_default_last_name_dynatable{"aria-describedby" => "ungradedTableCaption"}
    %thead
      %tr
        - if assignment.is_individual?
          %th{:scope => "col", :width => "7%"} First Name
          %th{:scope => "col", :width => "7%"} Last Name
          %th Date Submitted
          - if course.has_teams?
            %th{:scope => "col", :width => "15%"}= "#{term_for :team}"
        - elsif assignment.has_groups?
          %th{:scope => "col"} Group
        %th{:scope => "col", :style => "min-width: 200px"}
          %span.sr-only Actions
    %tbody
      - submissions.each do |ug|
        - if ug.ungraded?
          - student = ug.student
          - ug_assignment = ug.assignment
          - ug_group = ug.group
          %tr
            - if ug_assignment.is_individual?
              - team = student.team_for_course(course)
              %td= link_to student.try(:first_name), student_path(student)
              %td= link_to student.try(:last_name), student_path(student)
              %td= ug.updated_at
              %td
                - if course.has_teams? && student.present? && team.present?
                  = link_to team.try(:name), team
              %td
                .right
                  %ul.button-bar
                    %li= link_to raw("<i class='fa fa-eye fa-fw'></i> See Submission"), assignment_submission_path(ug_assignment, :id => ug.id), :class => "button"
                    %li= link_to raw("<i class='fa fa-check fa-fw'></i> Grade"), edit_assignment_grade_path(:assignment_id => assignment.id, :student_id => student.try(:id)), :class => "button"
            - elsif ug_assignment.has_groups?
              %td= link_to ug_group.try(:name), group_path(ug_group)
              %td= ug.updated_at
              %td
                .right
                  %ul.button-bar
                    %li= link_to raw("<i class='fa fa-eye fa-fw'></i> See Submission"),assignment_submission_path(ug_assignment.id, :id => ug.id), :class => 'button'
                    %li= link_to raw("<i class='fa fa-check fa-fw'></i> Grade"), group_grade_assignment_path(ug_assignment, :group_id => ug_group), :class => "button"
  %hr.dotted
