%h4.subtitle#unreleasedTableCaption
  = "Unreleased Grades"
  %span.label.alert= unreleased_grades_count_for(course)

- @unreleased_grades_by_assignment.each do |assignment, grades|
  .assignment-unreleased
    %h4.assignment_name
      = link_to assignment.name, assignment
      - if assignment.is_individual?
        = link_to glyph(:check) + "Quick Grade", mass_grade_assignment_path(assignment), :class => "button"
      - else
        = link_to glyph(:check) + "Grade", assignment, :class => "button"

    = form_tag edit_status_grades_assignment_path(assignment), method: :get do
      = render "grades_management_table", { assignment: assignment, grades: grades, course: course }

      .submit-buttons
        .right
          = submit_tag "Update Selected Grade Statuses", :class => "button disabled", disabled: true, data: { behavior: "selected-unreleased-grades-command" }

  %hr.dotted