= content_nav_for "#{term_for :weight} Choices"

%h3.pagetitle= @title

.pageContent
  = render "layouts/alerts"

  - if current_course.has_teams?
    .team-filter
      = form_tag multiplier_choices_path, name: "see_team", :onchange => ("javascript: document.see_team.submit();"), :method => :get do
        %label
          .sr-only Select #{term_for :team}
        = select_tag :team_id, options_for_select(@teams.map { |t| [t.name, t.id] }, @team.try(:id)), :prompt => "– Select #{(term_for :team).titleize} –"

  %table.dynatable
    %thead
      %tr
        %th First Name
        %th Last Name
        - @assignment_types.each do |assignment_type|
          - if assignment_type.student_weightable?
            %th= assignment_type.name
        %th Fully Assigned?
        %th
    %tbody
      - @students.each do |student|
        %tr
          %td= link_to student.first_name, student_path(student)
          %td= link_to student.last_name, student_path(student)
          - @assignment_types.each do |assignment_type|
            - if assignment_type.student_weightable?
              %td= student.weight_for_assignment_type(assignment_type)
          %td
            = student.weight_spent?(current_course) ? "Yes" : "No"
          %td
            .right
              %ul.button-bar
                %li= link_to glyph(:edit) + "Edit #{term_for :weights}", assignment_type_weights_path(student_id: student.id), class: "button"
