= content_nav_for "Grading Status"

%h3.pagetitle= @title

.pageContent
  = render 'layouts/alerts'
  
  = render 'ungraded_submissions_table', :course => current_course

  = render 'unreleased_grades_table', :course => current_course

  = render 'in_progress_grades_table', :course => current_course