= content_nav_for "Grading Status"

%h3.pagetitle= @title

.pageContent
  = render "layouts/alerts"
  
  
  
  %ul
    - if @ungraded_submissions_by_assignment.present?
      %li
        %a{href: "#ungraded"} Ungraded Submissions
    - if @unreleased_grades_by_assignment.present?
      %li
        %a{href: "#unreleased"} Unreleased Grades
    - if @in_progress_grades_by_assignment.present?
      %li
        %a{href: "#in_progress"} In Progress Grades
    - if @resubmissions_by_assignment.present?
      %li
        %a{href: "#resubmitted"} Resubmissions

  .assignment_type{id: "assignment-type-#{assignment_type.id}" }
    %h3.collapse
      %a
        %i.fa.fa-angle-double-right.fa-fw
      .assignment-type-name #{assignment_type.name} – #{points assignment_type.total_points} points
    .collapse-hidden
    
  #ungraded= render partial: "submissions_table", locals: { submission_type: "ungraded", subtitle: "Ungraded Submissions", submissions_by_assignment: @ungraded_submissions_by_assignment, count: ungraded_submissions_count_for(current_course), course: current_course }

  #unreleased= render partial: "grades_table", locals: { grade_type: "unreleased", subtitle: "Unreleased Grades", grades_by_assignment: @unreleased_grades_by_assignment, count: unreleased_grades_count_for(current_course), course: current_course }

  #in_progress= render partial: "grades_table", locals: { grade_type: "in_progress", subtitle: "In Progress Grades", grades_by_assignment: @in_progress_grades_by_assignment, count: in_progress_grades_count_for(current_course), course: current_course }

  #resubmitted= render partial: "submissions_table", locals: { submission_type: "resubmissions", subtitle: "Resubmitted Submissions", submissions_by_assignment: @resubmissions_by_assignment, count: resubmission_count_for(current_course), course: current_course }
