.pageContent
  = render "layouts/alerts"

  .grading-status-card-wrapper
    .card.quarter
      .card-text
        .center.bold.inverse.large= ungraded_submissions_count_for(current_course)
        %h2.grading-status-name.center.inverse Ungraded Submissions

    .card.quarter
      .card-text
        .center.bold.inverse.large= in_progress_grades_count_for(current_course)
        %h2.grading-status-name.center.inverse In Progress Grades

    .card.quarter
      .card-text
        .center.bold.inverse.large= ready_for_release_grades_count_for(current_course)
        %h2.grading-status-name.center.inverse Ready For Release Grades

    .card.quarter
      .card-text
        .center.bold.inverse.large= resubmission_count_for(current_course)
        %h2.grading-status-name.center.inverse Resubmissions

  -# Ungraded submissions
  .ungraded-submissions-container{"role"=>"tablist"}
    .collapse-toggler{"role"=>"tab", "data-collapsed-class"=>"ng-hide"}
      %a{"href"=>"#"}
        %h3
          %i.fa.fa-chevron-circle-right.fa-fw
          Ungraded Submissions
    %grading-status-ungraded-submissions.collapsible{"data-course-has_teams"=>"#{current_course.has_teams?}",
                                                     "data-assignment-term"=>"#{term_for :assignment}",
                                                     "data-team-term"=>"#{term_for :team}",
                                                     "data-links-visible"=>"#{current_user_is_admin? || current_course.active?}",
                                                     "role"=>"tabpanel"}

    -# In progress grades
    %grading-status-grades{"data-course-has_teams"=>"#{current_course.has_teams?}",
                           "data-assignment-term"=>"#{term_for :assignment}",
                           "data-team-term"=>"#{term_for :team}",
                           "data-links-visible"=>"#{current_user_is_admin? || current_course.active?}",
                           "data-type"=>"InProgress"}

    -# Ready for release grades
    %grading-status-grades{"data-course-has_teams"=>"#{current_course.has_teams?}",
                           "data-assignment-term"=>"#{term_for :assignment}",
                           "data-team-term"=>"#{term_for :team}",
                           "data-links-visible"=>"#{current_user_is_admin? || current_course.active?}",
                           "data-type"=>"ReadyForRelease"}

  - if @resubmissions_by_assignment.present?
    .collapseSection{id: "resubmissions", role: "tablist"}
      .collapse{role: "tab"}
        %h3
          %i.fa.fa-chevron-circle-right.fa-fw
          Resubmissions
      .collapse-hidden{role: "tabpanel"}
        = render partial: "info/submissions_table", locals: { submission_type: "resubmissions", submissions_by_assignment: @resubmissions_by_assignment, course: current_course }
