= content_nav_for "#{term_for :assignment} Analytics"

%h3.pagetitle= @title

.pageContent
  = render "layouts/alerts"

  - @assignment_types.each do |assignment_type|
    - assignments_for_type = assignment_type.assignments
    - if assignments_for_type.select {|a| a.grades.graded_or_released.length > 1}.present?
      %h4.subtitle= assignment_type.name

      %table.dynatable
        %caption.sr-only= assignment_type.name
        %thead
          %tr
            %th{"scope" => "col"} Name
            %th{"scope" => "col"} Min
            %th{"scope" => "col"} Max
            %th{"scope" => "col"} Median
            %th{"scope" => "col"}
              Ave
              %a
                %i.fa.fa-info-circle
              .display_on_hover.hover-style
                The average of all grades, including those who earned zero
            %th{"scope" => "col"}
              Avg Earned
              %a
                %i.fa.fa-info-circle
              .display_on_hover.hover-style
                The average of all scores above zero
            %th{"scope" => "col"} Predicted
            %th Submissions
            %th Grades
            %th{:style => "min-width: 220px"}
        %tbody
          - assignments = assignments_for_type
          - assignments.each do |assignment|
            - if assignment.grades.graded_or_released.present?
              %tr
                %td= link_to assignment.name, assignment
                %td= points assignment.low_score
                %td= points assignment.high_score
                %td= points assignment.median
                %td= points assignment.average
                %td= points assignment.earned_average
                %td= points assignment.predicted_count
                %td
                  - if assignment.accepts_submissions?
                    = points assignment.submissions.count
                %th= points assignment.grade_count
                %th
                  %ul.button-bar.right
                    %li= link_to glyph(:check) + "Quick Grade", mass_edit_assignment_grades_path(assignment), class: "button"
                    %li= link_to glyph("cloud-download") + "Download Grades", export_assignment_grades_path(assignment, format: :csv), class: "button"
