.pageContent
  %span.label.alert= "You have #{@resubmission_count} resubmissions to grade"

  = team_filter(@teams) if current_course.has_teams?

  - @resubmissions.group_by(&:assignment).each do |assignment, resubmissions|
    %h5.section-title
      = link_to assignment.name, assignment

    %table.dynatable
      %caption.sr-only= "Resubmissions for #{assignment.name}"
      %thead
        %tr
          - if assignment.is_individual?
            %th{scope: "col", :width => "7%"} First Name
            %th{scope: "col", :width => "7%"} Last Name
            - if current_course.has_teams?
              %th{scope: "col", :width => "15%"}= "#{term_for :team}"
          - elsif assignment.has_groups?
            %th{scope: "col"} Group
          %th{scope: "col", :width => "7%"} Current Score
          %th{scope: "col", :width => "7%"} Graded
          %th{scope: "col", :width => "7%"} Resubmitted
          %th{scope: "col", :style => "min-width: 300px" }
            %span.sr-only Actions
      %tbody
        - resubmissions.each do |re|
          %tr
            - if re.assignment.is_individual?
              - grade = re.student.grade_for_assignment(re.assignment)
              %td= link_to re.student.first_name, student_path(re.student)
              %td= link_to re.student.last_name, student_path(re.student)
              - if current_course.has_teams?
                %td
                  - team = re.student.team_for_course(current_course)
                  - if team.present?
                    = link_to team.name, team
              %td= points grade.score
              %td= grade.graded_at.in_time_zone(current_user.time_zone)
              %td= re.submitted_at.in_time_zone(current_user.time_zone)
              %td
                .right
                  %ul.button-bar
                    %li= link_to decorative_glyph(:eye) + "See Submission", assignment_submission_path(re.assignment, id: re.id), class: "button"
                    = active_course_link_to decorative_glyph(:edit) + "Edit Grade", assignment_student_grade_path(re.assignment, re.student), method: :post, class: "button"
            - elsif re.assignment.has_groups?
              %td= link_to re.group.name, group_path(id: re.group.id)
              %td
              %td
              %td= re.submitted_at.in_time_zone(current_user.time_zone)
              %td
                .right
                  %ul.button-bar
                    %li= link_to re.group.name, group_path(re.group)
                    %li= link_to decorative_glyph(:eye) + "See Submission", assignment_submission_path(re.assignment.id, id: re.id), class: "button"
              %td
                - if current_user_is_admin? || current_course.active?
                  = link_to decorative_glyph(:check) + "Grade", grade_assignment_group_path(re.assignment, re.group), class: "button"
