= content_nav_for "Top 10/Bottom 10"

%h2.pagetitle= @title

.pageContent
  = render "layouts/alerts"

  %h3.subtitle Top 10

  = render partial: "students_table", locals: { course: current_course, :students => @top_ten_students }

  - if @bottom_ten_students.present?
    %h3.subtitle Bottom 10

    = render partial: "students_table", locals: { course: current_course, :students => @bottom_ten_students }

  - if current_course.teams.present?
    %h3.subtitle #{term_for :team} Overview
    = render partial: "teams_table", locals: { course: current_course, :teams => current_course.teams }
