%span.label.alert= "You have #{@ungraded_submissions_count} ungraded #{term_for :assignments}"

= team_filter(@teams) if current_course.has_teams?

%br

%table.dynatable
  %caption.sr-only Ungraded Submissions
  %thead
    %tr
      %th{scope: "col", :width => "10%"} Assignment
      %th{scope: "col", :width => "7%"} Name
      %th{"data-dynatable-sorts" => "submittedAt"} Date Submitted
      %th{:style => "display: none"} Submitted At
      %th Comment
      - if current_course.has_teams?
        %th{scope: "col", :width => "15%"}= "#{term_for :team}"
      %th{scope: "col", :style => "min-width: 200px"}
        %span.sr-only Actions
  %tbody
    - @ungraded_submissions.each do |submission|
      %tr
        %td= link_to submission.assignment.name, submission.assignment
        %td
          - if submission.assignment.is_individual?
            = link_to submission.student.try(:name), student_path(submission.student)
          - elsif submission.assignment.has_groups?
            = link_to submission.group.try(:name), group_path(submission.group)
        %td= submission.submitted_at
        %td{:style => "display: none"}= submission.submitted_at.to_formatted_s(:db) if submission.submitted_at.present?
        %td= raw sanitize_external_links submission.text_comment
        - if current_course.has_teams?
          %td
            - if submission.assignment.is_individual?
              = link_to submission.student.try(:name), student_path(submission.student)
            - elsif submission.assignment.has_groups?
              = link_to submission.group.try(:name), group_path(submission.group)
          %td= submission.submitted_at.in_time_zone(current_user.time_zone)
          %td{:style => "display: none"}= submission.submitted_at.to_formatted_s(:db) if submission.submitted_at.present?
          %td= raw sanitize_external_links submission.text_comment
          - if current_course.has_teams?
            %td
              - if current_course.has_teams? && submission.assignment.is_individual? && submission.student.present? && submission.student.team_for_course(current_course).present?
                = link_to submission.student.team_for_course(current_course).try(:name), submission.student.team_for_course(current_course)
          %td
            .right
              %ul.button-bar
                - if submission.assignment.is_individual?
                  %li= link_to decorative_glyph(:eye) + "See Submission",assignment_submission_path(submission.assignment, id: submission.id), class: "button"
                  = active_course_link_to decorative_glyph(:check) + "Grade", assignment_student_grade_path(submission.assignment, submission.student), method: :post, class: "button"
                - else
                  %li= link_to decorative_glyph(:eye) + "See Submission",assignment_submission_path(submission.assignment, id: submission.id), class: "button"
                  = active_course_link_to decorative_glyph(:check) + "Grade", grade_assignment_group_path(submission.assignment, submission.group), class: "button"
