- %w(57 60 72 114 120 144 152 180).each do |size|
  = favicon_link_tag "apple-touch-icon-#{size}x#{size}.png", rel: "apple-touch-icon", type: "image/png", sizes: "#{size}x#{size}"

- %w(16 32 96).each do |size|
  = favicon_link_tag "favicon-#{size}x#{size}.png", rel: "icon", type: "image/png", sizes: "#{size}x#{size}"

= favicon_link_tag "android-chrome-192x192.png", rel: "icon", type: "image/png", sizes: "192x192"
%link{:rel => "mask-icon", :color => "#5bbad5", :href => "/assets/safari-pinned-tab.svg", :sizes => "any"}
%link{ :rel => "manifest", :href => "/assets/manifest.json"}
%meta(name="msapplication-TileColor" content="#da532c")
%meta(name="msapplication-TileImage" content="mstile-144x144.png")
%meta(name="theme-color" content="#ffffff")
