.left
  %ul
    %li= link_to_unless_current "Research", research_path
    %li= link_to_unless_current "Press", press_path
    %li= link_to_unless_current "Team", our_team_path
    %li= link_to "Blog", "http://blog.gradecraft.com", :target => "_blank"
  %br
  .uppercase.small= "© 2012-#{Date.today.year} Regents of the University of Michigan"

.right
  %ul.social
    %li= link_to raw("<i class='fa fa-github fa-fw'></i>"), "https://github.com/UM-USElab/gradecraft-development", :target => "_blank"
    %li= link_to raw("<i class='fa fa-envelope fa-fw'></i>"), "mailto:help@gradecraft.com"
    %li= link_to raw("<i class='fa fa-twitter fa-fw'></i>"), "https://twitter.com/gradecraft", :target => "_blank"
    %li= link_to raw("<i class='fa fa-facebook fa-fw'></i>"), "https://facebook.com/gradecraft", :target => "_blank"