.footer-column.footer-column-1
  = image_tag "gradecraft_logo.png", :width => "150", :class => "footer-logo"
  %ul.footer-links
  .uppercase.small.michigan= "© 2012-#{Date.today.year} Regents of the University of Michigan"

.footer-column.footer-column-2
  %ul.social
    %li= link_to glyph(:envelope), "mailto:help@gradecraft.com", title: "Email help@gradecraft.com", 'aria-label': "help@gradecraft.com", class: "stealth_link"
    %li= link_to glyph(:twitter), "https://twitter.com/gradecraft", target: "_blank", title: "GradeCraft on Twitter", 'aria-label': "GradeCraft on Twitter", class: "stealth_link"
    %li= link_to glyph(:facebook), "https://facebook.com/gradecraft", target: "_blank", title: "GradeCraft on Facebook", 'aria-label': "GradeCraft on Facebook", class: "stealth_link"
  = render partial: "layouts/status"
