.form-item
  = f.label :media, "Media Image"
  = f.file_field :media
  - if model.media.present? && model.errors[:media].empty?
    %img{src: model.media, width: 40, alt: "Media Image" }
    = f.check_box :remove_media
    Remove Image

.form-item
  = f.label :media_credit, "Credit"
  = f.text_field :media_credit

.form-item
  = f.label :media_caption, "Caption"
  = f.text_field :media_caption
