.sidebar-container.hide-for-small.hide-for-medium
  / Staff-only sidebar navigation
  = render partial: "layouts/navigation/staff_subnav"

%main.mainContainer#main-content{role: "main", class: "staff"}
  = render partial: "layouts/course_publication"
  / Page content
  .mainContent
    .page-header
      = render partial: "layouts/alerts"
      = breadcrumbs
      %h1.pagetitle= title
      - if current_student.present?
        = yield(:context_menu)
      //= render partial: "info/staff_onboarding"

    = render partial: "layouts/content"
