.sidebar-container.hide-for-small.hide-for-medium
  / Staff-only sidebar navigation
  = render partial: "layouts/navigation/staff_subnav"

.mainContainer.staff{role: "main"}

  - if current_student.present?
    %h2.profileTitle= current_student.name
    = content_nav do
      = render partial: "students/student_profile_tabs"

  / Page content
  .mainContent= render partial: "layouts/content"
