.sidebar-container.hide-for-small.hide-for-medium
  / Staff-only sidebar navigation
  = render partial: "layouts/navigation/staff_subnav"

.mainContainer{role: "main", class: "staff"}

  / Page content
  .mainContent
    = breadcrumbs
    - if current_student.present?
      %h2.pagetitle= current_student.name
    - else
      %h2.pagetitle= title
    = render partial: "layouts/content"
