.sidebar-container.hide-for-small.hide-for-medium
  / Staff-only sidebar navigation
  = render "layouts/navigation/staff_subnav"

.mainContainer.staff{role: "main"}

  - if current_student.present?
    = content_nav do
      = render "students/student_profile_tabs"

  / Page content
  .mainContent{ class: (@display_sidebar ? "student" : "") }= render "layouts/content"

  - if @display_sidebar == true
    .student-sidebar
      = render "students/student_sidebar"
