.sidebar-container.hide-for-small.hide-for-medium
  / Staff-only sidebar navigation
  = render partial: "layouts/navigation/staff_subnav"

%main.mainContainer#main-content{role: "main", class: "staff"}
  = render partial: "layouts/course_publication"
  / Page content
  .mainContent
    - if current_student.present?
      .page-header
        = breadcrumbs
        %h1.pagetitle= current_student.name
    - else
      .page-header
        = breadcrumbs
        %h1.pagetitle= title
        = yield(:context_menu)
        .clear

    = render partial: "info/staff_onboarding"

    = render partial: "layouts/content"
