.sidebar-container.hide-for-small.hide-for-medium
  / Staff-only sidebar navigation
  = render partial: "layouts/navigation/staff_subnav"

.mainContainer{role: "main", class: "staff"}

  / Page content
  .mainContent
    - if current_student.present?
      .page-header
        = breadcrumbs
        %h2.pagetitle= current_student.name
    - else
      .page-header
        = breadcrumbs
        %h2.pagetitle= title
        = yield(:context_menu)
    = render partial: "layouts/content"
