.mainContainer.student{:role => "main"}
  / Display errors and notifications
  = render 'layouts/alerts'
  = content_nav do
    = render "students/student_profile_tabs"
  .student.mainContent= render 'layouts/content'
  .student-sidebar
    = render 'students/student_sidebar'