#left-flyout-nav.layout-left-flyout

.offscreen-sidebar
  - if current_user_is_staff?
    = render 'layouts/navigation/staff_subnav'
  - elsif current_user_is_student?
    .sidebar= render 'students/student_profile_tabs'

.layout-right-content
  %header
    .navbar.container
      - if current_user.present?
        %a.btn-navbar-left.btn-navbar-navtoggle.btn-flyout-left-trigger
          %i.fa.fa-dashboard.fa-fw
      %nav.the-nav.nav-collapse.hide-for-small.clearfix{:role => "navigation"}
        %ul.nav.nav-pill.left
          %li.course-site
            - if current_course
              %a.no-hover.site-title{:href => dashboard_path}
                %span.course.left= "#{current_course.courseno} "
                %span.course_name.left.hidden-med.hidden-sm= "#{current_course.name} "
                %span.course_semester.left.hidden-med.hidden-sm= "#{current_course.try(:semester)} #{current_course.try(:year)}"
                - if current_course.tagline?
                  %span.tagline.left.hidden-med.hidden-sm= current_course.try(:tagline)
            - else
              %a.no-hover.site-title{:href => root_url }
                = image_tag "gradecraft_logo.png", :width => "100"
        %ul.nav.nav-pill.right
          - if current_user
            = render 'layouts/navigation/authenticated_nav'
          - else
            = render 'layouts/navigation/overview_nav'
            = render 'layouts/navigation/login_nav'
      - if ! current_user
        %nav.mobile-nav.hidden-med-and-up
          %ul.nav.nav-pill.left
            %a.no-hover.site-title{:href => root_url }
              = image_tag "GradeCraft_Logo_Mark_RGB.png", :width => "28"
            = render 'layouts/navigation/overview_nav'

      - if current_user.present?
        %a.btn-navbar-right.btn-navbar-navtoggle.btn-flyout-right-trigger
          %i.fa.fa-user.fa-fw
#right-flyout-nav.layout-right-flyout