#left-flyout-nav.layout-left-flyout.visible-sm
.layout-left-content
  %header
    .navbar.container

      %nav.the-nav.nav-collapse.clearfix{:role => "navigation"}
        %ul.nav.nav-pill.pull-left
          %li
            %a.no-hover{:href => dashboard_path}
              - if current_course
                %span.course.left #{current_course.courseno}
                %span.course.left.show-for-medium-up= ": #{current_course.name}"
                - if current_course.tagline?
                  %span.tagline.left.show-for-large-up= current_course.try(:tagline)
              - else
                GradeCraft
        %ul.nav.nav-pill.pull-right
          - if current_user
            = render 'layouts/navigation/authenticated_nav'

      %a.btn-navbar-2.btn-navbar-navtoggle.btn-flyout-trigger
        %span.icon-bar.btn-flyout-trigger
        %span.icon-bar.btn-flyout-trigger
        %span.icon-bar.btn-flyout-trigger
#right-flyout-nav.layout-right-flyout.visible-sm