- if ! current_user
  = render partial: "layouts/navigation/top_bar_logged_out"
- else

  .offscreen-sidebar
    .sidebar
      .course-site
        %span.course= "#{current_course.courseno} "
        %span.course_name= "#{current_course.name} "
        %span.course_semester= "#{current_course.try(:semester)} #{current_course.try(:year)}"
    - if current_user_is_student?
      = render partial: "students/student_profile_tabs"
      %hr
    - elsif current_user_is_staff?
      = render partial: "layouts/navigation/staff_subnav"
    %a.course-info-btn-mobile
      %h5 Course Info
      = glyph("chevron-down")
    %ul.course-info
      = render partial: "layouts/navigation/class_info"
    %hr
    %h5 My Courses
    %ul.course-list
      = render partial: "layouts/navigation/course_list"
    %hr
    %ul.account-info
      = render partial: "layouts/navigation/account_info"
    %hr

  .layout-right-content
    %header
      .navbar.container
        %nav.the-nav.nav-collapse.clearfix{role: "navigation"}
          %ul.nav.nav-pill.left
            %li.course-site
              %a.no-hover.site-title{:href => dashboard_path}
                %span.course= "#{current_course.courseno} "
                %span.course_name= "#{current_course.name} "
                %span.course_semester= "#{current_course.try(:semester)} #{current_course.try(:year)}"
          %ul.nav.nav-pill.right
            %li.course-info-btn
              = link_to glyph('info-circle hidden-sm') + "Class Info", "#", title: "Quick information about #{current_course.name}", class: "section-title"
              %ul.course-info-card= render partial: "layouts/navigation/class_info"
            = render partial: "layouts/navigation/authenticated_nav"
        %a.btn-navbar-left.hide-for-large
          %i.fa.fa-bars.fa-fw
