- if ! current_user
  = render partial: "layouts/navigation/top_bar_logged_out"
- else
  = render partial: "layouts/navigation/offscreen_sidebar", locals: { presenter: presenter }

  .layout-right-content
    %header{role: "banner"}
      %div#skiptocontent
        = link_to "Skip to main content", "#main-content"
      .navbar.container
        %nav.the-nav.nav-collapse{class: ("preview-mode" if impersonating?), role: "navigation"}
          %ul.nav.nav-pill.left
            %li.course-site
              %a.no-hover.site-title{:href => dashboard_path}
                %span.course= "#{current_course.course_number} "
                %span.course_name= "#{current_course.name} "
                %span.course_semester= "#{current_course.try(:semester)} #{current_course.try(:year)}"

          - if impersonating?
            .release-preview-link= link_to glyph('eye-slash') + "Exit #{term_for :student} Preview", exit_student_impersonation_path
          %ul.nav.nav-pill.right
            - if current_course.announcements.present? && current_user_is_student?
            - unread_count = Announcement.unread_count_for current_student, current_course
              %li.announcement-btn.dropdown
                %button.icon-button.nav-button.announcement{type: "button"}
                  = decorative_glyph(:bell)
                  - if unread_count > 0
                    %div.notification-badge.announcement-notification-badge= unread_count
                .nav-dropdown-card-wrapper.dropdown-content
                  = render partial: "announcements/announcements_dropdown"
            - if accessible_to_app_env? && !current_course.has_paid? && current_user_is_staff?
              %li.course-info-btn.dropdown
                %button.icon-button.nav-button{type: "button"}= decorative_glyph('magic hidden-sm') + "Trial Account"
                .nav-dropdown-card-wrapper.dropdown-content
                  %ul.nav-dropdown-card
                    = render partial: "layouts/navigation/payment_options"
            - if presenter.has_info?
              %li.course-info-btn.dropdown
                %button.icon-button.nav-button{type: "button"}= decorative_glyph('info-circle hidden-sm') + "Class Info"
                .nav-dropdown-card-wrapper.dropdown-content
                  %ul.nav-dropdown-card
                    = render partial: "layouts/navigation/class_info", locals: { presenter: presenter }
            = render partial: "layouts/navigation/authenticated_nav"
        %a.btn-navbar-left.hide-for-large{"aria-label": "Mobile navigation"}
          %i.fa.fa-bars.fa-fw
