- if ! current_user
  = render partial: "layouts/navigation/top_bar_logged_out"
- else
  = render partial: "layouts/navigation/offscreen_sidebar", locals: { presenter: presenter }

  .layout-right-content
    %header{role: "banner"}
      .navbar.container
        %nav.the-nav.nav-collapse{class: ("preview-mode" if student_impersonation?), role: "navigation"}
          %ul.nav.nav-pill.left
            %li.course-site
              %a.no-hover.site-title{:href => dashboard_path}
                %span.course= "#{current_course.course_number} "
                %span.course_name= "#{current_course.name} "
                %span.course_semester= "#{current_course.try(:semester)} #{current_course.try(:year)}"

          - if student_impersonation?
            .release-preview-link= link_to glyph('eye-slash') + "Exit #{term_for :student} Preview", exit_student_impersonation_path
          %ul.nav.nav-pill.right
            - if presenter.has_info?
              %li.course-info-btn.dropdown
                = link_to glyph('info-circle hidden-sm') + "Class Info", "#", title: "Quick information about #{current_course.name}", class: "section-title", data: { behavior: "toggle-card", "target-selector" => ".course-info-card-wrapper" }
                %ul.course-info-card-wrapper.dropdown-content
                  .course-info-card
                    = render partial: "layouts/navigation/class_info", locals: { presenter: presenter }
            = render partial: "layouts/navigation/authenticated_nav"
        %a.btn-navbar-left.hide-for-large{"aria-label": "Mobile navigation"}
          %i.fa.fa-bars.fa-fw
