- cache ["v1", current_user]  do
  - cache ["v1", current_course]  do
    - cache ["v1", term_for(:students)]  do
      - cache ["v1", term_for(:assignments)] do
        - cache ["v1", term_for(:badges)] do
          - cache ["v1", term_for(:challenges)] do
            - cache ["v1", term_for(:teams)] do
              - cache ["v1", term_for(:groups)] do
                - cache ["v1", term_for(:assignment_types)] do
                  %nav.top-bar{:data => {'topbar' => true}}
                    %ul.title-area{:role =>'banner'}
                      - if current_user
                        %li.toggle-topbar.show-for-small.left-off-canvas-toggle.menu-icon
                          %a{:href => "#"}
                            %span
                      %li.name
                        %h1
                          %a(href="/dashboard")
                            - if current_course
                              %span.left #{current_course.courseno}
                              %span.left.show-for-large-up= ": #{current_course.name}"
                            - else
                              GradeCraft
                    - if current_course && current_course.tagline?
                      %section.top-bar-section.show-for-large-up
                        %ul.left.tagline
                          %li
                            %a= current_course.try(:tagline)
                    - if current_user
                      = render 'layouts/navigation/authenticated_nav'
                      %li.toggle-topbar.show-for-small.right-off-canvas-toggle
                        %a{:href => "#"}
                          %span
                            - if current_user.avatar_file_name.present?
                              %img.user_icon.img-rounded{:src => current_user.avatar_file_name, :width => 30, :height => 30}
                            - else
                              %i.fi-torso.user_icon
                  - if current_user
                    %aside.left-off-canvas-menu.show-for-small
                      %ul.off-canvas-list
                        - if current_user_is_staff?
                          = render 'layouts/navigation/staff_subnav_links'
                        - else
                          = render 'students/student_profile_tabs'
                    %aside.right-off-canvas-menu.show-for-small
                      %ul.off-canvas-list
                        = render 'layouts/navigation/course_list'
                        = render 'layouts/navigation/account_info'
