%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %title
      = "#{@title.titleize} - " if @title
      = current_course.try(:name) || "GradeCraft"
    = stylesheet_link_tag "application", :media => "all"
    = render partial: "layouts/favicon"
    = csrf_meta_tags
    = javascript_include_tag "https://cdn.statuspage.io/se-v2.js"
    = yield(:head)

  %body(class="#{body_class}" ng-app="gradecraft")
    - if current_user
      = render partial: "layouts/top_bar", locals: { presenter: Navigation::CourseInfoPresenter.new(course: current_course, student: current_student) }
      %a.nav-flyout-contentmask
      .inner-wrap
        - if current_user_is_staff?
          = render partial: "layouts/staff"
        - elsif current_user_is_student?
          = render partial: "layouts/student"
        - elsif current_user_is_observer?
          = render partial: "layouts/observer"
    - else
      = yield
    = render partial: "layouts/rollbar"
  %footer
    = render partial: "layouts/footer"
    = render partial: "layouts/help/zendesk"

  = render partial: "layouts/google_analytics"
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = yield(:scripts)
