%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %title
      = "#{@title.titleize} - " if @title
      = current_course.try(:name) || 'GradeCraft'
    = stylesheet_link_tag "application", :media => "all", media: "all"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
    = yield(:head)

  %body(class="#{body_class}")
    = render 'layouts/top_bar'
    .inner-wrap
      - if current_user
        - if current_user_is_staff?
          = render 'layouts/staff'
        - else
          = render 'layouts/student'
      - else
        = render 'layouts/public'
      .footer
        = render 'layouts/footer'
      = render 'layouts/background'
      = render 'layouts/google_analytics'
      = javascript_include_tag "application", 'data-turbolinks-track' => true