%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %title
      = "#{@title.titleize} - " if @title
      = current_course.try(:name) || "GradeCraft"
    = stylesheet_link_tag "application", :media => "all", media: "all"
    = csrf_meta_tags
    = yield(:head)

  %body(class="#{body_class}")
    = render "layouts/top_bar"
    .off-canvas-wrap{:"data-offcanvas" => true}
      .outer-wrap{role: "main"}

    - if current_user

      .inner-wrap.clearfix.predictor-inner
        = render "layouts/alerts"
        .show-for-medium-up
          = content_nav do
            = render "students/student_profile_tabs"
        = render "layouts/content"

      = render "layouts/help/uservoice"

    - else
      = render "layouts/public"
    .footer
      = render "layouts/footer"
    = render "layouts/background"
    = render "layouts/google_analytics"
    = javascript_include_tag "application", "data-turbolinks-track" => true