%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %title
      = "#{@title.titleize} - " if @title
      GradeCraft
    = stylesheet_link_tag "application", :media => "all"
    = render partial: "layouts/favicon"
    = csrf_meta_tags
    = javascript_include_tag "https://cdn.statuspage.io/se-v2.js"
    = yield(:head)

    %body(ng-app="gradecraft")
      = yield
      = render partial: "layouts/rollbar"

    = render partial: "layouts/help/zendesk"

    .footer
      = render partial: "layouts/footer"

    = render partial: "layouts/background"
    = render partial: "layouts/google_analytics"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = yield(:scripts)
