- cache collection_cache_key :current_user_current_courses, current_user.id, current_user.updated_at do
  - current_user.courses.alphabetical.each do |c|
    - cache ["v1", c] do
      - if c.active?
        %li= link_to raw("<i class ='fa fa-home fa-fw'></i> #{c.formatted_short_name} "), change_current_course_path(:course_id => c.id), :method => 'post'
    - if current_user_is_staff?
      %li= link_to raw("Create a New Course <i class='fa fa-angle-double-right fa-fw'></i>"), new_course_path

- cache collection_cache_key :current_user_archived_courses, current_user.id, current_user.updated_at do
  - if current_user.archived_courses.present?
    %hr.dotted.top-margin
    %h4.past-label Past Courses
    - current_user.courses.alphabetical.each do |c|
      - cache ["v1", c] do
        - if ! c.active?
          %li.archived= link_to raw("<i class ='fa fa-home fa-fw'></i>  #{c.formatted_short_name}"), change_current_course_path(:course_id => c.id), :method => 'post'
