.offscreen-sidebar
  .sidebar
    .course-site
      %p.course= "#{current_course.course_number} " + "#{current_course.try(:semester)} #{current_course.try(:year)}"
      %a.course-switcher-btn
        = glyph("caret-down")
        %p.course-name
          = "#{current_course.name} "
    .course-list-container
      %ul.course-list
        = render partial: "layouts/navigation/course_list"
    .mobile-menu-content
      - if current_user_is_student?
        .search
          = render partial: "layouts/navigation/course_search"
        = render partial: "layouts/navigation/student_profile_tabs"
      - elsif current_user_is_staff?
        = render partial: "layouts/navigation/staff_subnav"
      - elsif current_user_is_observer?
        = render partial: "layouts/navigation/observer_profile_tabs"
      -# %hr
      - if presenter.has_info?
        %a.course-info-btn-mobile
          %h3 Course Info
          = glyph("chevron-down")
        %ul.course-info
          = render partial: "layouts/navigation/class_info"
        -# %hr
      %ul.account-info
        = render partial: "layouts/navigation/account_info"
      -# %hr
