- cache ["v1", term_for(:students)]  do
  - cache ["v1", term_for(:assignments)] do
    - cache ["v1", term_for(:badges)] do
      - cache ["v1", term_for(:challenges)] do
        - cache ["v1", term_for(:teams)] do
          - cache ["v1", term_for(:groups)] do
            - cache ["v1", term_for(:assignment_types)] do
              %li.has-form{:role => "search"}
                .row.collapse
                  .large-10.small-9.columns
                    %label.sr-only{:for => "search-input"}
                      Search #{term_for :students}
                    %input.search-query#search-input{ 'data-autocompleteUrl' => autocomplete_student_name_students_path, :type => "text", :placeholder => "Search #{term_for :students}", :label => false }
                  .large-2.small-3.columns
                    %a.alert.button{ :href => "#" } Go

                %h5 Overview
                - if current_course.use_timeline?
                  %li
                    = link_to raw('<i class="fa fa-home fa-fw"></i> Timeline'), dashboard_path

                %li
                  = link_to raw('<i class="fa fa-list-ol fa-fw"></i> Leaderboard'), leaderboard_path
                %li
                  = link_to raw('<i class="fa fa-flag-checkered fa-fw"></i> Grading Status'), grading_status_path

                  %ul
                    %li
                      %a{:href => resubmissions_path}
                        %i.fa.fa-history.fa-fw
                        = "Resubmissions"
                    %li
                      %a{:href => ungraded_submissions_path}
                        %i.fa.fa-exclamation-triangle.fa-fw
                        = "Ungraded Submissions"


                - if current_course.student_weighted?
                  %li
                    = link_to raw("<i class='fa fa-cubes fa-fw'></i> #{term_for :weight} Choices"), multiplier_choices_path
                - if current_course.has_badges?
                  %li
                    = link_to raw("<i class='fa fa-shield fa-fw'></i> Awarded #{current_course.badge_term.pluralize}"), earned_badges_path

                %hr

                %h5 Coursework
                %li
                  = link_to raw("<i class='fa fa-bars fa-fw'></i> #{term_for :assignments}"), assignments_path
                - if current_course.has_badges?
                  %li
                    = link_to raw("<i class='fa fa-shield fa-fw''></i> #{term_for :badges}"), badges_path
                - if current_course.team_challenges?
                  %li
                    = link_to raw("<i class='fa fa-trophy fa-fw'></i> #{term_for :challenges}"), challenges_path

                %hr

                %h5 Analytics
                %li
                  = link_to raw('<i class="fa fa-star-half-empty fa-fw"></i> Top 10/Bottom 10'), analytics_top_10_path
                %li
                  = link_to raw('<i class="fa fa-bar-chart fa-fw"></i> System Analytics'), analytics_students_path
                %li
                  = link_to raw("<i class='fa fa-heartbeat fa-fw'></i> #{term_for :assignment} Analytics"), analytics_per_assign_path

                - if current_user_is_professor? || current_user_is_admin?
                  %hr

                  %h5 Downloads
                  %li
                    = link_to raw('<i class="fa fa-list-ul fa-fw"></i> Final Grades'), final_grades_path(format: 'csv')
                  %li
                    %a{:href => gradebook_path(format: 'csv')} <i class="fa fa-table fa-fw"></i> Full Gradebook
                  %li
                    %a{:href => export_all_scores_assignment_types_path(format: 'csv')} <i class="fa fa-th-large fa-fw"></i> #{term_for :assignment_type } Summaries

                  - if current_course.has_badges?
                    %li
                      %a{:href => export_earned_badges_path(format: 'csv')} <i class="fa fa-certificate fa-fw"></i> Awarded  #{current_course.badge_term.pluralize}


                %hr

                %h5 Users
                %li
                  = link_to raw("<i class='fa fa-user fa-fw'></i> #{term_for :students}"), students_path
                - if current_course.has_teams?
                  %li
                    = link_to raw("<i class='fa fa-users fa-fw'></i> #{term_for :teams}"), teams_path
                %li
                  = link_to raw("<i class='fa fa-user-plus fa-fw'></i> #{term_for :groups}"), groups_path
                %li
                  = link_to raw('<i class="fa fa-user-secret fa-fw"></i> Staff'), staff_index_path

                %hr

                %h5 Course Setup
                %li
                  = link_to raw('<i class="fa fa-cog fa-fw"></i> Options'), edit_course_path(current_course)
                %li
                  = link_to raw("<i class='fa fa-book fa-fw'></i> #{term_for :assignment_types}"), assignment_types_path
                %li
                  = link_to raw('<i class="fa fa-sliders fa-fw"></i> Predictor Preview'), predictor_preview_course_path(current_course)
                %li
                  = link_to raw('<i class="fa fa-level-up fa-fw"></i> Grading Scheme'), grade_scheme_elements_path
                %li
                  = link_to raw('<i class="fa fa-calendar fa-fw"></i> Calendar Events'), events_path

                - if LTIProvider.present?
                  %hr

                  %h5 Tools
                  - LTIProvider.all.each do |tool|
                    %li
                      = link_to raw("<i class='fa fa-external-link-square fa-fw'></i> #{tool.name}"), launch_lti_provider_path(tool)


                - if current_user_is_admin?
                  %hr

                  %h5 Admin
                  %li
                    = link_to raw('<i class="fa fa-user-times fa-fw"></i> All Users'), users_path
                  %li
                    = link_to raw('<i class="fa fa-university fa-fw"></i> Course Index'), courses_path
                  %li
                    = link_to raw('<i class="fa fa-check-square-o fa-fw"></i> Predictor Settings'), predictor_settings_course_path(current_course)
                  %li
                    = link_to raw('<i class="fa fa-photo fa-fw"></i> Timeline Settings'), timeline_settings_course_path(current_course)
