%ul{class: ("#{nav_class}" if local_assigns[:nav_class])}
  %h5 Navigation
  %li{class: ("active" if current_page?(dashboard_path)) }
    = link_to_unless_current "Dashboard", dashboard_path
  %li{class: ("active" if current_page?(assignments_path)) }
    = link_to_unless_current "#{term_for :assignments}", assignments_path
  - if current_course.grade_scheme_elements.present?
    %li{class: ("active" if current_page?(syllabus_path)) }
      = link_to_unless_current "Syllabus", syllabus_path
  %li{class: ("active" if current_page?(predictor_path)) }
    = link_to_unless_current "#{term_for :grade_predictor}", predictor_path
  - if current_course.has_badges?
    %li{class: ("active" if current_page?(badges_path)) }
      = link_to_unless_current "#{term_for :badges}", badges_path
  - if current_course.teams_visible? || current_course.has_in_team_leaderboards? || current_course.has_team_challenges?
    %li{class: ("active" if current_page?(teams_path)) }
      = link_to_unless_current "#{term_for :teams}", teams_path
